{include file="public/header-two" /}


{include file="public/location-two" /}

<div class="header">
   {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="content">
        <div class="suggest-wrap">
            <div class="auto-box">
                <div class="suggest-form">
                    <div class="suggest-header">
                        投诉建议 /
                        <small>Complaint proposal</small>
                    </div>
                    <div class="suggest-body">
                        <form class="form-horizontal" enctype="multipart/form-data" action=""   method="post" id="order">
                            <!--
                            <input class="ignore" data-val="true" data-val-number="The field Id must be a number." data-val-required="Id 字段是必需的。" id="Id" name="Id" type="hidden" value="0" />
                            <input class="ignore" id="TenantTypeId" name="TenantTypeId" type="hidden" value="" />
                            <input class="ignore" data-val="true" data-val-date="The field 创建日期 must be a date." data-val-required="创建日期 字段是必需的。" id="DateCreated" name="DateCreated" type="hidden" value="0001/1/1 0:00:00" />
                             -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label">您的投诉/建议：</label>
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" name="IsTousu" id="IsTousu1" value="0" checked>投诉
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="IsTousu" id="IsTousu2" value="1">建议
                                    </label>
                                </div>
                                <label class="col-sm-3 control-label">您的性别：</label>
                                <div class="col-sm-3">
                                    <label class="radio-inline">
                                        <input type="radio" name="IsMan" id="IsMan1" value="0" checked>先生
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="IsMan" id="IsMan2" value="1">女士
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">您的姓名：</label>
                                <div class="col-sm-9">
                                    <input class="form-control" data-val="true" data-val-required="必填" id="names" name="names" type="text" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="names" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">您的联系方式：</label>
                                <div class="col-sm-9">
                                    <input class="form-control" data-val="true" data-val-required="必填" id="CustomFieldsValue" name="CustomFieldsValue" type="text" value="" />
                                    <span class="field-validation-valid" data-valmsg-for="CustomFieldsValue" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">内容：</label>
                                <div class="col-sm-9">
                                <textarea class="form-control" cols="20" id="CustomFieldsValues" name="CustomFieldsValues" rows="2"></textarea>
                                    <span class="field-validation-valid" data-valmsg-for="CustomFieldsValues" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-block" id="submit">提    交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ajax 提交-->
<script>
    $("#order").submit(function(){
          var tousu = $("input[name='IsTousu']:checked").val();
          var isman = $("input[name='IsMan']:checked").val();
          var title  =$("input[name='names']").val();
          var phone = $("input[name='CustomFieldsValue']").val();
          var content  =$("#CustomFieldsValues").val();
          if(title==''|| title== undefined ||title==null){
              alert('请填写用户名！');
              return fasle;
          }
          if(phone =='' || phone==undefined || phone==null){
              alert('请填写联系方式！');
              return fasle;
          }
         $.ajax({
             url:"{:url('decoration/tousu')}",
             type:'post',
             data:{tousu:tousu,isman:isman,title:title,phone:phone,content:content},
             success:function(res){
                 if(res.code ==200){
                     alert("提交成功!");
                 }else{
                     alert("提交失败!");
                 }
             }
         })
    })
</script>

{include file="public/footer" /}


{include file="public/menu_right"  /}

<!-- 右侧悬浮：免费报价 -->
<div class="modal fade" id="priceModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">获取装修报价<small>Decorate for quotation</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="获取装修报价" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10">
                        <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">发送报价至手机</button></div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- 右侧悬浮：预约设计 -->
<!-- 主页 / 环保三防体系 / 预约设计 -->
<div class="modal fade" id="yuyuesheji" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">预约设计<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="预约设计" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10"><input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">预约设计</button></div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="guanwangzhuanshulibao">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">官网专属礼包<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="shangmenliangfang" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">上门量房<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即报名</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>


<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script src="__STATIC__/home/js/customer-common.js"></script>
<script src="__STATIC__/home/js/tj.js"></script>
</body>
</html>

