.protect-a {
    height: 1265px;
    background: url(../image/protect-a-bg.jpg) center 0 no-repeat
}

.pro-header {
    position: relative;
    padding-top: 150px;
    padding-bottom: 56px;
    text-align: center;
    margin-bottom: 70px
}

.pro-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -22px;
    width: 44px;
    height: 1px;
    background-color: #553a16
}

.pro-header h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: normal
}

.pro-header p {
    font-size: 55px
}

.protect-b-list {
    width: 780px;
    margin: 0 auto
}

.protect-b-list:before, .protect-b-list:after {
    content: " ";
    display: table
}

.protect-b-list:after {
    clear: both
}

.protect-b-list li {
    float: left;
    width: 100px;
    text-align: center
}

.protect-b-list li + li {
    margin-left: 70px
}

.protect-b-list li i {
    display: block;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    line-height: 70px;
    border: 1px solid #715c45;
    font-size: 42px;
    color: #715c45;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.protect-b-list li span {
    display: block;
    margin-top: 15px;
    font-size: 18px
}

.protect-b {
    height: 898px;
    background: url(../image/protect-b-bg.jpg) center 0 no-repeat
}

.protect-b .pro-header {
    color: #553a16
}

.protect-c {
    height: 1097px;
    background: url(../image/protect-c-bg.jpg) center 0 no-repeat
}

.protect-c .protect-c-list {
    margin-top: 80px
}

.protect-c .protect-c-list:before, .protect-c .protect-c-list:after {
    content: " ";
    display: table
}

.protect-c .protect-c-list:after {
    clear: both
}

.protect-c .protect-c-list li {
    float: left;
    width: 232px
}

.protect-c .protect-c-list li img {
    display: block;
    width: 232px
}

.protect-c .protect-c-list li + li {
    margin-left: 10px
}

.protect-d {
    height: 976px;
    background: url(../image/protect-d-bg.jpg) center 0 no-repeat
}

.protect-d-cont .zl-tag {
    display: block;
    width: 148px;
    height: 38px;
    line-height: 36px;
    border: 1px solid #45614d;
    text-align: center;
    font-size: 20px;
    margin: 0 auto
}

.protect-d-cont p {
    margin: 36px auto;
    width: 780px;
    font-size: 18px;
    line-height: 28px;
    color: #333333
}

.protect-e {
    height: 932px;
    background: url(../image/protect-e-bg.jpg) center 0 no-repeat
}

.protect-e .pro-e-header h4 {
    text-align: center;
    font-size: 55px;
    font-weight: normal;
    margin: 90px 0;
    color: #ffffff
}

.protect-e .pro-e-body {
    width: 874px;
    margin: 0 auto
}

.protect-e .pro-e-list:before, .protect-e .pro-e-list:after {
    content: " ";
    display: table
}

.protect-e .pro-e-list:after {
    clear: both
}

.protect-e .pro-e-list li {
    float: left;
    width: 407px;
    height: 515px;
    text-align: center;
    background: url(../image/pro-e-list-1.png) 0 0 no-repeat
}

.protect-e .pro-e-list li + li {
    margin-left: 60px;
    background: url(../image/pro-e-list-2.png) 0 0 no-repeat
}

.protect-e .pro-e-list li dl {
    height: 288px
}

.protect-e .pro-e-list li dl dt {
    padding-top: 82px;
    font-size: 36px;
    color: #ffffff;
    margin-bottom: 5px
}

.protect-e .pro-e-list li dl dd {
    font-size: 17px;
    color: #bfc0c1
}

.protect-e .pro-e-list li p {
    width: 310px;
    height: 120px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    color: #9c9d9e
}

.protect-e .pro-e-list li .btn {
    width: 205px;
    height: 46px;
    font-size: 18px;
    line-height: 32px;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px
}

/*# sourceMappingURL=topic-protect.css.map */
