{include file="public/header-two" /}

{include file="public/location-two" /}

<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <script src="__STATIC__/home/assets/plugins/jquery-pjax/jquery.pjax.js"></script>
    <div class="designer-detail-banner">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('designer/index')}">设计师</a></li>
                <li class="active"><span href="#">{$res.names}</span></li>
            </ol>
            <img src="{$res.img}" height="600" alt="" class="designer-img">
            <div class="designer-banner-form">
                <dl>
                    <dt>
                        {$res.names}
                        <!--<small>wen wu</small>-->
                    </dt>
                    <dd>首席设计师 / {$res.school} <i class="iconfont icon-jiantou2"></i></dd>
                </dl>
                <form>
                     <!--设计师 iD-->
                    <input type="hidden" name="de_channel" value="{$res.names}" />
                    <div class="form-group">
                        <input type="text" name="de_names" class="form-control" placeholder="您的称呼">
                    </div>
                    <div class="form-group">
                        <input type="text" name="de_phone" class="form-control" placeholder="您的电话">
                    </div>
                    <div class="form-group">
                        <input type="text" name="de_remark" class="form-control" placeholder="喜欢什么风格">
                    </div>
                    <div class="btn-wrap submit">
                        <button class="btn btn-block" id="designer">找TA设计</button>
                    </div>
                    <div class="wx-group">
                        <a class="wx-code" href="javascript:;">
                            <i class="iconfont icon-weixin"></i>获取优秀案例解析 >
                            <div class="drop-on">
                                <img src="__STATIC__/home/Images/chidu.jpg" alt="" />
                            </div>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="designer-tab">
        <ul class="designer-tab-ul">
            <li class="active"><a href="JavaScript:;">个人资料</a></li>
            <li><a href="JavaScript:;">所获荣誉</a></li>
        </ul>
        <div class="designer-tab-content">
            <div class="auto-box">
                <div class="designer-tab-body" style="display: block">
                    <div class="profile-dl-wrap">
                        <dl>
                            <dt>从业时间</dt>
                            <dd>{$res.job_time}</dd>
                        </dl>
                        <dl>
                            <dt>毕业院校</dt>
                            <dd>{$res.school}</dd>
                        </dl>
                        <dl>
                            <dt>诚信宣言</dt>
                            <dd>{$res.xuanyan}</dd>
                        </dl>
                        <dl>
                            <dt>设计理念</dt>
                            <dd>{$res.linian}</dd>
                        </dl>
                        <dl>
                            <dt>主要作品</dt>
                            <dd>{$res.zuoping}</dd>
                        </dl>
                    </div>
                </div>
                <div class="designer-tab-body">
                    <div class="designer-tab-l">
                        <div style="height:300px">
                            <ul class="honor-ul">
                                <p>{$res.rongyu}</p>
                            </ul>
                        </div>
                        <div>
                            <a class="btn btn-dark" href="javascript:void(0)" onclick="doyoo.util.openChat('g=10064078');return false;">咨询TA报价</a>
                              <!-- 注释 客服聊天-->
                            <!--<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001829/10063849.js"></script>-->
                        </div>
                    </div>
                    <div class="designer-tab-r">
                        <div class="designer-video-box">
                            <div>
                                <img src="{$res.r_img}" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- 设计案例-->
    <div class="content">
        <div class="auto-box">
            <div class="content-body">
                <div class="designer-panel">
                    <div class="designer-panel-header">
                        <strong>{$res.names}设计师案例</strong>
                    </div>
                    <div class="designer-panel-body">
                        <div class="case-list-wrap">
                            <ul class="case-list">
                                {notempty name="anlist" }
                                {volist name="anlist" id="vo" }
                                <li>
                                    <a href="{:url('residential/goodroom')}?id={$vo.id}" class="img-box">
                                        <img src="{$vo.logo}" alt="{$vo.ctitle}">
                                    </a>
                                    <a href="{:url('designer/detail')}?id={$vo.she_id}" class="user-img">
                                        <img src="{$vo.bimg}" alt="user">
                                    </a>
                                    <dl>
                                        <dt><a title="{$vo.ctitle}" href="{:url('residential/goodroom')}?id={$vo.id}">{$vo.ctitle}</a></dt>
                                        <dd><span>{$vo.ctitle}</span> | <span>{$vo.s_mianji?$vo.s_mianji:''}㎡</span> | <span>{$vo.dtitle}</span></dd>
                                    </dl>
                                </li>
                                {/volist}
                            </ul>

                            <nav class="text-center">
                                <ul class="pagination">
                                    {for start="0" end="$pages"}
                                    <li {if condition="$Think.get.PageIndex eq ($i+1) or $Think.get.PageIndex eq 0"}class="active" {else /} class=""{/if} ><a data-pjax="" href="{:url('designer/detail')}id={$Think.get.id}&PageIndex={$i <=0?'1':$i+1}">{$i+1}</a></li>
                                     {/for}
                                </ul>
                            </nav>
                            {else /}

                            {/notempty}

                        </div>
                    </div>
                </div>
                <div class="designer-panel">
                    <div class="designer-panel-header">
                        <strong>同类型设计师</strong>
                    </div>
                    <div class="designer-panel-body">
                        <ul class="designer-list">
                            {volist name="list" id="vo"}
                            <li class="">
                                <a href="{:url('designer/detail')}?id={$vo.id}">
                                    <div class="img-view">
                                        <img src="{$vo.img}" alt="">
                                    </div>
                                    <div class="designer-info">
                                        <h3>{$vo.names} <small>首席设计师</small></h3>
                                        <div class="item-wrap">
                                            <span>案例数：{$vo.counts|default=''}套</span>
                                            <span>从业经验：{$vo.job_year}年</span>
                                        </div>
                                        <p>{$vo.rongyu|mb_substr='0','15'}</p></div>
                                    <ul class="designer-control">
                                        <li><a href="JavaScript:;"><i class="iconfont icon-iconjiudianzhuanqu28"></i>我要咨询</a></li>
                                        <li><a href="JavaScript:;"><i class="iconfont icon-pingmianx"></i>免费平面规划</a></li>
                                    </ul>
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function () {
            $(document).pjax('a[data-pjax]', '.case-list-wrap', {
                scrollTo: false,
                replace: true
            });
        })
    </script>

    <script>
        $(function () {
            $('.designer-list li').hover(function () {
                $(this).addClass('hover');
            }, function () {
                $(this).removeClass('hover');
            })

            $('.designer-tab-ul li').click(function () {
                $(this).addClass('active').siblings('li').removeClass('active');
                $('.designer-tab-content .designer-tab-body').eq($(this).index()).stop(true, true).fadeIn(100).siblings('.designer-tab-body').hide();
            })
        })
    </script>
    <!--  "我要咨询"绑定“母版页2018”悬浮框“在线咨询” -->
    <script>
        $('.consult').click(function () {
            $('#consultation').trigger('click');
        });
    </script>

</div>

{include file="public/footer" /}

{include file="public/menu_right"/}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script>
    //预约设计师
    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //预约提交
    $("#designer").click(function(){
        var channel = $("input[name='de_channel']").val();
        var names = $("input[name='de_names']").val();
        var phone = $("input[name='de_phone']").val();
        var style = $("input[name='de_remark']").val();
        if (names == '' || names == undefined) {
            alert('请填写您的姓名！');
            return false;
        }else if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
            return false;
        }else if (style == '' || style == undefined){
            alert('请填写您喜欢的户型风格！');
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/designer')}",
                type:'post',
                data:{'channel':channel,'style':style,'names':names,'phone':phone},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })


</script>

</body>
</html>

