{include file="public/header-two" /}


{include file="public/location-two" /}

<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="case-banner" style="background-image:url(__STATIC__/home/Images/residentialcase_banner/suzhou.jpg)  ">
        <div class="auto-box">
            <div class="case-search">
                <div class="case-search-left">
                    <span>热装小区：</span>
                    <a class="" href="/ResidentialCase?residentialId=5685">太阳城</a>
                    <a class="" href="/ResidentialCase?residentialId=5586">荷澜庭</a>
                    <a class="" href="/ResidentialCase?residentialId=5599">龙湖时代天街</a>
                    <a class="" href="/ResidentialCase?residentialId=8245">禧悦</a>
                    <a class="" href="/ResidentialCase?residentialId=7948">狮山御园</a>
                    <a class="" href="/ResidentialCase?residentialId=2438">海德公园</a>

                </div>
                <div class="case-search-right">
                    <div class="search-group">
                        <form method="get" action="{:url('residential/areaid')}">
                            <input type="text" name="residential" value="{$Think.get.residential}" class="form-control" placeholder="搜索我家小区">
                            <button class="btn" type="submit"><i class="iconfont icon-fangdajing"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active"><a href="{:url('residential/index')}">装修案例</a></li>
                <li class="nav-type-select">
                    <!--<a href="{:url('residential/areaid')}">-->
                        <!--昆山市 <span class="close-btn">×</span>-->
                    <!--</a>-->
                </li>
            </ol>
            <div class="content-body">
                <table class="table table-bordered table-filer">
                    <tr>
                        <th>市区:</th>
                        <td>
                            <a  href="{:url('residential/areaid')}?rid=" {if condition="$Think.get.rid eq null"}  class="selected" {/if}>不限</a>
                             {volist name="region" id="vo"}
                            <a   {if condition="$Think.get.rid eq $vo.id"}  class="selected" {else /} class=""{/if} href="{:url('residential/areaid')}?rid={$vo.id}">{$vo.title}</a>
                             {/volist}
                        </td>
                    </tr>
                    <tr>
                        <th>风格:</th>
                        <td>
                            <a href="{:url('residential/areaid')}?sid=" {if condition="$Think.get.sid eq null"}  class="selected" {/if}>不限</a>
                              {volist name="style" id="vo" }
                            <a href="{:url('residential/areaid')}?rid={$Think.get.rid}&sid={$vo.id}"  {if condition="$Think.get.sid eq $vo.id"}  class="selected" {else /} class=""{/if} >{$vo.title}</a>
                              {/volist}
                        </td>
                    </tr>
                    <tr>
                        <th>户型:</th>
                        <td>
                            <a href="{:url('residential/areaid')}?hid=" {if condition="$Think.get.hid eq null"}  class="selected" {/if}>不限</a>
                              {volist name="huxing" id="vo"}
                            <a href="{:url('residential/areaid')}?rid={$Think.get.rid}&sid={$Think.get.sid}&hid={$vo.id}" {if condition="$Think.get.hid eq $vo.id"}  class="selected" {else /} class=""{/if}>{$vo.title}</a>
                              {/volist}
                        </td>
                    </tr>
                    <tr>
                        <th>面积:</th>
                        <td>
                            <a href="{:url('residential/areaid')}?mid="{if condition="$Think.get.mid eq null"}  class="selected" {/if}>不限</a>
                              {volist name="mianji" id="vo" }
                            <a href="{:url('residential/areaid')}?rid={$Think.get.rid}&sid={$Think.get.sid}&hid={$Think.get.hid}&mid={$vo.id}" {if condition="$Think.get.mid eq $vo.id"}  class="selected" {else /} class=""{/if}>{$vo.title}</a>
                               {/volist}
                        </td>
                    </tr>
                </table>
                <!-- todo 注释
                <div class="case-sort-wrap">
                    <span>排序：</span>
                    <a class="selected" href="/ResidentialCase?areaid=929">最热<i class="iconfont icon-xia"></i></a>|
                    <a class="" href="/ResidentialCase?areaid=929&amp;orderby=date"> 最新<i class="iconfont icon-shang"></i></a>
                </div>
                -->
                <div class="case-list-wrap">
                    <ul class="case-list">
                        {empty name='list'}

                        {else /}
                        {volist name="list" id="vo"}
                        <li>
                            <a href="{:url('residential/goodroom')}?id={$vo.id}" class="img-box">
                                <img src="{$vo.logo}" alt="{$vo.ctitle}">
                            </a>
                            <a href="{:url('designer/detail')}?id={$vo.she_id}" class="user-img">
                                <img src="{$vo.bimg}" alt="user">
                            </a>
                            <dl>
                                <dt><a title="{$vo.ctitle}" href="{:url('residential/goodroom')}?id={$vo.id}">{$vo.ctitle}</a></dt>
                                <dd><span>{$vo.htitle}</span> | <span>{$vo.s_mianji?$vo.s_mianji:'不明确'}㎡</span> | <span>{$vo.stitle}</span></dd>
                            </dl>
                        </li>
                        {/volist}
                        {/empty}
                    </ul>
                </div>
                  <!-- 分页-->
                <nav class="text-center">
                    <ul class="pagination">
                        <li class="active">{$list|raw}</li>
                    </ul>
                </nav>
                <div class="web-adv">
                    <img src="__STATIC__/home/image/web-adv.jpg" alt="">
                </div>
            </div>
        </div>
    </div>



    <script src="__STATIC__/home/assets/plugins/jquery-pjax/jquery.pjax.js"></script>
    <script>
        $(function () {
            $(document).pjax('a[data-pjax]', '.case-list-wrap', {
                //scrollTo: false,
                //replace:true
            });
        })
    </script>
</div>

{include file="public/footer" /}

{include file="public/menu_right"  /}

{include file="public/price" /}

{include file="public/yuyue" /}

<!-- 主页 / 装修工具箱 / 装修计算器 -->
<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected>3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected>1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected>1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected>1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected>1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积"><span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12"><input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">您的装修预算  <strong>132569</strong> 元</div>
                        <div class="calculate-img"><img src="/images/calculate-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修费用比例 -->
<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有703位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script src="__STATIC__/home/js/customer-common.js"></script>
<script src="__STATIC__/home/js/tj.js"></script>
</body>
</html>

