{include file="public/header-two" /}


{include file="public/location-two" /}

<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="case-banner" style="background-image:url(/Images/residentialcase_banner/suzhou.jpg)  ">
        <div class="auto-box">
            <div class="case-search">
                <div class="case-search-left">
                    <span>热装小区：</span>
                    <a class="" href="/ResidentialCase?residentialId=5685">太阳城</a>
                    <a class="" href="/ResidentialCase?residentialId=5586">荷澜庭</a>
                    <a class="" href="/ResidentialCase?residentialId=5599">龙湖时代天街</a>
                    <a class="" href="/ResidentialCase?residentialId=8245">禧悦</a>
                    <a class="" href="/ResidentialCase?residentialId=7948">狮山御园</a>
                    <a class="" href="/ResidentialCase?residentialId=2438">海德公园</a>

                </div>
                <div class="case-search-right">
                    <div class="search-group">
                        <form method="get" action="/ResidentialCase">


                            <input type="text" name="residential" class="form-control" placeholder="搜索我家小区">
                            <button class="btn" type="submit"><i class="iconfont icon-fangdajing"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active"><a href="/ResidentialCase">苏州案例</a></li>
                <li class="nav-type-select">
                    <a href="/ResidentialCase">
                        昆山市 <span class="close-btn">×</span>
                    </a>
                </li>
            </ol>
            <div class="content-body">
                <table class="table table-bordered table-filer">
                    <tr>
                        <th>市区:</th>
                        <td>
                            <a href="/ResidentialCase" class="">不限</a>
                            <a class=""
                               href="/ResidentialCase?areaid=930">太仓市</a>
                            <a class="selected"
                               href="/ResidentialCase?areaid=929">昆山市</a>
                            <a class=""
                               href="/ResidentialCase?areaid=928">张家港市</a>
                            <a class=""
                               href="/ResidentialCase?areaid=927">常熟市</a>
                            <a class=""
                               href="/ResidentialCase?areaid=926">吴江区</a>
                            <a class=""
                               href="/ResidentialCase?areaid=925">姑苏区</a>
                            <a class=""
                               href="/ResidentialCase?areaid=924">相城区</a>
                            <a class=""
                               href="/ResidentialCase?areaid=923">吴中区</a>
                            <a class=""
                               href="/ResidentialCase?areaid=922">虎丘区</a>
                            <a class=""
                               href="/ResidentialCase?areaid=921">市辖区</a>
                        </td>
                    </tr>
                    <tr>
                        <th>风格:</th>
                        <td>
                            <a href="/ResidentialCase?areaid=929"
                               class="selected">不限</a>
                            <a href="/ResidentialCase?styleId=1&amp;areaid=929"
                               class="">现代简约风格</a>
                            <a href="/ResidentialCase?styleId=3&amp;areaid=929"
                               class="">新古典风格</a>
                            <a href="/ResidentialCase?styleId=11&amp;areaid=929"
                               class="">新中式风格</a>
                            <a href="/ResidentialCase?styleId=20&amp;areaid=929"
                               class="">东南亚风格</a>
                            <a href="/ResidentialCase?styleId=402&amp;areaid=929"
                               class="">地中海风格</a>
                            <a href="/ResidentialCase?styleId=403&amp;areaid=929"
                               class="">北欧风格</a>
                            <a href="/ResidentialCase?styleId=400&amp;areaid=929"
                               class="">简欧风格</a>
                            <a href="/ResidentialCase?styleId=14&amp;areaid=929"
                               class="">混搭风格</a>
                            <a href="/ResidentialCase?styleId=4&amp;areaid=929"
                               class="">其他</a>
                            <a href="/ResidentialCase?styleId=404&amp;areaid=929"
                               class="">法式风格</a>
                            <a href="/ResidentialCase?styleId=405&amp;areaid=929"
                               class="">港式风格</a>
                            <a href="/ResidentialCase?styleId=415&amp;areaid=929"
                               class="">美式风格</a>
                            <a href="/ResidentialCase?styleId=417&amp;areaid=929"
                               class="">欧式</a>

                        </td>
                    </tr>
                    <tr>
                        <th>户型:</th>
                        <td>
                            <a href="/ResidentialCase?areaid=929"
                               class="selected">不限</a>
                            <a href="/ResidentialCase?roomHallId=532&amp;areaid=929"
                               class="">一居</a>
                            <a href="/ResidentialCase?roomHallId=535&amp;areaid=929"
                               class="">二居</a>
                            <a href="/ResidentialCase?roomHallId=549&amp;areaid=929"
                               class="">三居</a>
                            <a href="/ResidentialCase?roomHallId=551&amp;areaid=929"
                               class="">四居</a>
                            <a href="/ResidentialCase?roomHallId=552&amp;areaid=929"
                               class="">五居</a>
                            <a href="/ResidentialCase?roomHallId=548&amp;areaid=929"
                               class="">平层</a>
                            <a href="/ResidentialCase?roomHallId=543&amp;areaid=929"
                               class="">复式</a>
                            <a href="/ResidentialCase?roomHallId=530&amp;areaid=929"
                               class="">别墅</a>
                            <a href="/ResidentialCase?roomHallId=553&amp;areaid=929"
                               class="">办公空间</a>
                        </td>
                    </tr>
                    <tr>
                        <th>面积:</th>
                        <td>

                            <a href="/ResidentialCase?areaid=929"
                               class="selected">不限</a>
                            <a href="/ResidentialCase?squares=s90&amp;areaid=929"
                               class="">90㎡以下</a>
                            <a href="/ResidentialCase?squares=s90_120&amp;areaid=929"
                               class="">90-120㎡</a>
                            <a href="/ResidentialCase?squares=s121_180&amp;areaid=929"
                               class="">121-180㎡</a>
                            <a href="/ResidentialCase?squares=s181_320&amp;areaid=929"
                               class="">181-320㎡</a>
                            <a href="/ResidentialCase?squares=s321_500&amp;areaid=929"
                               class="">321-500㎡</a>
                            <a href="/ResidentialCase?squares=s500&amp;areaid=929"
                               class="">500㎡以上</a>
                        </td>
                    </tr>
                </table>
                <div class="case-sort-wrap">
                    <span>排序：</span> <a class="selected"
                                        href="/ResidentialCase?areaid=929">
                    最热<i class="iconfont icon-xia"></i>
                </a>|<a class="" href="/ResidentialCase?areaid=929&amp;orderby=date"> 最新<i class="iconfont icon-shang"></i></a>
                </div>
                <div class="case-list-wrap">

                    <ul class="case-list">
                        <li>
                            <a href="/ResidentialCase/Detail/64865?areaid=929" class="img-box">
                                <img src="http://picfw3.yzf.com.cn/100007/2018/7/29/2075085536942.jpg" alt="天润尚院">
                            </a>
                            <a href="/Designer/Detail/4141" class="user-img">
                                <img src="http://picfw3.yzf.com.cn/999999/2018/7/29/2075072262275.jpg" alt="user">
                            </a>
                            <dl>
                                <dt><a title="天润尚院" href="/ResidentialCase/Detail/64865?areaid=929">天润尚院</a></dt>
                                <dd><span>四居</span> | <span>230㎡</span> | <span>新中式风格</span></dd>
                            </dl>
                        </li>
                    </ul>






                </div>
                <div class="web-adv">
                    <img src="/images/web-adv.jpg" alt="">
                </div>
            </div>
        </div>
    </div>



    <script src="__STATIC__/home/assets/plugins/jquery-pjax/jquery.pjax.js"></script>
    <script>
        $(function () {
            $(document).pjax('a[data-pjax]', '.case-list-wrap', {
                //scrollTo: false,
                //replace:true
            });
        })
    </script>
</div>

{include file="public/footer" /}

<div class="fixed-menu-wrap">
    <ul class="fixed-menu">
        <li>
            <a href="javascript:void(0)" onclick="doyoo.util.openChat('g=10064078');return false;">
                <i class="iconfont icon-erjikefu"></i>
                <span>在线咨询</span>
            </a>
            <script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001829/10063849.js"></script>
        </li>
        <li>
            <a href="JavaScript:;" data-toggle="modal" data-target="#priceModal">
                <i class="iconfont icon-ERP_hetonghao"></i>
                <span>免费报价</span>
            </a>
        </li>
        <li>
            <a href="JavaScript:;" data-toggle="modal" data-target="#yuyuesheji">
                <i class="iconfont icon-pan_icon"></i>
                <span>预约设计</span>
            </a>
        </li>
        <li class="last">
            <a href="javascript:;">
                <i class="iconfont icon-erweima1"></i>
                <span>案例解析</span>
                <div class="drop-on">
                    <img src="/Images/ecode.jpg" />
                </div>
            </a>
        </li>
    </ul>
    <a id="scrollUp" href="javascript:;" class="go-top iconfont icon-jiantou3"></a>
</div>


<div id="fixed-bar-wrap" class="fixed-bar-wrap" style="z-index:20;">
    <div id="control-bar" class="control-bar"></div>
    <div class="fixed-white-box">
        <div class="fixed-white-l">
            <div class="fixed-panel-header">
                装修计算器
                <small>今天已有703位业主获取了装修预算</small>
            </div>
            <div class="fixed-panel-body">
                <form class="form-horizontal calculator-form">
                    <input name="channel" value="设计师报价计算器" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="squareMeters" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="phoneNumber" placeholder="报价结果将发送到您的手机">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button class="btn submit-label-btn">开始计算</button>
                        <span class="circle-animate"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="fixed-white-r">
            <h3>超精准计算，一步解决预算难题</h3>
            <div class="fixed-disc">
                您的装修预算 <strong id="zong">132569</strong> 元
            </div>
            <ul class="fixed-result">
                <li>材料费：<strong id="cai">87858</strong>元</li>
                <li>人工费：<strong id="ren">58962</strong>元</li>
                <li>设计费：<strong id="she">7853</strong>元</li>
                <li>质检费：<strong id="zhi">1223</strong>元</li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        var zong = $('#zong');
        var cai = $('#cai');
        var ren = $('#ren');
        var she = $('#she');
        var zhi = $('#zhi');
        var myArray = [[121459, 58365, 50497, 8218, 4379],
            [155424, 69322, 77284, 5373, 3445],
            [108289, 87732, 17309, 1583, 1665],
            [236859, 126580, 92027, 11769, 6483],
            [142826, 75720, 52404, 9717, 4985]];

        var i = 0;
        var timer = setInterval(function () {
            if (i > 4) {
                i = 0;
            }
            var arraySon = myArray[i];
            zong.text(arraySon[0]);
            cai.text(arraySon[1]);
            ren.text(arraySon[2]);
            she.text(arraySon[3]);
            zhi.text(arraySon[4]);
            i++
        }, 200);
    })
</script>

{include file="public/menu_right"  /}
<!-- 右侧悬浮：预约设计 -->
<!-- 主页 / 环保三防体系 / 预约设计 -->
<div class="modal fade" id="yuyuesheji" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">预约设计<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="预约设计" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10"><input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">预约设计</button></div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修计算器 -->
<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected>3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected>1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected>1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected>1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected>1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积"><span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12"><input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">您的装修预算  <strong>132569</strong> 元</div>
                        <div class="calculate-img"><img src="/images/calculate-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修费用比例 -->
<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有703位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script src="__STATIC__/home/js/customer-common.js"></script>
<script src="__STATIC__/home/js/tj.js"></script>
</body>
</html>

