{include file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">
    <script src="__STATIC__/home/assets/plugins/jquery-pjax/jquery.pjax.js"></script>
    <div class="hot-case-banner">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('residential/index')}">热装楼盘</a></li>
                <li class="active">{$result.title}</li>
            </ol>
            <dl class="banner-disc" title="{$result.content|raw}">
                <dt>{$result.title}</dt>
                <dd><i class="iconfont icon-dibiao1"></i><span>{$result.location}</span></dd>
                <dd><i class="iconfont icon-fangzi"></i><span>{$result.content|raw}</span></dd>
            </dl>
            <div class="banner-form">
                <h2>获取您的专属优惠</h2>
                <form>
                    <input name="y_channel" value="领取专属优惠" type="hidden" />
                    <div class="form-group">
                        <input type="text"   name="y_name"  class="form-control" placeholder="您的称呼">
                    </div>
                    <div class="form-group">
                        <input type="text"  name="y_phone" class="form-control" placeholder="接收短信号码">
                    </div>
                    <div class="form-group">
                        <input type="text"  name="y_xiao" class="form-control" placeholder="输入楼盘名称">
                    </div>
                    <div class="form-group submit">
                        <a class="btn btn-gold btn-block" id="youhui">发送至手机</a>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="hot-tab-nav">
        <div class="auto-box">
            <ul>
                <li class=""><a href="{:url('residential/detail')}?id={$Think.get.id}">楼盘案例（{$count}）</a></li>
                <li class=""><a href="{:url('residential/detail_fay')}?id={$Think.get.id}">看工地（{$gcount}）</a></li>
                <li class=""><a href="{:url('residential/detail_fayOver')}?id={$Think.get.id}">竣工实景图（0）</a></li>
                <li class="active"><a href="{:url('residential/detail_hall')}?id={$Think.get.id}">楼盘户型（{$hcount}）</a></li>
            </ul>
        </div>
    </div>
    <div class="hot-slide-wrap">
        <div class="auto-box">
            <div class="hot-slide">
                <div class="hot-hd">
                    <a class="iconfont icon-jiantou-right hot-next"></a>
                    <a class="iconfont icon-jiantou-left hot-prev"></a>
                </div>
                <div class="hot-bd">
                    <ul class="hot-List">
                        {volist name="info" id="vo" }
                        <li  {if condition="$Think.get.id eq $vo.id"} class="selected " {else /} class=''{/if}>
                            <a data-pjax=""  onclick="show_url('{$vo.id}','{$vo.re_id}')">
                                <div class="img-box">
                                    <img src="{$vo.h_img}" alt="">
                                    <div class="drop">{$vo.h_size|default=''}</div>
                                </div>
                                <div class="hot-type">{$vo.h_title|default=""}</div>
                            </a>
                        </li>
                       {/volist}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="hot-type-detail">
            <div class="hot-type-box">
                <div class="ht-main">
                    <span class="ht-tag">{$detail.h_title}</span>
                    <img src="{$detail.h_img}" alt="">
                    <div class="page-msg">
                        <!--1<small>/15</small>-->
                    </div>
                </div>
                <div class="ht-side">
                    <div class="ht-side-inner">
                        <div class="ht-side-a">
                            <h4>{$detail.h_title}</h4>
                            <div class="ht-disc"><span>{$detail.h_size|default=""}</span></div>
                        </div>
                        <div class="ht-side-b">
                            <h4>查看此小区五居：</h4>
                            <div class="b-disc">
                                <a href="{:url('residential/detail')}?id={$result.id}"><i class="iconfont icon-fangwuxinxi"></i><span>案例></span></a>
                                <a href="{:url('residential/detail_fay')}?id={$result.id}"><i class="iconfont icon-zhuangxiu"></i><span>工地></span></a>
                                <a href="{:url('Residential/detail_fayover')}?id={$result.id}"><i class="iconfont icon-jungong"></i><span>竣工></span></a>
                            </div>
                        </div>
                        <div class="ht-side-c">
                            <h4>户型解析：</h4>
                            <div class="c-disc">
                                {$detail.content|raw}
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="__STATIC__/home/assets/plugins/jquery.slimscroll.min.js"></script>
    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        $(function () {
            //if ($.support.pjax) {
            //    $(document).on('click', 'a[data-pjax]', function (event) {

            //        $.pjax.click(event, { container: containerSelector })
            //    })
            //}

            $(document).pjax('a[data-pjax]', '.content', {
                scrollTo: false,
                replace:true
            });
            $(document).on('pjax:send', function (data, status, xhr, options) {
                //$(".hot-List").children().removeClass("selected");
                //alert();
                $(data.relatedTarget).parent().siblings().removeClass("selected");
                $(data.relatedTarget).parent().addClass("selected");

            })
            $(".hot-slide").slide({
                prevCell: ".hot-prev",
                nextCell: ".hot-next",
                mainCell: ".hot-bd ul",
                autoPage: true,
                effect: "left",
                vis: 7
            });
            $('.ht-side-inner').slimScroll({
                height: 600 ,
                railVisible: true,
                alwaysVisible: true
            });
        })
    </script>
</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<script>

function show_url(id,reid){
    window.location.href="{:url('residential/detail_hall_two')}?id="+id+"&rid="+reid;
}

</script>

<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script>
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    $("#youhui").click(function(){
        var channel = $("input[name='y_channel']").val();
        var names = $("input[name='y_name']").val();
        var phone = $("input[name='y_phone']").val();
        var xiao = $("input[name='y_xiao']").val();
        if(isPhoneNo(phone)==false || phone ==''){
            alert('请填写正确的手机号码！');
            return false;
        }else if(names == '' || xiao==''){
            alert('小区地址或者用户姓名不能为空！');
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/youhui')}",
                type:'post',
                data:{'channel':channel,'names':names,'phone':phone,'xiao':xiao},
                success:function(res){
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })
</script>

</body>
</html>

