{include file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">

    <style>
        .footer {
            display: none !important;
        }

        .fixed-bar-wrap {
            display: none !important;
        }

        .fixed-menu-wrap {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_495875_ccwvsf9yas.css">
    <div class="bread-nav">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="/ResidentialCase">苏州案例</a></li>
                <li class="active">{$info.remen_lou}</li>
            </ol>
            <div class="right-control">
                <ul class="right-dropdown">
                    <!--<li data-toggle="modal" data-target="#downloadModal">保存至手机 <i class="iconfont icon-phone"></i></li>-->
                    <li class="wx-code">
                        案例每日更新 <i class="iconfont icon-weixin"></i>
                        <div class="drop-on">
                            <img src="/Images/ecode.jpg" alt="">
                        </div>
                    </li>
                    <li class="right-share">
                        分享 <i class="iconfont icon-fenxiang1"></i>
                        <div class="drop-share">
                            <div class="bshare-custom">
                                <div class="bsPromo bsPromo2"></div>
                                <a title="分享到微信" class="bshare-weixin iconfont icon-weixin"></a>
                                <a title="分享到新浪微博" class="bshare-sinaminiblog iconfont icon-weibo"></a>
                                <a title="分享到QQ空间" class="bshare-qzone iconfont icon-QQ"></a>
                                <a title="分享到i贴吧" class="bshare-itieba iconfont icon-baidu1"></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="case-detail-wrap" class="case-detail-wrap">
        <div class="case-detail-main">
            <div id="gallery" class="ad-gallery">
                <div class="ad-image-wrapper"></div>
                <div class="ad-disc open" style="opacity:0.8">
                    <dl class="ad-dl">
                        <div class="ad-disc-control">
                            <i class="iconfont icon-jiantou-shang-copy"></i>
                            <i class="iconfont icon-jiantou-xia-copy"></i>
                        </div>
                        <dt>本案例设计说明</dt>
                        <dd></dd>
                    </dl>
                </div>
                <div class="ad-bottom">
                    <a onclick="show_prev('false','{$Think.get.id}')" class="prev-suit" id="top">
                        <img src="/images/suit.jpg" alt="">
                        <span>上一套</span>
                    </a>
                    <div class="ad-nav">
                        <div class="ad-thumbs">
                            <ul class="ad-thumb-list">
                                {volist name="$info.img" id="vo" key="k"}
                                <li>
                                    <a href="{$vo}">
                                        <img src="{$vo}" class="image0">
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                    <a  onclick="show_prev('true','{$Think.get.id}')" class="next-suit" id="bottom">
                        <img src="/images/suit.jpg" alt="">
                        <span>下一套</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="case-detail-side">
            <div id="inner-content-div" class="case-side-inner">
                <div class="case-side-a">
                    <div class="case-a-tit">
                        <strong>{$info.remen_lou} </strong>
                        <!--<span>-->
                        <!--案例编号： <br>66332-->
                    <!--</span>-->
                    </div>
                    <div class="case-a-bd">{$info.huxing_lou}<span>|</span>{$info.loupan?$info.loupan:$info.s_mianji}㎡ <span>|</span>{$info.style_lou}</div>
                    <div class="case-designer">
                        <a href="{:url('designer/detail')}?id={$info.designer.id}" class="cd-hd">
                            <img src="{$info.designer.img}" alt="">

                        </a>
                        <div class="cd-bd">
                            <h4><a href="{:url('designer/detail')}?id={$info.designer.id}">{$info.designer.names} <i class="iconfont icon-jiantou2"></i></a></h4>
                            <p>{$info.jibie}</p>
                            <div class="cd-disc">
                                从业经验：{$info.designer.job_year} <br>
                                <!--案例数：32-->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="side-calculator">
                    <dl>
                        <dt>算一算装成这样多少钱？</dt>
                        <dd>超精准计算，一步解决预算问题</dd>
                    </dl>
                    <div class="calculator-screen"></div>
                    <form class="form-horizontal calculator-form">
                        <input name="gn_channel" value="攻略站报价计算器" type="hidden" />
                        <div class="form-group">
                            <div class="col-xs-4">
                                <select class="form-control  remark" name="gn_shi">
                                    <option value="1室">1室</option>
                                    <option value="2室">2室</option>
                                    <option value="3室" selected="">3室</option>
                                    <option value="4室">4室</option>
                                    <option value="5室">5室</option>
                                    <option value="6室">6室</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control remark" name="gn_ting">
                                    <option value="1厅" selected="">1厅</option>
                                    <option value="2厅">2厅</option>
                                    <option value="3厅">3厅</option>
                                    <option value="4厅">4厅</option>
                                    <option value="5厅">5厅</option>
                                    <option value="6厅">6厅</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <select class="form-control remark" name="gn_chu">
                                    <option value="1厨" selected="">1厨</option>
                                    <option value="2厨">2厨</option>
                                    <option value="3厨">3厨</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <select class="form-control remark" name="gn_wei">
                                    <option value="1卫" selected="">1卫</option>
                                    <option value="2卫">2卫</option>
                                    <option value="3卫">3卫</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <select class="form-control remark" name="gn_tai">
                                    <option value="1阳台" selected="">1阳台</option>
                                    <option value="2阳台">2阳台</option>
                                    <option value="3阳台">3阳台</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12 area">
                                <input type="text" class="form-control" name="gn_square" placeholder="输入您的房屋面积">
                                <span class="m2">㎡</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <input type="text" class="form-control" name="gn_phone" placeholder="报价结果将发送到您的手机上">
                            </div>
                        </div>
                        <div class="form-group btn-box submit">
                            <div class="col-xs-12">
                                <a class="btn btn-block" id="gongnue">发送至手机</a>
                            </div>
                        </div>
                    </form>
                </div>
                 <!--   装修常识-->
                <div class="side-panel">
                    <div class="side-panel-header">
                        <a href="{:url('infos/knows')}" class="more">更多》</a>
                        装修知识
                    </div>
                    <div class="side-panel-body">
                        <ul class="sense-list">
                            {volist name='know' id='vo'}
                            <li><a href="{:url('infos/kdetail')}?id={$vo.id}" title="{$vo.title}">·  {$vo.title}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>

               <!-- 热门案例-->
                <div class="side-panel">
                    <div class="side-panel-header">热门案例</div>
                    <div class="side-panel-body">
                        <ul class="hot-list">
                            {volist name="hot" id="vv"}
                            <li>
                                <a href="{:url('residential/goodroom')}?id={$vv.id}" title="{$vv.title}">
                                    <img src="{$vv.logo}" alt="">
                                    <span>{$vv.title|default=''} </span>
                                </a>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 关闭弹窗
    <div class="modal fade" id="downloadModal">
        <div class="modal-dialog yzf-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                保存至手机
                    <small>Save to phone</small>
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="Channel" value="预约设计" />
                        <div class="form-group">
                            <label class="col-xs-2 control-label">姓名</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" name="Name" placeholder="输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">手机</label>
                            <div class="col-xs-10">
                                <input type="text" class="form-control" name="PhoneNumber" placeholder="输入手机号">
                            </div>
                        </div>
                        <div class="form-group submit">
                            <div class="btn-wrap">
                                <button type="submit" class="btn btn-gold btn-block">点击发送</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    -->
    <script src="__STATIC__/home/assets/plugins/jquery-gallery/jquery.ad-gallery.js"></script>
    <script src="__STATIC__/home/assets/plugins/jquery.slimscroll.min.js"></script>
    <link rel="stylesheet" href="__STATIC__/home/assets/plugins/jquery-lightbox/css/lightbox.css">
    <script src="__STATIC__/home/assets/plugins/jquery-lightbox/js/lightbox.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=3&amp;lang=zh"></script>
    <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            iBShare.init();    //初始化
        });
        //bShare分享
        var iBShare = {
            //初始化
            init: function () {
                var $shareBox = $(".bshare-custom");
                $shareBox.children("a").click(function () {
                    bShare.addEntry({
                        title: '装修效果图',
                        url: window.location.href,
                        //summary: '摘要',
                        //pic: parents.attr("pic")
                    });
                });
            }
        }
    </script>
    <script>
        $(function () {
            // 案例详情
            var $caseDetailWrap = $('#case-detail-wrap');
            setCaseWrap();
            $(window).resize(function () {
                setCaseWrap()
            });

            function setCaseWrap() {
                var windowHeight = $(window).height();
                $caseDetailWrap.height(windowHeight - 158);
                $('#inner-content-div').slimScroll({
                    height: windowHeight - 158,
                    railVisible: true,
                    alwaysVisible: true
                });
            }

            $('.floor-body ul').slimScroll({
                height: 332,
                railVisible: true,
                alwaysVisible: true
            });
            $('.ad-gallery').adGallery({
                loader_image: '/images/loading.gif',
                cycle: false,
                slideshow: {
                    onStart: function () {
                        console.log(11111)
                    }
                }
            });
            $('.floor-show-wrap').hover(function () {
                $(this).toggleClass('open');
            })

            $('.ad-disc-control').click(function () {
                $(this).closest('.ad-disc').toggleClass('open');
            })

        })
    </script>
</div>
{include file="public/footer" /}
{include file="public/menu_right" /}
{include file="public/price" /}
{include file="public/yuyue" /}
{include file="public/libao" /}
<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>
<script>
    //装修攻略
    //手机正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    //攻略
    $("#gongnue").click(function(){
        var shi = $("select[name='gn_shi']").val();
        var ting = $("select[name='gn_ting']").val();
        var chu = $("select[name='gn_chu']").val();
        var wei = $("select[name='gn_wei']").val();
        var tai = $("select[name='gn_tai']").val();
        var channel = $("input[name='gn_channel']").val();
        var phone = $("input[name='gn_phone']").val();
        var square = $("input[name='gn_square']").val();
        if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
        }else if (square == '' ||square == undefined ){
            alert('请填写户型大小！');;
        }else{
            $.ajax({
                url:"{:url('api/send/libao')}",
                type:'post',
                data:{'channel':channel,'phone':phone,'square':square,'shi':shi,'ting':ting,'chu':chu,'wei':wei,'tai':tai},
                success:function(res){
                    console.log(res);
                    if(res.code == 2000){
                        alert(res.msg);
                        window.location.reload();
                    }else if(res.code==4001){
                        alert(res.code);
                    }else if(res.code== 4002){
                        alert(res.code);
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })
</script>
<script>
    //上一套 下一套 todo 存在bug
    function show_prev(obj,id){
        $.ajax({
            url:"{:url('index/residential/nextprev')}",
            type:'post',
            data:{'obj':obj,'id':id},
            success:function(res) {
               if(res.code == 4001){
                    $("#bottom img").attr('src',res.data.logo);
                    $("#bottom span").text('最后一套');
                    return false;
               }else if(res.code == 3003){
                   window.location.href="{:url('residential/goodroom')}?id="+res.data.id+1;
               }else if(res.code == 2001){
                   $("#bottom img").attr('src',res.data.logo);
                   $("#bottom span").text('下一套');
                   window.location.href="{:url('residential/goodroom')}?id="+res.data.id;
               }else if(res.ode == 4002){
                      //已经是首页
                    $("#top img").attr('src',res.data.logo);
                    $("#top span").text('第一套');
                    return false;
               }else if(res.code == 2002){
                   $("#top img").attr('src',res.data.logo);
                   $("#top span").text('上一套');
                   window.location.href="{:url('residential/goodroom')}?id="+res.data.id;
               }else{
                   window.location.href="{:url('residential/goodroom')}?id="+res.data.id-1;
               }
            }
        })
    }
</script>

</body>
</html>

