{include file="public/header-two" /}

{include file="public/location-two" /}

<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="hot-list-banner">
        <div class="auto-box">
            <div class="case-search">
                <div class="search-group">
                    <form method="get" action="{:url('residential/popular')}">
                        <input type="text" name="searchkey" value="{$Think.get.searchkey}" class="form-control" placeholder="搜索我家小区">
                        <button class="btn" type="submit"><i class="iconfont icon-fangdajing"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active">热装小区</li>
            </ol>
            <div class="content-body">
                <table class="table table-bordered table-filer">
                    <tr>
                        <th>市区:</th>
                        <td>
                            <a href="{:url('residential/popular')}" {if condition=" $Think.get.id eq null "}class="selected" {else /} class=""{/if}>不限</a>
                            {volist name="region" id="vo" }
                            <a  {if condition=" $Think.get.id eq $vo.id"} class="selected" {else /} class="" {/if}  href="{:url('residential/popular')}?id={$vo.id}">{$vo.title}</a>
                             {/volist}
                        </td>
                    </tr>
                </table>
                <div class="const-wrap">

                    <div class="const-main">
                        <div class="hot-z-wrap">
                            <ul class="hot-z-list">
                                {volist name="info" id="vo" }
                                <li>
                                    <div class="hpt-z-hd">
                                        <span class="tuangou">团购活动中</span>
                                        <a href="{:url('residential/detail')}?id={$vo.id}" class="img-box">
                                            <img src="http://picfw2.yzf.com.cn/UpLoadFile/Images/2015/12/3/龙湖.jpg" alt="楼盘图片" /></a>
                                    </div>
                                    <div class="hpt-z-bd">
                                        <div class="hpt-tit">
                                            <a href="{:url('residential/detail')}?id={$vo.id}">{$vo.title}</a>
                                            <span title="新区狮山路与塔园路交汇处（苏州乐园度假酒店东面）">{$vo.location|mb_substr='0','30'}<i class="iconfont icon-dibiao"></i></span>
                                        </div>
                                        <p>

                                        </p>
                                        <div class="hpt-disc">
                                            <span>案例数：17  </span>
                                            <span>实景工地：2  </span>
                                            <span>户型：0  </span>
                                        </div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                            <nav class="text-center">
                                <ul class="pagination">
                                    <li class="active">{$info|raw}</li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="const-side">
                        <div class="side-adv">
                            <a href="/s2017/qgkjby0901"><img src="/images/adv-1.png" alt=""></a>
                        </div>
                        <div class="side-calculator sm">
                            <dl>
                                <dt>获取楼盘专属优惠</dt>
                            </dl>
                            <form class="form-horizontal calculator-form">
                                <input name="Channel" value="获取楼盘专属优惠" type="hidden" />
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" placeholder="您的称呼">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" placeholder="接收短信号码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" placeholder="输入楼盘名称">
                                    </div>
                                </div>
                                <div class="form-group btn-box submit">
                                    <div class="col-xs-12">
                                        <button class="btn btn-block">发送至手机</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="side-panel">
                            <div class="side-panel-header">
                                最新楼盘
                            </div>
                            <div class="side-panel-body">
                                <ul class="phb-list">
                                    <li>
                                        <a href="/Residential/Detail/22241" title="中南世纪城">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>中南世纪城</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22240" title="苏州御园">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>苏州御园</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22239" title="世贸御珑墅">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>世贸御珑墅</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22162" title="万科精品家园">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>万科精品家园</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22109" title="金都城">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>金都城</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22108" title="桦林彩云城">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>桦林彩云城</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22107" title="南山檀郡">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>南山檀郡</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22077" title="新未来花园潇邦">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>新未来花园潇邦</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22076" title="绿地精粹">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>绿地精粹</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/22059" title="新创大河山">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>新创大河山</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="side-panel">
                            <div class="side-panel-header">
                                最热销楼盘
                            </div>
                            <div class="side-panel-body">
                                <ul class="phb-list">
                                    <li>
                                        <a href="/Residential/Detail/12522" title="新湖明珠城">
                                            <b> 吴江区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>新湖明珠城</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/15696" title="东方之门">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>东方之门</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/8245" title="白塘壹号">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>白塘壹号</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/15597" title="胥江城市花园">
                                            <b> 吴中区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>胥江城市花园</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/15700" title="苏高新天之运">
                                            <b> 市区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>苏高新天之运</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/15605" title="中粮祥云国际">
                                            <b> 相城区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>中粮祥云国际</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/7674" title="世茂石湖湾">
                                            <b> 吴中区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>世茂石湖湾</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/18921" title="和昌熙溪里">
                                            <b> 吴中区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>和昌熙溪里</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/15730" title="红星国际生活广场">
                                            <b> 吴中区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>红星国际生活广场</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/Residential/Detail/7991" title="九龙仓碧堤半岛">
                                            <b> 吴中区</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>九龙仓碧堤半岛</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}


{include file="public/menu_right"  /}

<!-- 右侧悬浮：免费报价 -->
<div class="modal fade" id="priceModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">获取装修报价<small>Decorate for quotation</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="获取装修报价" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10">
                        <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">发送报价至手机</button></div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 右侧悬浮：预约设计 -->
<!-- 主页 / 环保三防体系 / 预约设计 -->
<div class="modal fade" id="yuyuesheji" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">预约设计<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="预约设计" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10"><input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">预约设计</button></div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修计算器 -->
<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected>3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected>1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected>1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected>1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected>1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积"><span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12"><input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">您的装修预算  <strong>132569</strong> 元</div>
                        <div class="calculate-img"><img src="/images/calculate-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修费用比例 -->
<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有896位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 工期计算器 -->
<div class="modal fade" id="timeModal">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">工期计算器<small>今天已有2269位业主获取工程进度</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="工期计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">开工日期：</label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="2018年">2018</option>
                                                    <option value="2019年">2019</option>
                                                    <option value="2020年">2020</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1月">1月</option>
                                                    <option value="2月">2月</option>
                                                    <option value="3月">3月</option>
                                                    <option value="4月">4月</option>
                                                    <option value="5月">5月</option>
                                                    <option value="6月">6月</option>
                                                    <option value="7月">7月</option>
                                                    <option value="8月">8月</option>
                                                    <option value="9月">9月</option>
                                                    <option value="10月">10月</option>
                                                    <option value="11月">11月</option>
                                                    <option value="12月">12月</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1日">1日</option>
                                                    <option value="2日">2日</option>
                                                    <option value="3日">3日</option>
                                                    <option value="4日">4日</option>
                                                    <option value="5日">5日</option>
                                                    <option value="6日">6日</option>
                                                    <option value="7日">7日</option>
                                                    <option value="8日">8日</option>
                                                    <option value="9日">9日</option>
                                                    <option value="10日">10日</option>
                                                    <option value="11日">11日</option>
                                                    <option value="12日">12日</option>
                                                    <option value="13日">13日</option>
                                                    <option value="14日">14日</option>
                                                    <option value="15日">15日</option>
                                                    <option value="16日">16日</option>
                                                    <option value="17日">17日</option>
                                                    <option value="18日">18日</option>
                                                    <option value="19日">19日</option>
                                                    <option value="20日">20日</option>
                                                    <option value="21日">21日</option>
                                                    <option value="22日">22日</option>
                                                    <option value="23日">23日</option>
                                                    <option value="24日">24日</option>
                                                    <option value="25日">25日</option>
                                                    <option value="26日">26日</option>
                                                    <option value="27日">27日</option>
                                                    <option value="28日">28日</option>
                                                    <option value="29日">29日</option>
                                                    <option value="30日">30日</option>
                                                    <option value="31日">31日</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>10秒填写，获知装修工期进度</h3>
                        <ul class="fixed-result fixed-result-three">
                            <li>水电验收：<strong>2018-05-02</strong></li>
                            <li>中期验收：<strong>2018-05-25</strong></li>
                            <li>竣工验收：<strong>2018-06-15</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 2018装修吉日 -->
<div class="modal fade" id="luckyModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">查询2019装修吉日<small>今天已有2269位业主获取装修吉日</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="查询装修吉日" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">吉日</label>

                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1月">1月</option>
                                <option value="2月">2月</option>
                                <option value="3月">3月</option>
                                <option value="4月">4月</option>
                                <option value="5月">5月</option>
                                <option value="6月">6月</option>
                                <option value="7月">7月</option>
                                <option value="8月">8月</option>
                                <option value="9月">9月</option>
                                <option value="10月">10月</option>
                                <option value="11月">11月</option>
                                <option value="12月">12月</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1日">1日</option>
                                <option value="2日">2日</option>
                                <option value="3日">3日</option>
                                <option value="4日">4日</option>
                                <option value="5日">5日</option>
                                <option value="6日">6日</option>
                                <option value="7日">7日</option>
                                <option value="8日">8日</option>
                                <option value="9日">9日</option>
                                <option value="10日">10日</option>
                                <option value="11日">11日</option>
                                <option value="12日">12日</option>
                                <option value="13日">13日</option>
                                <option value="14日">14日</option>
                                <option value="15日">15日</option>
                                <option value="16日">16日</option>
                                <option value="17日">17日</option>
                                <option value="18日">18日</option>
                                <option value="19日">19日</option>
                                <option value="20日">20日</option>
                                <option value="21日">21日</option>
                                <option value="22日">22日</option>
                                <option value="23日">23日</option>
                                <option value="24日">24日</option>
                                <option value="25日">25日</option>
                                <option value="26日">26日</option>
                                <option value="27日">27日</option>
                                <option value="28日">28日</option>
                                <option value="29日">29日</option>
                                <option value="30日">30日</option>
                                <option value="31日">31日</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">查询结果发送至手机</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 环保三防体系 / 官网专属礼包 -->
<div class="modal fade" id="exclusiveModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    官网专属礼包
                    <small>The exclusive gift bag</small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="name" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*可与线下活动同时享用</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 看工地 / 服务流程 / 领官网礼包 -->
<div class="modal fade" id="guanwangzhuanshulibao">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">官网专属礼包<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="shangmenliangfang" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">上门量房<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即报名</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>


<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script src="__STATIC__/home/js/customer-common.js"></script>
<script src="__STATIC__/home/js/tj.js"></script>
</body>
</html>

