{include file="public/header-two" /}

{include file="public/location-two" /}

<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="hot-list-banner">
        <div class="auto-box">
            <div class="case-search">
                <div class="search-group">
                    <form method="get" action="{:url('residential/popular')}">
                        <input type="text" name="searchkey" value="{$Think.get.searchkey}" class="form-control" placeholder="搜索我家小区">
                        <button class="btn" type="submit"><i class="iconfont icon-fangdajing"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li class="active">热装小区</li>
            </ol>
            <div class="content-body">
                <table class="table table-bordered table-filer">
                    <tr>
                        <th>市区:</th>
                        <td>
                            <a href="{:url('residential/popular')}" {if condition=" $Think.get.id eq null "}class="selected" {else /} class=""{/if}>不限</a>
                            {volist name="region" id="vo" }
                            <a  {if condition=" $Think.get.id eq $vo.id"} class="selected" {else /} class="" {/if}  href="{:url('residential/popular')}?id={$vo.id}">{$vo.title}</a>
                             {/volist}
                        </td>
                    </tr>
                </table>
                <div class="const-wrap">

                    <div class="const-main">
                        <div class="hot-z-wrap">
                            <ul class="hot-z-list">
                                {volist name="info" id="vo" }
                                <li>
                                    <div class="hpt-z-hd">
                                        <span class="tuangou">团购活动中</span>
                                        <a href="{:url('residential/detail')}?id={$vo.id}" class="img-box">
                                            <img src="{$vo.img}" alt="" /></a>
                                    </div>
                                    <div class="hpt-z-bd">
                                        <div class="hpt-tit">
                                            <a href="{:url('residential/detail')}?id={$vo.id}">{$vo.title}</a>
                                            <span title="{$vo.title}">{$vo.location|mb_substr='0','30'}<i class="iconfont icon-dibiao"></i></span>
                                        </div>
                                        <p>

                                        </p>
                                        <div class="hpt-disc">
                                            <span>案例数：{$vo.anli} </span>
                                            <!-- todo 实景工地 未知-->
                                            <span>实景工地：0 </span>
                                            <span>户型：{$vo.huxing}  </span>
                                        </div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                            <nav class="text-center">
                                <ul class="pagination">
                                    {for start="0" end="$pages"}
                                    {empty name="Think.get.name"}
                                    <li {if condition="$Think.get.PageIndex eq ($i+1) or $Think.get.PageIndex eq 0"}class="active" {else /} class=""{/if}>
                                    <a data-pjax="" href="{:url('residential/popular')}?name={$Think.get.name}&PageIndex={$i<0?:$i+1}">{$i+1}</a></li>
                                    {else /}
                                    <li {if condition="$Think.get.PageIndex eq ($i+1) or $Think.get.PageIndex eq 0"}class="active" {else /} class=""{/if}>
                                    <a data-pjax="" href="{:url('residential/popular')}?id={$Think.get.id}&PageIndex={$i<0?:$i+1}">{$i+1}</a></li>
                                    {/empty}
                                    {/for}
                                </ul>
                            </nav>

                        </div>
                    </div>
                    <div class="const-side">
                        <div class="side-adv">
                            <a href="{:url('special/kjby')}"><img src="__STATIC__/home/image/adv-1.png" alt=""></a>
                        </div>
                        <div class="side-calculator sm">
                            <dl>
                                <dt>获取楼盘专属优惠</dt>
                            </dl>
                            <form class="form-horizontal calculator-form">
                                <input name="lp_channel" value="获取楼盘专属优惠" type="hidden" />
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" name="lp_names"  value='' class="form-control" placeholder="您的称呼">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" name="lp_phone"  value='' class="form-control" placeholder="接收短信号码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text"  name="lp_xiao"  value=''  class="form-control" placeholder="输入楼盘名称">
                                    </div>
                                </div>
                                <div class="form-group btn-box submit">
                                    <div class="col-xs-12">
                                        <button class="btn btn-block" type="button" id="loupan">发送至手机</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />
                        <div class="side-panel">
                            <div class="side-panel-header">
                                最新楼盘
                            </div>
                            <div class="side-panel-body">
                                <ul class="phb-list">
                                    {volist name="news" id="vo"}
                                    <li>
                                        <a href="{:url('residential/detail')}?id={$vo.id}" title="{$vo.title}">
                                            <b> {$vo.btitle|default=''}</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>{$vo.title}</span>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>

                        <div class="side-panel">
                            <div class="side-panel-header">
                                最热销楼盘
                            </div>
                            <div class="side-panel-body">
                                <ul class="phb-list">
                                    {volist name="hot" id="vo"}
                                    <li>
                                        <a href="{:url('residential/detail')}?id={$vo.id}" title="{$vo.title}">
                                            <b> {$vo.btitle|default=''}</b>
                                            <i class="iconfont icon-rexiaoloupan"></i>
                                            <span>{$vo.title}</span>
                                        </a>
                                    </li>
                                    {/volist}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}

{include file="public/menu_right"  /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>
<!--    获取楼盘专属优惠 提交-->
<script>
    //获取楼盘专属优惠 提交
    //手机正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    //预约提交
    $("#loupan").click(function(){
        var channel = $("input[name='lp_channel']").val();
        var names = $("input[name='lp_names']").val();
        var phone = $("input[name='lp_phone']").val();
        var xiao = $("input[name='lp_xiao']").val();
        if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
            return false;
        }else if (names == '' ||names == undefined ){
            alert('用户名不能为空！');
            return false;
        }else if(xiao==''||xiao==undefined){
            alert('楼盘名称不能为空！');
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/libao')}",
                type:'post',
                data:{'channel':channel,'names':names,'phone':phone,'xiao':xiao},
                success:function(res){
                    console.log(res);
                    if(res.code == 2000){
                        alert(res.msg);
                        window.location.reload();
                    }else if(res.code==4001){
                        alert(res.code);
                    }else if(res.code== 4002){
                        alert(res.code);
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })



</script>

</body>
</html>

