{include  file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">
    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('raiders/index')}">装修攻略</a></li>
                <li>装修风水</li>
                <li class="active">装修风水</li>
            </ol>
            <div class="list-filter">
                <ul>
                    <li class=""><a href="/DecorationRaiders/List/47?orderby=sortid">按浏览热度 <i class="iconfont icon-shang"></i></a></li>
                    <li class="active"><a href="/DecorationRaiders/List/47?orderby=DateCreated">按时间顺序 <i class="iconfont icon-xia"></i></a></li>
                </ul>
            </div>
            <div class="content-body">
                <div class="side-left">
                    <div class="side-panel">
                        <div class="side-panel-header">装修风水</div>
                        <div class="side-panel-body">
                            <ul class="side-list">
                                <li class=""><a href="/DecorationRaiders/List/104">户型</a></li>
                                <li class=""><a href="/DecorationRaiders/List/105">空间</a></li>
                                <li class=""><a href="/DecorationRaiders/List/108">其他</a></li>
                            </ul>
                        </div>
                    </div>


                    <div class="side-calculator">
                        <dl>
                            <dt>我家装修要花多少钱？</dt>
                            <dd>超精准计算，一步解决预算问题</dd>
                        </dl>
                        <div class="calculator-screen"></div>
                        <form class="form-horizontal calculator-form">
                            <input name="Channel" value="攻略站报价计算器" type="hidden" />
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="SquareMeters" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="PhoneNumber" placeholder="报价结果将发送到您的手机上">
                                </div>
                            </div>
                            <div class="form-group btn-box submit">
                                <div class="col-xs-12">
                                    <a class="btn btn-block">发送至手机</a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="side-adv">
                        <a target="_blank" href="http://wh.yzf.com.cn/s2017/qgkjby0901"><img src="/images/side-adv.jpg" alt=""></a>
                    </div>
                    <div class="side-adv">
                        <a><img src="/images/side-advlr.png" alt=""></a>
                    </div>





                    <div class="side-panel">
                        <div class="side-panel-header">

                            热门文章排行榜
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media">
                                <li>
                                    <a href="/DecorationRaiders/Detail/188" title="感受设计情怀，简美风格案例赏析 龙源国际城">
                                        <img src="http://picfw.yzf.com.cn/2017/12/6/1872013323427.jpg_360x255.jpg" alt="感受设计情怀，简美风格案例赏析 龙源国际城">
                                        <span>感受设计情怀，简美风格案例赏析 龙源国际城</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/258" title="暗香留心！业之峰，于岁月流转中不负芳华！">
                                        <img src="http://picfw.yzf.com.cn/2018/1/24/1914377488611.png_360x255.png" alt="暗香留心！业之峰，于岁月流转中不负芳华！">
                                        <span>暗香留心！业之峰，于岁月流转中不负芳华！</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/275" title="油漆后的家具为何会泛黄?怎样预防?">
                                        <img src="http://picfw.yzf.com.cn/100021/2018/2/3/1922774359130.jpg_360x255.jpg" alt="油漆后的家具为何会泛黄?怎样预防?">
                                        <span>油漆后的家具为何会泛黄?怎样预防?</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/288" title="买房风水禁忌 最宜居住的家居风水布局">
                                        <img src="http://picfw.yzf.com.cn/100021/2018/1/27/1916961741151.jpg_360x255.jpg" alt="买房风水禁忌 最宜居住的家居风水布局">
                                        <span>买房风水禁忌 最宜居住的家居风水布局</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/1356" title="【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》">
                                        <img src="http://picfw3.yzf.com.cn/wx/9e8402efb8bb4b5c80260b531fb2f931.jpg" alt="【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》">
                                        <span>【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <ul class="strategy-list">
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/15"><img src="http://picfw.yzf.com.cn/2016/1/13/1273042184137.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/15">打造旺文风水 这些风水不利于孩子学业</a></h3>
                                <p>科学合理地装修儿童居室，进行旺文风水布局。对培养儿童身心健康成长，提高学习成绩，养成独立生活能力，具有十分重要的意义。今天小编就为大家介绍一下哪些风水不利于孩子学习以及如何打造旺文风水，快来认识一下。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/14"><img src="http://picfw.yzf.com.cn/2016/1/13/1273041603995.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/14">哪些家居风水容易导致婆媳关系不和？</a></h3>
                                <p>如何处理好婆媳关系，是很多家庭都会面临的问题。那么从风水的角度来说，哪些家居布置会影响到婆媳关系呢？又有哪些方法可以改善呢？下面就跟着小编一起来了解一下吧。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/13"><img src="http://picfw.yzf.com.cn/2016/1/13/1273040641262.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/13">家居风水5大点 这些知识你听过吗?</a></h3>
                                <p>房门、玄关、卧室、阁楼……家居中的各个区域都有自己的风水讲究，倘若不多加注意的话，容易让自己的运势受到损害。今天就跟着小编一起来了解一下家居风水的知识吧。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/12"><img src="http://picfw.yzf.com.cn/2016/1/13/1273039935993.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/12">家居风水13问 一条一条帮你答!</a></h3>
                                <p>关于家居风水，小伙伴总是存在着各种各样的问题。例如床头靠窗好不好？床对洗手间好不好？房子缺角都有哪些影响？……别着急，下面小编就为你解答一下。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/11"><img src="http://picfw.yzf.com.cn/2016/1/13/1273039482269.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/11">家居台灯也讲风水 你平时注意过吗?</a></h3>
                                <p>台灯是家中常见的灯具之一，灯光的五行是属火的，可以散发更多的阳气，所以这台灯的选择以及摆放也是有一定的讲究的，不同的台灯有着不同的风水效果，当然其摆放的位置不同也是会有不同的风水效果的，下面小编就为大家具体的讲解一下。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/10"><img src="http://img2.525j.com.cn/files/Content/201512301611531251576.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/10">选窗帘也要看风水?对的 你没听错!</a></h3>
                                <p>窗帘价格适中，却能起到很好的装饰作用，因此不少家庭为了彰显生活的品味，在窗帘的选购上就会多花一点心思。窗帘的材质和样式非常的多样，那么什么样的窗帘能够帮助打造出良好的家居风水呢？别急，下面就跟着小编一起通过下面的内容来了解一下吧。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/9"><img src="http://picfw.yzf.com.cn/2016/1/13/1273038577563.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/9">玄关风水讲究多 一条一条看仔细咯！</a></h3>
                                <p>玄关又称斗室、过厅、门厅，是一个大门与客厅的家居过渡空间。家居设置玄关的目的是防止大门气流长驱直入客厅，同时可保家宅的私密性，可以说得上是两全其美。今天小编就为大家讲解一些家居玄关的风水讲究。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/5"><img src="http://picfw.yzf.com.cn/2016/1/24/1282548782583.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/5">电线也能影响风水？如何化解“火蛇煞”？</a></h3>
                                <p>电器等设备的使用，离不开电线，但是小编相信很多人都不知道，这些生活中常常被人们所忽视的电线的背后，也藏着很多不为人知的风水知识。不信？那就来看看下面的内容吧！</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2016-01-13</span>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{include file="public/footer" /}

{include file="public/menu_right"  /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}


<script src="__STATIC__/home/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

</body>
</html>