{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('raiders/index')}">装修攻略</a></li>
                <li class="active">空间榜样视频</li>
            </ol>
            <div class="list-filter">
                <ul>
                    <!--
                    <li class=""><a href="/DecorationRaiders/List/177?orderby=sortid">按浏览热度 <i class="iconfont icon-shang"></i></a></li>
                    <li class="active"><a href="/DecorationRaiders/List/177?orderby=DateCreated">按时间顺序 <i class="iconfont icon-xia"></i></a></li>
                    -->
                </ul>
            </div>
            <div class="content-body">
                <div class="side-left">
                    <div class="side-calculator">
                        <dl>
                            <dt>我家装修要花多少钱？</dt>
                            <dd>超精准计算，一步解决预算问题</dd>
                        </dl>
                        <div class="calculator-screen"></div>
                        <form class="form-horizontal calculator-form">
                            <input name="Channel" value="攻略站报价计算器" type="hidden" />
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="SquareMeters" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="PhoneNumber" placeholder="报价结果将发送到您的手机上">
                                </div>
                            </div>
                            <div class="form-group btn-box submit">
                                <div class="col-xs-12">
                                    <a class="btn btn-block">发送至手机</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="side-adv">
                        <a target="_blank" href="/"><img src="__STATIC__/home/image/side-adv.jpg" alt=""></a>
                    </div>
                    <div class="side-adv">
                        <a><img src="__STATIC__/home/image/side-advlr.png" alt=""></a>
                    </div>

                    <div class="side-panel">
                        <div class="side-panel-header">
                            热门文章排行榜
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media">
                                {volist name="re" id="vo"}
                                <li>
                                    <a href="{:url('raiders/z_detail')}?id={$vo.id}" title="{$vo.title}">
                                        <img src="{$vo.img}" alt="{$vo.title}">
                                        <span>{$vo.title}</span>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="main">
                    <ul class="strategy-list">
                        {volist name="list" id="vo" }
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="{:url('raiders/detail')}?id={$vo.id}"><img src="{$vo.img|default=''}" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="{:url('raiders/detail')}?id={$vo.id}">{$vo.title}</a></h3>
                                <p>{$vo.infos|default=''}</p>
                                <div class="strategy-control">
                                    <span class="pull-right">{$vo.time|date="Y-m-d"}</span>

                                </div>
                            </div>
                        </li>
                        {/volist}
                        <!--
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1534"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137258860494.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1534">《交换空间》 20180523 空间榜样</a></h3>
                                <p>本期节目主要内容：本期的话题是乡村慢生活。对于农民房的改造，设计师认为是对乡愁的一种向往、一种回忆。设计师整体的设计思路是以旧修旧，保留它的原始风貌。旧材料与新材料形成一种对比，产生了一种视觉和思想的碰撞。龙井雅舍这个作品，设计师就地取材，做了一些比较有当地特色的原创小物件，室内设计和室外设计融合贯通。（《交换空间》 20180523 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1533"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137252946833.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1533">《交换空间》 20180704 空间榜样</a></h3>
                                <p>本期节目主要内容：黎贝卡的家是一个非常有个性的家居空间，色彩搭配，家具摆放都是按照业主的喜好。谦谦之居空间的主人是一个单身男性花艺师，业主喜欢用鲜花和植物来点亮整个空间。榜三作品，设计师使用了黑空间和白空间的设计手法，空间大面积用了浅色地板和白色墙面。（《交换空间》 20180704 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1531"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137249583914.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1531">《交换空间》 20180530 空间榜样</a></h3>
                                <p>本期节目主要内容： 每个人的内心深处都住着一个孩子，有着一颗童心，每当一些丰富多彩、充满童趣的设计出现在眼前时，总能引起我们的喜悦与共鸣。很多时候，这些极具童趣感的设计，未必就一定是给儿童做的，成年人也会喜欢，好似召唤出了一个秘密花园，种植出最纯粹的快乐。（《交换空间》 20180530 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1530"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137244901444.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1530">《交换空间》 20180711 空间榜样</a></h3>
                                <p>本期节目主要内容： 艺术家陆蓉之的双亲已近百岁，意识和视力都不佳，设计师郭侠邑通过融入这个艺术世家独有的记忆元素，让老人的生活变得丰富多彩。设计师都晓朋设计的长者照料中心注重细节，不仅舒适，而且环境优雅，能为老人们带来生活乐趣，深得老人们的喜爱。（《交换空间》 20180711 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1529"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137238851354.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1529">《空间榜样》 20170902</a></h3>
                                <p>本期节目主要内容： 苏苏的家是简单、自然、纯粹的，家中的很多装饰都有一定的功能性，家中木质家具的搭配给人很温暖的感觉。建筑师夫妻俩对空间进行了重新布局，还增加了现代科技的机械感设计，低碳环保的原木饰面和白墙相互衬托，将温润自然的质感贯穿整体打造出一个具有人文情怀的生活空间。 （《空间榜样》 20170902）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1528"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137225934839.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1528">《交换空间》 20180912 空间榜样</a></h3>
                                <p>本期节目主要内容： 高立平从事室内设计工作超过二十年，他的作品多次荣获国内国际各大奖项，他强调设计师必须有深厚的文化底蕴，而不是浅层的视觉表象。本期节目的话题是“特色短租房”，高立平认为短租房不同于酒店、公寓，它极具经济实惠、自由松弛的特点。本期三套不同设计的短租房，高立平将会给出怎样独特的点评呢？（《交换空间》 20180912 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1527"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137218459428.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1527">《交换空间》 20180620 空间榜样</a></h3>
                                <p>本期节目主要内容： 高级灰，既是走在时尚前沿的流行色调，又是接近自然与生活的简单色彩。不但设计师对其偏爱有加，越来越多的人都与高级灰结下了不解之缘。与其说是源于其与生俱来的低调和优雅，不如说是高级灰身上散发的静谧气质，刚好与我们渴求安静的内心引起了强烈的共鸣。无论什么样的家居风格，只要与高级灰沾上边的，无不令人陶醉其中，难以自拔。 （《交换空间》 20180620 空间榜样）</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1526"><img src="http://picfw3.yzf.com.cn/100021/2018/10/9/2137101168313.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1526">《交换空间》 20180103 空间榜样</a></h3>
                                <p>本期节目主要内容： 本期节目带来的三个空间榜样作品为：《原木风情》、《河岸人家》和《木头之家》。《原木风情》用了简洁的设计，让人感觉自然而淳朴，在解决基础功能后，让整个空间更加真实，让设计回归原点，用减法决定整个空间的面貌。《河岸人家》作品的设计风格是美式乡村，以舒适为主导。更多精彩，敬请关注。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-10-09</span>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="strategy-hd">
                                <span class="strategy-tag">推荐</span>
                                <a href="/DecorationRaiders/Detail/1460"><img src="http://picfw3.yzf.com.cn/100021/2018/9/13/2114575482798.jpg" alt=""></a>
                            </div>
                            <div class="strategy-bd">
                                <h3><a href="/DecorationRaiders/Detail/1460">《交换空间》 20180912 空间榜样</a></h3>
                                <p>高立平从事室内设计工作超过二十年，他的作品多次荣获国内国际各大奖项，他强调设计师必须有深厚的文化底蕴，而不是浅层的视觉表象。</p>
                                <div class="strategy-control">
                                    <span class="pull-right">2018-09-13</span>

                                </div>
                            </div>
                        </li>
                        -->
                    </ul>


                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}



<script src="__STATIC__/home/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

</body>
</html>