{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">
    <style>
        .bj-a {
            position: relative;
        }

        .bt-bm2 {
            position: absolute;
            width: 200px;
            height: 60px;
            margin: auto;
            left: 0;
            right: 0;
            top: 280px;
        }
    </style>
    <link rel="stylesheet" href="__STATIC__/home/css_/topic-pmbj5.css" />
    <div class="bj-a">
        <a class="bt-bm2" href="#b-a">
        </a>
    </div>
    <div class="bj-b">
        <div class="auto-box">
            <video id="myvideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="__STATIC__/home/Images/bj-video.jpg" data-setup="{}">
                <source src="http://picfwoss.yzf.com.cn/zt/spaceExample2018_11_16.mp4" type="video/mp4">
                <p class="vjs-no-js"> 这个浏览器不支持打开 HTML5 video,建议复制链接到手机默认浏览器打开</p>
            </video>
            <a name="b-a" id="b-a"></a>
            <div class="bj-b-tit">环保装修价格高？担心超预算？立即算一算</div>

            <div class="calculate-box">
                <div class="js-wrap">
                    <div class="js-a">
                        <div class="js-value" id="zong">8888888888</div>
                        <span>总价格</span>
                    </div>
                    <div class="js-b">
                        <table class="js-table">
                            <tr>
                                <th>基础工程明细</th>
                                <th>主材明细</th>
                                <th>家具家电</th>
                            </tr>
                            <tr>
                                <td>水路：<span id="count-1">168146</span></td>
                                <td>瓷砖：<span id="count-2">168146</span></td>
                                <td>移动家具：<span id="count-3">168146</span></td>
                            </tr>
                            <tr>
                                <td>电路：<span id="count-4">168146</span></td>
                                <td>地板：<span id="count-5">168146</span></td>
                                <td>定制家具：<span id="count-6">168146</span></td>
                            </tr>
                            <tr>
                                <td>木工：<span id="count-7">168146</span></td>
                                <td>木门：<span id="count-8">168146</span></td>
                                <td>家电：<span id="count-9">168146</span></td>
                            </tr>
                            <tr>
                                <td>瓦工：<span id="count-10">168146</span></td>
                                <td>橱柜：<span id="count-11">168146</span></td>
                                <td>灯具：<span id="count-12">168146</span></td>
                            </tr>
                            <tr>
                                <td>油工：<span id="count-13">168146</span></td>
                                <td>洁具：<span id="count-14">168146</span></td>
                                <td>软装配饰：<span id="count-15">168146</span></td>
                            </tr>
                        </table>
                        <div class="table-dis">最新优惠活动：<span id="hd">0</span>元</div>
                    </div>
                </div>
                <form class="js-form">
                    <input type="hidden" name="z_channel" value="算算我家房子装修花多少钱" />
                    <div class="js-group">
                        <div class="js-input area required">
                            <input type="text" name="z_square" placeholder="输入面积" value="">
                        </div>
                    </div>
                    <div class="js-group">
                        <div id="select-hx" class="js-input select">
                            <input type="text" name="z_remark" value="" placeholder="请选择您的户型" readonly>
                        </div>
                    </div>
                    <div class="js-group">
                        <div class="js-input required">
                            <input type="text" name="z_phone" placeholder="输入接收报价手机号码" value="">
                        </div>
                    </div>
                    <div class="js-btn-wrap submit">
                        <button class="js-btn" type='button' id="zhuangxiu_jisuan" >立即计算</button>
                        <div class="btn-disc">计算结果将发送至手机</div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="bj-c">
        <img src="__STATIC__/home/Images/bj-c.gif" />
    </div>
    <div class="bj-d"></div>
    <div id="hx-model" class="drop-model">
        <div class="hx-box">
            <div class="hx-header"><strong>选择您的户型</strong></div>
            <div class="hx-body">
                <ul class="hx-list">
                    <li>
                        <a href="JavaScript:;">1室</a>
                        <a class="active" href="JavaScript:;">2室</a>
                        <a href="JavaScript:;">3室</a>
                        <a href="JavaScript:;">4室</a>
                        <a href="JavaScript:;">5室</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1厅</a>
                        <a href="JavaScript:;">2厅</a>
                        <a href="JavaScript:;">3厅</a>
                        <a href="JavaScript:;">4厅</a>
                        <a href="JavaScript:;">5厅</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1卫</a>
                        <a href="JavaScript:;">2卫</a>
                        <a href="JavaScript:;">3卫</a>
                        <a href="JavaScript:;">4卫</a>
                        <a href="JavaScript:;">5卫</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1阳台</a>
                        <a href="JavaScript:;">2阳台</a>
                        <a href="JavaScript:;">3阳台</a>
                        <a href="JavaScript:;">4阳台</a>
                        <a href="JavaScript:;">5阳台</a>
                    </li>
                </ul>
            </div>
            <div class="hx-footer">
                <button id="closed-hx" class="js-btn">确定</button>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://dsp.yzf.com.cn/assets/plugins/vide7.1.0/css/video-js.min.css">
    <script src="https://dsp.yzf.com.cn/assets/plugins/vide7.1.0/js/video.min.js"></script>
    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        $(function () {
            var myPlayer = videojs('myvideo');
            videojs("myvideo").ready(function () {
                var myPlayer = this;
                myPlayer.currentTime(0);

            });

            myPlayer.on("play", function () {
                myPlayer.currentTime(0);
            });


            var zong = $('#zong');
            var count1 = $('#count-1');
            var count2 = $('#count-2');
            var count3 = $('#count-3');
            var count4 = $('#count-4');
            var count5 = $('#count-5');
            var count6 = $('#count-6');
            var count7 = $('#count-7');
            var count8 = $('#count-8');
            var count9 = $('#count-9');
            var count10 = $('#count-10');
            var count11 = $('#count-11');
            var count12 = $('#count-12');
            var count13 = $('#count-13');
            var count14 = $('#count-14');
            var count15 = $('#count-15');
            var myArray = [[81459, 5365, 5497, 8218, 4379, 3660, 15320, 4500, 4556, 7500, 6007, 5373, 3445, 9660, 5230, 8513],
                [65424, 9322, 7284, 5373, 3445, 9660, 5230, 8513, 9320, 7003, 9203, 9207, 11769, 6483, 5373, 3445],
                [70289, 7732, 1309, 1583, 1665, 4379, 3660, 15320, 4500, 4556, 7500, 5240, 9717, 4985, 1665, 4379],
                [136859, 11580, 9207, 11769, 6483, 5373, 3445, 9660, 5230, 8513, 9320, 7732, 1309, 1583, 1665, 4379],
                [242826, 5720, 5240, 9717, 4985, 1665, 4379, 3660, 15320, 4500, 4556, 5365, 5497, 8218, 4379, 3660]];

            var i = 0;
            var timer = setInterval(function () {
                if (i > 4) {
                    i = 0;
                }
                var arraySon = myArray[i];
                zong.text(arraySon[0]);
                count1.text(arraySon[1]);
                count2.text(arraySon[2]);
                count3.text(arraySon[3]);
                count4.text(arraySon[4]);
                count5.text(arraySon[5]);
                count6.text(arraySon[6]);
                count7.text(arraySon[7]);
                count8.text(arraySon[8]);
                count9.text(arraySon[9]);
                count10.text(arraySon[10]);
                count11.text(arraySon[11]);
                count12.text(arraySon[12]);
                count13.text(arraySon[13]);
                count14.text(arraySon[14]);
                count15.text(arraySon[15]);
                i++
            }, 200);


            var ran = 100;
            var range = 50000;
            var myNumber;

            /*将产生随机数的方法进行封装*/
            function sjs(range) {
                ran = Math.random() * range;//[0,range)的随机数
                var result = parseInt(ran);//将数字转换成整数
                return result;
            }

            /*对显示随机数的方法进行封装*/
            function showRandomNum() {
                var figure = sjs(range);
                $("#hd").text(figure);
            }

            myNumber = setInterval(showRandomNum, 100);//多长时间运行一次


            $('#select-hx').click(function () {
                $('#hx-model').stop(true, true).fadeIn(100);
            });
            $('#closed-hx').click(function () {
                $('#hx-model').stop(true, true).fadeOut(100);

                selectHX();
            });

            // 户型选择
            function selectHX() {
                var str = '';
                $('.hx-list .active').each(function () {
                    str += $(this).text() + ' ';
                });
                $('#select-hx input').val(str);
            }
            $('.hx-list a').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });
            $('.city-list li').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });


        })
    </script>
</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}
<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script>

    //手机正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    // 算算我家房子装修花多少钱
    $("#zhuangxiu_jisuan").click(function(){
         var channel = $("input[name='z_channel']").val();
         var square = $("input[name='z_square']").val();
         var remark = $("input[name='z_remark']").val();
         var phone = $("input[name='z_phone']").val();
         if(square == '' || square==undefined){
             alert('请填写户型面积大小！');
         }else if(isPhoneNo(phone) == false || phone==''){
            alert('手机号码不合法！');
         }else if(remark ==''){
             alert('请选择您的户型！');
         }else{
             $.ajax({
                 url:"{:url('api/send/jisuan')}",
                 type:'post',
                 data:{'channel':channel,'square':square,'remark':remark,'phone':phone},
                 success:function(res) {
                  if(res.code == 200){
                     alert(res.msg);
                     window.location.reload();
                   }else{
                      alert(res.msg);
                      window.location.reload();
                   }
                 }
             })
         }
    })

</script>


</body>
</html>

