{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">
    <style>
        .bj-a {
            position: relative;
        }

        .bt-bm2 {
            position: absolute;
            width: 200px;
            height: 60px;
            margin: auto;
            left: 0;
            right: 0;
            top: 280px;
        }
    </style>
    <link rel="stylesheet" href="__STATIC__/home/css_/topic-pmbj5.css" />
    <div class="bj-a">
        <a class="bt-bm2" href="#b-a">
        </a>
    </div>
    <div class="bj-b">
        <div class="auto-box">
            <video id="myvideo" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" poster="/Images/topic-pmbj5/bj-video.jpg" data-setup="{}">

                <source src="http://picfwoss.yzf.com.cn/zt/spaceExample2018_11_16.mp4" type="video/mp4">
                <p class="vjs-no-js"> 这个浏览器不支持打开 HTML5 video,建议复制链接到手机默认浏览器打开</p>
            </video>
            <a name="b-a" id="b-a"></a>
            <div class="bj-b-tit">环保装修价格高？担心超预算？立即算一算</div>

            <div class="calculate-box">
                <div class="js-wrap">
                    <div class="js-a">
                        <div class="js-value" id="zong">8888888888</div>
                        <span>总价格</span>
                    </div>
                    <div class="js-b">
                        <table class="js-table">
                            <tr>
                                <th>基础工程明细</th>
                                <th>主材明细</th>
                                <th>家具家电</th>
                            </tr>
                            <tr>
                                <td>水路：<span id="count-1">168146</span></td>
                                <td>瓷砖：<span id="count-2">168146</span></td>
                                <td>移动家具：<span id="count-3">168146</span></td>
                            </tr>
                            <tr>
                                <td>电路：<span id="count-4">168146</span></td>
                                <td>地板：<span id="count-5">168146</span></td>
                                <td>定制家具：<span id="count-6">168146</span></td>
                            </tr>
                            <tr>
                                <td>木工：<span id="count-7">168146</span></td>
                                <td>木门：<span id="count-8">168146</span></td>
                                <td>家电：<span id="count-9">168146</span></td>
                            </tr>
                            <tr>
                                <td>瓦工：<span id="count-10">168146</span></td>
                                <td>橱柜：<span id="count-11">168146</span></td>
                                <td>灯具：<span id="count-12">168146</span></td>
                            </tr>
                            <tr>
                                <td>油工：<span id="count-13">168146</span></td>
                                <td>洁具：<span id="count-14">168146</span></td>
                                <td>软装配饰：<span id="count-15">168146</span></td>
                            </tr>
                        </table>
                        <div class="table-dis">最新优惠活动：<span id="hd">0</span>元</div>
                    </div>
                </div>
                <form class="js-form">

                    <input type="hidden" name="Channel" value="算算我家房子装修花多少钱" />
                    <div class="js-group">
                        <div class="js-input area required">
                            <input type="text" name="SquareMeters" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="js-group">
                        <div id="select-hx" class="js-input select">
                            <input type="text" name="remark" value="2室 1室 1卫 1阳台" readonly>
                        </div>
                    </div>
                    <div class="js-group">
                        <div class="js-input required">
                            <input type="text" name="PhoneNumber" placeholder="输入接收报价手机号码">
                        </div>
                    </div>
                    <div class="js-btn-wrap submit">
                        <button class="js-btn">立即计算</button>
                        <div class="btn-disc">计算结果将发送至手机</div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="bj-c">
        <img src="/Images/topic-pmbj5/bj-c.gif" />
    </div>
    <div class="bj-d"></div>
    <div id="hx-model" class="drop-model">
        <div class="hx-box">
            <div class="hx-header"><strong>选择您的户型</strong></div>
            <div class="hx-body">
                <ul class="hx-list">
                    <li>
                        <a href="JavaScript:;">1室</a>
                        <a class="active" href="JavaScript:;">2室</a>
                        <a href="JavaScript:;">3室</a>
                        <a href="JavaScript:;">4室</a>
                        <a href="JavaScript:;">5室</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1厅</a>
                        <a href="JavaScript:;">2厅</a>
                        <a href="JavaScript:;">3厅</a>
                        <a href="JavaScript:;">4厅</a>
                        <a href="JavaScript:;">5厅</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1卫</a>
                        <a href="JavaScript:;">2卫</a>
                        <a href="JavaScript:;">3卫</a>
                        <a href="JavaScript:;">4卫</a>
                        <a href="JavaScript:;">5卫</a>
                    </li>
                    <li>
                        <a class="active" href="JavaScript:;">1阳台</a>
                        <a href="JavaScript:;">2阳台</a>
                        <a href="JavaScript:;">3阳台</a>
                        <a href="JavaScript:;">4阳台</a>
                        <a href="JavaScript:;">5阳台</a>
                    </li>
                </ul>
            </div>
            <div class="hx-footer">
                <button id="closed-hx" class="js-btn">确定</button>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="https://dsp.yzf.com.cn/assets/plugins/vide7.1.0/css/video-js.min.css">
    <script src="https://dsp.yzf.com.cn/assets/plugins/vide7.1.0/js/video.min.js"></script>
    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        $(function () {
            var myPlayer = videojs('myvideo');
            videojs("myvideo").ready(function () {
                var myPlayer = this;
                myPlayer.currentTime(0);

            });

            myPlayer.on("play", function () {
                myPlayer.currentTime(0);
            });


            var zong = $('#zong');
            var count1 = $('#count-1');
            var count2 = $('#count-2');
            var count3 = $('#count-3');
            var count4 = $('#count-4');
            var count5 = $('#count-5');
            var count6 = $('#count-6');
            var count7 = $('#count-7');
            var count8 = $('#count-8');
            var count9 = $('#count-9');
            var count10 = $('#count-10');
            var count11 = $('#count-11');
            var count12 = $('#count-12');
            var count13 = $('#count-13');
            var count14 = $('#count-14');
            var count15 = $('#count-15');
            var myArray = [[81459, 5365, 5497, 8218, 4379, 3660, 15320, 4500, 4556, 7500, 6007, 5373, 3445, 9660, 5230, 8513],
                [65424, 9322, 7284, 5373, 3445, 9660, 5230, 8513, 9320, 7003, 9203, 9207, 11769, 6483, 5373, 3445],
                [70289, 7732, 1309, 1583, 1665, 4379, 3660, 15320, 4500, 4556, 7500, 5240, 9717, 4985, 1665, 4379],
                [136859, 11580, 9207, 11769, 6483, 5373, 3445, 9660, 5230, 8513, 9320, 7732, 1309, 1583, 1665, 4379],
                [242826, 5720, 5240, 9717, 4985, 1665, 4379, 3660, 15320, 4500, 4556, 5365, 5497, 8218, 4379, 3660]];

            var i = 0;
            var timer = setInterval(function () {
                if (i > 4) {
                    i = 0;
                }
                var arraySon = myArray[i];
                zong.text(arraySon[0]);
                count1.text(arraySon[1]);
                count2.text(arraySon[2]);
                count3.text(arraySon[3]);
                count4.text(arraySon[4]);
                count5.text(arraySon[5]);
                count6.text(arraySon[6]);
                count7.text(arraySon[7]);
                count8.text(arraySon[8]);
                count9.text(arraySon[9]);
                count10.text(arraySon[10]);
                count11.text(arraySon[11]);
                count12.text(arraySon[12]);
                count13.text(arraySon[13]);
                count14.text(arraySon[14]);
                count15.text(arraySon[15]);
                i++
            }, 200);


            var ran = 100;
            var range = 50000;
            var myNumber;

            /*将产生随机数的方法进行封装*/
            function sjs(range) {
                ran = Math.random() * range;//[0,range)的随机数
                var result = parseInt(ran);//将数字转换成整数
                return result;
            }

            /*对显示随机数的方法进行封装*/
            function showRandomNum() {
                var figure = sjs(range);
                $("#hd").text(figure);
            }

            myNumber = setInterval(showRandomNum, 100);//多长时间运行一次


            $('#select-hx').click(function () {
                $('#hx-model').stop(true, true).fadeIn(100);
            });
            $('#closed-hx').click(function () {
                $('#hx-model').stop(true, true).fadeOut(100);

                selectHX();
            });

            // 户型选择
            function selectHX() {
                var str = '';
                $('.hx-list .active').each(function () {
                    str += $(this).text() + ' ';
                });
                $('#select-hx input').val(str);
            }
            $('.hx-list a').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });
            $('.city-list li').click(function () {
                $(this).addClass('active').siblings().removeClass('active');
            });


        })
    </script>
</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

<!-- 主页 / 装修工具箱 / 装修计算器 -->
<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected>3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected>1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected>1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected>1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected>1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积"><span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12"><input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">您的装修预算  <strong>132569</strong> 元</div>
                        <div class="calculate-img"><img src="/images/calculate-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修费用比例 -->
<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有701位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 工期计算器 -->
<div class="modal fade" id="timeModal">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">工期计算器<small>今天已有2269位业主获取工程进度</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="工期计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">开工日期：</label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="2018年">2018</option>
                                                    <option value="2019年">2019</option>
                                                    <option value="2020年">2020</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1月">1月</option>
                                                    <option value="2月">2月</option>
                                                    <option value="3月">3月</option>
                                                    <option value="4月">4月</option>
                                                    <option value="5月">5月</option>
                                                    <option value="6月">6月</option>
                                                    <option value="7月">7月</option>
                                                    <option value="8月">8月</option>
                                                    <option value="9月">9月</option>
                                                    <option value="10月">10月</option>
                                                    <option value="11月">11月</option>
                                                    <option value="12月">12月</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1日">1日</option>
                                                    <option value="2日">2日</option>
                                                    <option value="3日">3日</option>
                                                    <option value="4日">4日</option>
                                                    <option value="5日">5日</option>
                                                    <option value="6日">6日</option>
                                                    <option value="7日">7日</option>
                                                    <option value="8日">8日</option>
                                                    <option value="9日">9日</option>
                                                    <option value="10日">10日</option>
                                                    <option value="11日">11日</option>
                                                    <option value="12日">12日</option>
                                                    <option value="13日">13日</option>
                                                    <option value="14日">14日</option>
                                                    <option value="15日">15日</option>
                                                    <option value="16日">16日</option>
                                                    <option value="17日">17日</option>
                                                    <option value="18日">18日</option>
                                                    <option value="19日">19日</option>
                                                    <option value="20日">20日</option>
                                                    <option value="21日">21日</option>
                                                    <option value="22日">22日</option>
                                                    <option value="23日">23日</option>
                                                    <option value="24日">24日</option>
                                                    <option value="25日">25日</option>
                                                    <option value="26日">26日</option>
                                                    <option value="27日">27日</option>
                                                    <option value="28日">28日</option>
                                                    <option value="29日">29日</option>
                                                    <option value="30日">30日</option>
                                                    <option value="31日">31日</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>10秒填写，获知装修工期进度</h3>
                        <ul class="fixed-result fixed-result-three">
                            <li>水电验收：<strong>2018-05-02</strong></li>
                            <li>中期验收：<strong>2018-05-25</strong></li>
                            <li>竣工验收：<strong>2018-06-15</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 2018装修吉日 -->
<div class="modal fade" id="luckyModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">查询2019装修吉日<small>今天已有2269位业主获取装修吉日</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="查询装修吉日" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">吉日</label>

                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1月">1月</option>
                                <option value="2月">2月</option>
                                <option value="3月">3月</option>
                                <option value="4月">4月</option>
                                <option value="5月">5月</option>
                                <option value="6月">6月</option>
                                <option value="7月">7月</option>
                                <option value="8月">8月</option>
                                <option value="9月">9月</option>
                                <option value="10月">10月</option>
                                <option value="11月">11月</option>
                                <option value="12月">12月</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1日">1日</option>
                                <option value="2日">2日</option>
                                <option value="3日">3日</option>
                                <option value="4日">4日</option>
                                <option value="5日">5日</option>
                                <option value="6日">6日</option>
                                <option value="7日">7日</option>
                                <option value="8日">8日</option>
                                <option value="9日">9日</option>
                                <option value="10日">10日</option>
                                <option value="11日">11日</option>
                                <option value="12日">12日</option>
                                <option value="13日">13日</option>
                                <option value="14日">14日</option>
                                <option value="15日">15日</option>
                                <option value="16日">16日</option>
                                <option value="17日">17日</option>
                                <option value="18日">18日</option>
                                <option value="19日">19日</option>
                                <option value="20日">20日</option>
                                <option value="21日">21日</option>
                                <option value="22日">22日</option>
                                <option value="23日">23日</option>
                                <option value="24日">24日</option>
                                <option value="25日">25日</option>
                                <option value="26日">26日</option>
                                <option value="27日">27日</option>
                                <option value="28日">28日</option>
                                <option value="29日">29日</option>
                                <option value="30日">30日</option>
                                <option value="31日">31日</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">查询结果发送至手机</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 环保三防体系 / 官网专属礼包 -->
<div class="modal fade" id="exclusiveModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    官网专属礼包
                    <small>The exclusive gift bag</small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="name" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*可与线下活动同时享用</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 看工地 / 服务流程 / 领官网礼包 -->
<div class="modal fade" id="guanwangzhuanshulibao">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">官网专属礼包<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shangmenliangfang" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">上门量房<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即报名</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<input id="yzf_city" type="hidden" value="54,suzhou,苏州 " />
<script src="__STATIC__/home/js/yzf_city.js"></script>


<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script src="__STATIC__/home/js/customer-common.js"></script>
</body>
</html>

<script src="__STATIC__/home/js/tj.js"></script>