{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
      {include file="public/menu" /}
</div>
<div id="RenderBody">

    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('raiders/index')}">装修攻略</a></li>
                <!--<li><a href="/DecorationRaiders/list/129">收房</a></li>-->
                <!--<li class="active">装修过程中业主应做哪些工作?</li>-->
            </ol>
            <div class="content-body">
                <div class="side-right">
                    <div class="side-calculator">
                        <dl>
                            <dt>我家装修要花多少钱？</dt>
                            <dd>超精准计算，一步解决预算问题</dd>
                        </dl>
                        <div class="calculator-screen"></div>
                        <form class="form-horizontal calculator-form">
                            <input name="Channel" value="攻略站报价计算器" type="hidden" />
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="SquareMeters" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="PhoneNumber" placeholder="报价结果将发送到您的手机上">
                                </div>
                            </div>
                            <div class="form-group btn-box submit">
                                <div class="col-xs-12">
                                    <a class="btn btn-block">发送至手机</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="side-adv">
                        <a target="_blank" href="http://wh.yzf.com.cn/s2017/qgkjby0901"><img src="/images/side-adv.jpg" alt=""></a>
                    </div>
                    <div class="side-adv">
                        <a><img src="/images/side-advlr.png" alt=""></a>
                    </div>


                    <div class="side-panel">
                        <div class="side-panel-header">

                            热门文章排行榜
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media">
                                {volist name="re" id="vo"}
                                <li>
                                    <a href="{:url('raiders/z_detail')}?id={$vo.id}" title="{$vo.title}">
                                        <img src="{$vo.img}" alt="{$vo.title}">
                                        <span>{$vo.title}</span>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>


                    <div class="side-panel">
                        <div class="side-panel-header">
                            <a href="/DecorationRaiders/List/50" class="more">更多》</a>
                            装修常识
                        </div>
                        <div class="side-panel-body">
                            <ul class="sense-list">
                                <li><a href="/DecorationRaiders/Detail/64" title="工程增减项的总金额是如何核算的？">·  工程增减项的总金额是如何核算的？</a></li>
                                <li><a href="/DecorationRaiders/Detail/63" title="工程中期有增项，《工程增减项变更单》怎么确认？怎么交增项款？">·  工程中期有增项，《工程增减项变更单》怎么确认？怎么交增项款？</a></li>
                                <li><a href="/DecorationRaiders/Detail/62" title="施工班长要跟客户私增项，这可以吗？对客户有什么不好？">·  施工班长要跟客户私增项，这可以吗？对客户有什么不好？</a></li>
                                <li><a href="/DecorationRaiders/Detail/61" title="水电要施工了，到底怎么走线，怎么计算费用？">·  水电要施工了，到底怎么走线，怎么计算费用？</a></li>
                                <li><a href="/DecorationRaiders/Detail/60" title="防水工程应涂刷几遍？涂刷要求是什么？">·  防水工程应涂刷几遍？涂刷要求是什么？</a></li>
                                <li><a href="/DecorationRaiders/Detail/59" title="防水处理是否需要铲除原墙体防水基层？">·  防水处理是否需要铲除原墙体防水基层？</a></li>
                                <li><a href="/DecorationRaiders/Detail/58" title="水电验收标准是什么？">·  水电验收标准是什么？</a></li>
                                <li><a href="/DecorationRaiders/Detail/57" title="瓷砖薄贴与普贴有区别吗？">·  瓷砖薄贴与普贴有区别吗？</a></li>
                                <li><a href="/DecorationRaiders/Detail/56" title="墙皮为什么要铲除？">·  墙皮为什么要铲除？</a></li>
                                <li><a href="/DecorationRaiders/Detail/55" title="业之峰的材料正规吗？">·  业之峰的材料正规吗？</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="main">
                    <div class="main-detail-box">
                        <div class="detail-head">
                            <h1>{$info.title}</h1>
                            <div class="detail-disc">
                                <span>时间：{$info.time|date="Y-m-d"}</span> <span>来源：{$info.laiyuan?$info.laiyuan:'尺渡装饰'}</span>
                            </div>
                        </div>
                        <div class="detail-body">
                            <p style="line-height: 2em; margin-bottom: 15px; margin-top: 15px;">
                                &nbsp; &nbsp; &nbsp; &nbsp;做的施工管理工作内容，以便你查看监理人员是否切实负起了责任。</p>
                            <p style="line-height: 2em; margin-bottom: 15px; margin-top: 15px; text-align: center;">
                                {$info.content|raw}
                             </p>
                        </div>
                        <div class="detail-control">
                            <div class="detail-share">
                                <span class="share-text"><i class="iconfont icon-fenxiang"></i>分享至</span>
                                <!-- JiaThis Button BEGIN -->
                                <div class="jiathis_style_24x24">
                                    <a class="jiathis_button_weixin"><i class="iconfont icon-weixin"></i></a>
                                    <a class="jiathis_button_tsina"><i class="iconfont icon-weibo"></i></a>
                                    <a class="jiathis_button_cqq"><i class="iconfont icon-QQ"></i></a>
                                    <a class="jiathis_button_tieba"><i class="iconfont icon-baidu1"></i></a>
                                </div>
                                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                            </div>

                        </div>
                        <div class="xq-wrap">
                            <div class="xq-footer">
                                <div class="declare-media">
                                    <div class="declare-media-hd">声明</div>
                                    <ul class="declare-media-bd">
                                        <li>1.本站遵循行业规范，任何转载的稿件都会明确标注作者和来源；</li>
                                        <li>2.本站的原创文章，请转载时务必注明文章作者和来源，不尊重原创的行为我们将追究责任；</li>
                                        <li>3.作者投稿可能会经我们编辑修改和补充。</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

{include file="public/menu_right" /}
<div class="modal fade" id="zhuanshulibao" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">官网专属礼包<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="Name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="PhoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>

                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shangmenliangfang" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">上门量房<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="Name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="PhoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="ResidentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="SquareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-gold btn-block">立即报名</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

{include file="public/price" /}

{include file="public/yuyue" /}

<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="Channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input  name="SquareMeters"  type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input  name="PhoneNumber"  type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="submit" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">
                            您的装修预算  <strong>132569</strong> 元
                        </div>
                        <div class="calculate-img">
                            <img src="images/calculate-icon.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有708位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="Channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="SquareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="PhoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="submit" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="timeModal">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">工期计算器<small>今天已有2269位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="Channel" value="工期计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">开工日期：</label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                </select>
                                            </div>

                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1月">1月</option>
                                                    <option value="2月">2月</option>
                                                    <option value="3月">3月</option>
                                                    <option value="4月">4月</option>
                                                    <option value="5月">5月</option>
                                                    <option value="6月">6月</option>
                                                    <option value="7月">7月</option>
                                                    <option value="8月">8月</option>
                                                    <option value="9月">9月</option>
                                                    <option value="10月">10月</option>
                                                    <option value="11月">11月</option>
                                                    <option value="12月">12月</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1日">1日</option>
                                                    <option value="2日">2日</option>
                                                    <option value="3日">3日</option>
                                                    <option value="4日">4日</option>
                                                    <option value="5日">5日</option>
                                                    <option value="6日">6日</option>
                                                    <option value="7日">7日</option>
                                                    <option value="8日">8日</option>
                                                    <option value="9日">9日</option>
                                                    <option value="10日">10日</option>
                                                    <option value="11日">11日</option>
                                                    <option value="12日">12日</option>
                                                    <option value="13日">13日</option>
                                                    <option value="14日">14日</option>
                                                    <option value="15日">15日</option>
                                                    <option value="16日">16日</option>
                                                    <option value="17日">17日</option>
                                                    <option value="18日">18日</option>
                                                    <option value="19日">19日</option>
                                                    <option value="20日">20日</option>
                                                    <option value="21日">21日</option>
                                                    <option value="22日">22日</option>
                                                    <option value="23日">23日</option>
                                                    <option value="24日">24日</option>
                                                    <option value="25日">25日</option>
                                                    <option value="26日">26日</option>
                                                    <option value="27日">27日</option>
                                                    <option value="28日">28日</option>
                                                    <option value="29日">29日</option>
                                                    <option value="30日">30日</option>
                                                    <option value="31日">31日</option>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="SquareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="PhoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="submit" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>10秒填写，获知装修工期进度</h3>
                        <ul class="fixed-result fixed-result-three">
                            <li>水电验收：<strong>2018-05-02</strong></li>
                            <li>中期验收：<strong>2018-05-25</strong></li>
                            <li>竣工验收：<strong>2018-06-15</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="luckyModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">查询2019装修吉日<small>今天已有2269位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="查询装修吉日" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="Name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input   name="PhoneNumber"  type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="ResidentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="SquareMeters"  type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">吉日</label>

                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1月">1月</option>
                                <option value="2月">2月</option>
                                <option value="3月">3月</option>
                                <option value="4月">4月</option>
                                <option value="5月">5月</option>
                                <option value="6月">6月</option>
                                <option value="7月">7月</option>
                                <option value="8月">8月</option>
                                <option value="9月">9月</option>
                                <option value="10月">10月</option>
                                <option value="11月">11月</option>
                                <option value="12月">12月</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1日">1日</option>
                                <option value="2日">2日</option>
                                <option value="3日">3日</option>
                                <option value="4日">4日</option>
                                <option value="5日">5日</option>
                                <option value="6日">6日</option>
                                <option value="7日">7日</option>
                                <option value="8日">8日</option>
                                <option value="9日">9日</option>
                                <option value="10日">10日</option>
                                <option value="11日">11日</option>
                                <option value="12日">12日</option>
                                <option value="13日">13日</option>
                                <option value="14日">14日</option>
                                <option value="15日">15日</option>
                                <option value="16日">16日</option>
                                <option value="17日">17日</option>
                                <option value="18日">18日</option>
                                <option value="19日">19日</option>
                                <option value="20日">20日</option>
                                <option value="21日">21日</option>
                                <option value="22日">22日</option>
                                <option value="23日">23日</option>
                                <option value="24日">24日</option>
                                <option value="25日">25日</option>
                                <option value="26日">26日</option>
                                <option value="27日">27日</option>
                                <option value="28日">28日</option>
                                <option value="29日">29日</option>
                                <option value="30日">30日</option>
                                <option value="31日">31日</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="submit" class="btn btn-gold btn-block">查询结果发送至手机</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var Mask = false;
    $(".submit").on("click", function () {
        var $form = $(this).parent("form");

        if (!Mask) {
            Mask = true;
            var Phone = $form.find("[name='PhoneNumber']").val();
            if (RegPhone(Phone)) {

                var $remark = $form.find(".remark");
                if ($remark.length > 0) {
                    var remarkval = '';
                    $remark.each(function () {
                        remarkval += $(this).val();
                    });
                    var $remark = $form.find("[name='remark']");
                    if ($remark.length > 0) {
                        $remark.val(remarkval);
                    }
                    else {
                        $form.append("<input type='hidden' value='" + remarkval + "' name='remark' />");
                    }
                }

                $.ajax({
                    type: "post",
                    url: "/Registration/Insert",
                    data: $form.serialize(),
                    success: function (json) {
                        //debugger;
                        //var json = eval("(" + json + ")");
                        if (json.MessageType == 1) {
                            $('form')[0].reset();
                            alert("恭喜您，报名成功");
                        }
                        else {
                            alert("同一手机号码只能领取一次！");
                        }
                        Mask = false;
                    }
                });
            }
            else {
                alert("请输入正确的电话号码");
                Mask = false;
            }
        }
        return false;
    });

    function RegPhone(Phone) {

        /*验证电话号码
            验证规则：区号+号码，区号以0开头，3位或4位号码由7位或8位数字组成
            区号与号码之间可以无连接符，也可以“-”连接
            如01088888888,010-88888888,0955-7777777 */
        var isPhone = /^0\d{2,3}-?\d{7,8}$/;
        /*验证手机号码
        移动：134(1349除外）135 136 137 138 139 147 150 151 152 157 158 159 182 183 184 187 188
        联通：130 131 132 155 156 185 186 145
        电信：133 153 177 180 181 189*/
        //var isMob = /^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;

        var isMob = /^1\d{10}$/;
        if (isMob.test(Phone) || isPhone.test(Phone)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script src="__STATIC__/home/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

</body>
</html>