{extend name='admin@public/content'}

{block name="content"}
<form class="layui-form layui-box modal-form-box" action="{:request()->url()}" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">所属案例地区</label>
        <div class="layui-input-inline">
            <select name="d_id">
                <option value=""></option>
                {volist name="region" id="list"}
                {if isset($vo['id'])}
                <option value="{$list.id}" {if condition="$list.id eq $vo.d_id"} selected="" {/if}>{$list.title}</option>
                {else /}
                <option value="{$list.id}">{$list.title}</option>
                {/if}
                {/volist}
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">楼盘展示图</label>
        <div class="layui-input-block">
            <input type="text" name="img" value='{$vo.img|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">楼盘名称</label>
        <div class="layui-input-block">
            <input type="text" name="title" value='{$vo.title|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">楼盘地理位置</label>
        <div class="layui-input-block">
            <input type="text" name="location" value='{$vo.location|default=""}'  class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">最火销售楼盘排序</label>
        <input type="num" name="hot" value='{$vo.hot|default=""}'  class="layui-input-inline">
        <span style="color:#ff2600;">*注意这里只填写数字，数字越大排越靠前!</span>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">最新销售楼盘排序</label>
        <input type="num" name="news" value='{$vo.news|default=""}'  class="layui-input-inline">
        <span style="color:#ff2600;">*注意这里只填写数字，数字越大排越靠前!</span>
    </div>


    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">楼盘详情介绍</label>
        <div class="layui-input-block">
            <textarea name="content" class="layui-textarea">{if isset($vo['id'])}{$vo.content}{/if}</textarea>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <!--        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>-->
    </div>
</form>
<script>
    require(['jquery', 'ckeditor'], function() {
        window.form.render();
        $('form [name="img"]').uploadOneImage();
        window.createEditor('[name="content"]', {height: 500});
    });
</script>


{/block}

