{include file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">

   {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-lz.css" />

    <div class="lz-a"></div>
    <div class="lz-b">
        <div class="auto-box">
            <div class="lz-header">
                <h2>蓝钻工程 四大保障系统</h2>
                <p>FOUR SECURITY SYSTEMS</p>
            </div>
            <div class="lz-body">
                <img class="lz-b-img" src="__STATIC__/home/image/lz-b-img.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="lz-c">
        <div class="auto-box">
            <div class="lz-header">
                <h2>工艺质量保障系统</h2>
                <p>
                    业之峰结合多年施工实践，运用美国CCP（关键控制点）管理概念，精心研发多项先进、稳定、标准 <br>
                    的蓝钻施工工艺，确保家装工程质量无懈可击！
                </p>
            </div>
            <div class="lz-body">
                <ul class="lz-c-tab">
                    <li class="active"><a href="JavaScript:;" class="btn">管道保温工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">分腔穿线工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">双层防水工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">德系吊顶工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">防霉抗菌工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">墙角保护工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">防护漏电工艺</a></li>
                    <li><a href="JavaScript:;" class="btn">瓷砖薄贴工艺</a></li>
                </ul>
                <div class="lz-c-tabcont">
                    <img style="display: block"  <img src="__STATIC__/home/image/c-tab-1.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-2.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-3.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-4.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-5.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-6.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-7.jpg" alt="">
                    <img src="__STATIC__/home/image/c-tab-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="lz-d">
        <div class="auto-box">
            <div class="lz-header">
                <h2>材料质量保障系统</h2>
                <p>
                    业之峰采用日本的全面质量管理（TQM：Total Quality Manageme）并将其运用到家装行业中。 <br>
                    环保的材料保障家装工程卓越的环保性能，告别家装顽疾。
                </p>
            </div>
            <div class="lz-body">
                <div id="carousel-example-generic" class="carousel slide lz-d-slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <ul class="quality-list">
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img.jpg" alt="">
                                        <span>VASEN PP-R弧形大弯弯头</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img2.jpg" alt="">
                                        <span>欧洲澳松板</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img3.jpg" alt="">
                                        <span>CAPAROL(德爱威)自然涂料</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img4.jpg" alt="">
                                        <span>爱格欧松板</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img5.jpg" alt="">
                                        <span>业之峰专用PPR水管</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img6.jpg" alt="">
                                        <span>中国特变电工JHSZ-BV双绝缘电线</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img7.jpg" alt="">
                                        <span>智恒负氧离子腻子粉</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/quality-img8.jpg" alt="">
                                        <span>智恒白胶</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <ul class="quality-list">
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/玻化砖瓷砖胶.jpg" alt="">
                                        <span>玻化砖瓷砖胶</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/德国保温抗菌管.jpg" alt="">
                                        <span>保温抗菌管</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/防水涂料.jpg" alt="">
                                        <span>防水涂料</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/飞利浦弱电线.jpg" alt="">
                                        <span>飞利浦弱电线</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/混凝土界面剂.jpg" alt="">
                                        <span>混凝土界面剂</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/甲醛净化石膏板.jpg" alt="">
                                        <span>甲醛净化石膏板</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/理想IDEAL导线连接器.jpg" alt="">
                                        <span>理想IDEAL导线连接器</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="JavaScript:;" class="box-link">
                                        <img src="__STATIC__/home/image/蓝钻/阻燃PVC电工套管.jpg" alt="">
                                        <span>阻燃PVC电工套管</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="lz-e">
        <div class="auto-box">
            <div class="lz-header">
                <h2>环境质量保障系统</h2>
                <p>尺渡全力打造整洁、健康和人性化的施工环境，
                    确保家装工程的生态健康。
                </p>
            </div>
            <div class="lz-body">
                <div class="lz-e-wrap">
                    <div class="lz-e-left">
                        <h2>创建一个生态自然的施工环境：</h2>
                        <div class="lz-e-row">
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img1.jpg" alt="">
                                <span>不同色彩搭配：缓解视觉疲劳，令人心情舒畅</span>
                            </a>
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img2.jpg" alt="">
                                <span>甲供材料摆放处：一目了然，查缺补漏。</span>
                            </a>
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img3.jpg" alt="">
                                <span>施工区和生活区分开，避免交叉“感染”</span>
                            </a>
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img4.jpg" alt="">
                                <span>辅材摆放处：正确码放，杜绝脏乱，提高效率。</span>
                            </a>
                        </div>
                    </div>
                    <div class="lz-e-right">
                        <h2>控制两大污染源：</h2>
                        <div class="lz-e-row">
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img5.jpg" alt="">
                                <span>不环保的装修材料会造成污染</span>
                            </a>
                            <a href="JavaScript:;">
                                <img src="__STATIC__/home/image/lz-e-img6.jpg" alt="">
                                <span>不规范的施工现场同样会带来污染</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lz-f">
        <div class="auto-box">
            <div class="lz-header">
                <h2>管理质量保障系统</h2>
                <p>
                    尺渡全球材料采购系统，为客户甄选高品质材料。蓝钻工程实施全面质量管理，蓝钻工程将其运用 <br>
                    到家装行业中，确保整个施工过程和竣工后的管理服务完美无瑕。
                </p>
            </div>
            <div class="lz-body">
                <img src="__STATIC__/home/image/lz-f-bg.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="lz-g"></div>
    <div class="lz-h">
        <div class="auto-box">
            <div class="lz-header">
                <h2>蓝钻工程 · 发展历程</h2>
                <p>development history</p>
            </div>
            <div class="lz-body">
                <ul class="lz-step">
                    <li>
                        <div class="step-hd">
                            <span>2006年</span>
                            <div class="dot"></div>
                        </div>
                        <div class="step-bd">
                            <div class="dark-box">
                                <dl>
                                    <dt>推出</dt>
                                    <dd>蓝钻工程</dd>
                                </dl>
                                <div class="ex-box">
                                    <p>率先推出蓝钻工程“四大保障系统”着力打造工程品牌，带动了整个家装行业的施工水平和管理水平。</p>
                                    <a href="JavaScript:;" class="btn btn-gold">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="step-hd">
                            <span>2008年</span>
                            <div class="dot"></div>
                        </div>
                        <div class="step-bd">
                            <div class="dark-box">
                                <dl>
                                    <dt>形成</dt>
                                    <dd>
                                        完整的蓝钻工程<br>
                                        管理体系
                                    </dd>
                                </dl>
                                <div class="ex-box">
                                    <p>
                                        奠定了尺渡在施工领域、
                                        环保领域的行业地位。
                                    </p>
                                    <a href="JavaScript:;" class="btn btn-gold">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="step-hd">
                            <span>2016年</span>
                            <div class="dot"></div>
                        </div>
                        <div class="step-bd">
                            <div class="dark-box">
                                <dl>
                                    <dt>发布</dt>
                                    <dd>11项黑科技工程</dd>
                                </dl>
                                <div class="ex-box">
                                    <p>
                                        引入新型环保材料和
                                        先进施工工艺，
                                        工程质量再上新台阶。
                                    </p>
                                    <a href="JavaScript:;" class="btn btn-gold">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="last-child">
                        <div class="step-hd">
                            <span>2017年</span>
                            <div class="dot"></div>
                        </div>
                        <div class="step-bd">
                            <div class="dark-box">
                                <dl>
                                    <dt>升级</dt>
                                    <dd>高端环保蓝钻工程</dd>
                                </dl>
                                <div class="ex-box">
                                    <p>
                                        全球甄选高端产品，
                                        为国人的环保健康生活，
                                        持续打造更环保的美好家装。
                                    </p>
                                    <a href="JavaScript:;" class="btn btn-gold">了解详情</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            $('.lz-c-tab li').hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.lz-c-tabcont img').eq($(this).index()).stop(true, true).fadeIn(200).siblings().hide();
            })
        })
    </script>
</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

</body>
</html>

