{include file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-protect.css" />
    <div class="protect-a"></div>
    <div class="protect-b"   name="1f" id="1f">
        <div class="auto-box">
            <div class="pro-header">
                <h4>01第一重防护</h4>
                <p>污染指数—防累积</p>
            </div>
            <div class="pro-body">
                <ul class="protect-b-list">
                    <li>
                        <i class="iconfont icon-tianqi601"></i>
                        <span>甲醛/苯/ <br>TVOC检测</span>
                    </li>
                    <li>
                        <i class="iconfont icon-huanbaoxingye"></i>
                        <span>环保 <br>预评估系统</span>
                    </li>
                    <li>
                        <i class="iconfont icon-25guanli"></i>
                        <span>ERP智能 <br>管理系统</span>
                    </li>
                    <li>
                        <i class="iconfont icon-baogao-copy"></i>
                        <span>环保科学 <br>检测报告</span>
                    </li>
                    <li>
                        <i class="iconfont icon-querenfangan"></i>
                        <span>分析调整 <br>设计方案</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="protect-c"  name="2f" id="2f">
        <div class="auto-box">
            <div class="pro-header">
                <h4>02第二重防护</h4>
                <p>环保材料 — 防源头</p>
            </div>
            <div class="pro-body">
                <ul class="protect-b-list">
                    <li>
                        <i class="iconfont icon-huanbao"></i>
                        <span>性能卓越的 <br>环保材料</span>
                    </li>
                    <li>
                        <i class="iconfont icon-weixiu"></i>
                        <span>先进的 <br>施工工艺</span>
                    </li>
                    <li>
                        <i class="iconfont icon-fl-gunshua"></i>
                        <span>生态型的 <br>施工环境</span>
                    </li>
                    <li>
                        <i class="iconfont icon-gongchengxiangmu"></i>
                        <span>蓝钻工程 <br>环保升级</span>
                    </li>
                    <li>
                        <i class="iconfont icon-25guanli"></i>
                        <span>严格 <br>规范的管理</span>
                    </li>
                </ul>
            </div>
            <ul class="protect-c-list">
                <li><img src="__STATIC__/home/image/protect-c-img1.jpg" alt=""></li>
                <li><img src="__STATIC__/home/image/protect-c-img2.jpg" alt=""></li>
                <li><img src="__STATIC__/home/image/protect-c-img3.jpg" alt=""></li>
                <li><img src="__STATIC__/home/image/protect-c-img4.jpg" alt=""></li>
                <li><img src="__STATIC__/home/image/protect-c-img5.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="protect-d"   name="3f" id="3f">
        <div class="auto-box">
            <div class="pro-header">
                <h4>03第三重防护</h4>
                <p>负氧离子 — 防残留</p>
            </div>
            <div class="pro-body">
                <div class="protect-d-cont">
                    <span class="zl-tag">国家专利技术</span>
                    <p>业之峰采用高科技产品——负氧离子触发器，正是让居室环境更加环保的重要保证。“负氧离子触发剂”能够在紫外线、自然光或日光灯等光线的作用下，有效分解空气中的有机有害气体和细菌等有害物，降解甲醛、苯、氨、TVOC等污染物，使室内空气达到清新、健康的状况。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="protect-e">
        <div class="auto-box">
            <div class="pro-e-header">
                <h4>业之峰环保承诺</h4>
            </div>
            <div class="pro-e-body">
                <ul class="pro-e-list">
                    <li>
                        <dl>
                            <dt>第三方环保检测</dt>
                            <dd>权威部门检测，放心入住新家</dd>
                        </dl>
                        <p>装修工程完毕后，根据客户的需求，业之峰会聘请权威的第三方环保检测机构，为客户的新居进行空气质量环保检测，即“第三方环保检测”。</p>
                        <a href="JavaScript:;" class="btn btn-gold" data-toggle="modal" data-target="#privilegeModal">免费领取</a>
                    </li>
                    <li>
                        <dl>
                            <dt>环保不达标 全额退款</dt>
                            <dd>签订环保协议，具有同等法律效力</dd>
                        </dl>
                        <p>业之峰会与每一位签单的客户签订《室内装修环保协议》，如果不能按照协议达到国家规定的环保标准，业之峰承诺退还装修款。</p>
                        <a href="JavaScript:;" class="btn btn-gold" data-toggle="modal" data-target="#reimburseModal">免费领取</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="modal fade" id="privilegeModal">
        <div class="modal-dialog yzf-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">第三方环保监测特权<small>ENVIRONMENTAL MONITORING PRIVILEGE</small></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input name="j_channel" value="第三方环保监测" type="hidden" />
                        <div class="form-group">
                            <label class="col-xs-2 control-label">姓名</label>
                            <div class="col-xs-10">
                                <input type="text" name="j_name" class="form-control" placeholder="输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">手机</label>
                            <div class="col-xs-10">
                                <input type="text" name="j_phone" class="form-control" placeholder="输入手机号">
                            </div>
                        </div>
                        <div class="form-group submit">
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-gold btn-block" id="jiance">免费领取特权</button>
                            </div>
                        </div>
                        <div class="form-disc">*可与线下活动同时享用</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function isPhoneNo(phones) {
            var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
            return  isPhone.test(phones);
        }
        $("#jiance").click(function(){
            var channel = $("input[name='j_channel']").val();
            var names = $("input[name='j_name']").val();
            var phone = $("input[name='j_phone']").val();
            if(isPhoneNo(phone)==false || phone ==''){
                alert('请填写正确的手机号码！');
                return false;
            }else if(names == ''){
                alert('用户姓名不能为空！');
                return false;
            }else{
                $.ajax({
                    url:"{:url('api/send/jiance')}",
                    type:'post',
                    data:{'channel':channel,'names':names,'phone':phone,},
                    success:function(res){
                        if(res.code == 200){
                            alert(res.msg);
                            window.location.reload();
                        }else{
                            alert(res.msg);
                            window.location.reload();
                        }
                    }
                })
            }
        })
    </script>




    <div class="modal fade" id="reimburseModal">
        <div class="modal-dialog yzf-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">环保不达标 全额退款<small>FULL REFUND FOR ENVIRONMENTAL PROTECTION</small></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input name="h_channel" value="环保是否达标" type="hidden" />
                        <div class="form-group">
                            <label class="col-xs-2 control-label">姓名</label>
                            <div class="col-xs-10">
                                <input type="text" name="h_name" class="form-control" placeholder="输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">手机</label>
                            <div class="col-xs-10">
                                <input type="text" name="h_phone" class="form-control" placeholder="输入手机号">
                            </div>
                        </div>
                        <div class="form-group submit">
                            <div class="btn-wrap">
                                <button type="button" class="btn btn-gold btn-block " id="huanbao">免费领取特权</button>
                            </div>
                        </div>
                        <div class="form-disc">*可与线下活动同时享用</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function isPhoneNo(phones) {
            var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
            return  isPhone.test(phones);
        }
        $("#huanbao").click(function(){
            var channel = $("input[name='h_channel']").val();
            var names = $("input[name='h_name']").val();
            var phone = $("input[name='h_phone']").val();
            if(isPhoneNo(phone)==false || phone ==''){
                alert('请填写正确的手机号码！');
                return false;
            }else if(names == ''){
                alert('用户姓名不能为空！');
                return false;
            }else{
                $.ajax({
                    url:"{:url('api/send/jiance')}",
                    type:'post',
                    data:{'channel':channel,'names':names,'phone':phone,},
                    success:function(res){
                        if(res.code == 200){
                            alert(res.msg);
                            window.location.reload();
                        }else{
                            alert(res.msg);
                            window.location.reload();
                        }
                    }
                })
            }
        })
    </script>

</div>


{include  file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}



<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

</body>
</html>
