{include file="public/header-two" /}


{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">


    <link rel="stylesheet" href="__STATIC__/home/css_/topic-promise.css" />

    <div class="promise-a"></div>
    <div class="promise-b">
        <ul class="promise-list-box">
            <li class="promise-1">
                <a href="#promise-1">
                    <dl>
                        <dt>零污染</dt>
                        <dd>
                            环保不达标 <br>全额退款 <br>
                            <small>（符合国家环保标准）</small>
                        </dd>
                    </dl>
                </a>
            </li>
            <li class="promise-2">
                <a href="#promise-2">
                    <dl>
                        <dt>零假货</dt>
                        <dd>
                            厂家直销<br> 假一赔五<br>
                            <small>（一线大牌合作商）</small>
                        </dd>
                    </dl>
                </a>
            </li>
            <li class="promise-3">
                <a href="#promise-3">
                    <dl>
                        <dt>零增项</dt>
                        <dd>
                            客户被动增项 <br>全部免费
                        </dd>
                    </dl>
                </a>
            </li>
            <li class="promise-4">
                <a href="#promise-4">
                    <dl>
                        <dt>零延迟</dt>
                        <dd>
                            延迟一天 <br>就赔三百
                        </dd>
                    </dl>
                </a>
            </li>
            <li class="promise-5">
                <a href="#promise-5">
                    <dl>
                        <dt>零回扣</dt>
                        <dd>
                            集团统一采购<br>统一定价<br>杜绝回扣
                        </dd>
                    </dl>
                </a>
            </li>
        </ul>
    </div>
    <div id="promise-1" class="promise-c">
        <div class="auto-box">
            <div class="promise-box pull-right">
                <h2>零污染</h2>
                <p>环保不达标 全额退款</p>
                <dl>
                    <dt>行业问题</dt>
                    <dd>装修公司都打环保牌，</dd>
                    <dd>该如何甄别好坏？</dd>
                    <dd>拿什么做凭证？</dd>
                </dl>
                <dl>
                    <dt>解决方案</dt>
                    <dd>尺渡装饰通过了由国家环境保护部授权颁发的“十环认证”<br>—— 中国环境标志产品认证。</dd>
                    <dd>&nbsp;</dd>
                    <dd>我们承诺，</dd>
                    <dd>所有由尺渡施工的工地，</dd>
                    <dd>空气质量均符合国家标准。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="promise-2" class="promise-d">
        <div class="auto-box">
            <div class="promise-box">
                <h2>零假货</h2>
                <p>厂家直销 假一赔五</p>
                <dl>
                    <dt>业主痛点</dt>
                    <dd>怎么判断品牌好坏？</dd>
                    <dd>如何甄别产品真假？</dd>
                    <dd>买到假货如何维权？</dd>
                </dl>
                <dl>
                    <dt>解决方案</dt>
                    <dd>尺渡深耕家装行业20年，</dd>
                    <dd>合作伙伴囊括国际一线大牌环保建材厂商，</dd>
                    <dd>我们承诺，</dd>
                    <dd>让您用较少的钱，</dd>
                    <dd>享受到高性价比的高端环保材料。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="promise-3" class="promise-e">
        <div class="auto-box">
            <div class="promise-box pull-right">
                <h2>零增项</h2>
                <p>客户被动增项全部免费</p>
                <dl>
                    <dt>行业问题</dt>
                    <dd>漏报装修项，</dd>
                    <dd>变相诱导客户增项，</dd>
                    <dd>更改方案变相增项...</dd>
                    <dd>调查显示，</dd>
                    <dd>近9成有过装修经历的消费者</dd>
                    <dd>遭遇过增项问题。</dd>
                </dl>
                <dl>
                    <dt>解决方案</dt>
                    <dd>我们承诺，</dd>
                    <dd>客户被动增项全免费!</dd>
                    <dd>让客户明明白白消费。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="promise-4" class="promise-f">
        <div class="auto-box">
            <div class="promise-box">
                <h2>零延迟</h2>
                <p>延迟一天   就赔三百</p>
                <dl>
                    <dt>业主痛点</dt>
                    <dd>工期一拖再拖，</dd>
                    <dd>说好了3月底完工直到5月也没有交房...</dd>
                    <dd>好不容易有了自己的房子，</dd>
                    <dd>眼巴巴地盼着早点入住，</dd>
                    <dd>可装修工期延迟让人好不恼火。</dd>
                </dl>
                <dl>
                    <dt>解决方案</dt>
                    <dd>我们承诺，</dd>
                    <dd>延迟一天赔款三百，</dd>
                    <dd>让您早日住进自己的新家。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="promise-5" class="promise-g">
        <div class="auto-box">
            <div class="promise-box pull-right">
                <h2>零回扣</h2>
                <p>集团统一采购统一定价  拿一赔三</p>
                <dl>
                    <dt>行业问题</dt>
                    <dd>买橱柜有回扣，</dd>
                    <dd>买瓷砖有回扣.....</dd>
                    <dd>装修结束后，</dd>
                    <dd>许多业主才醒悟：设计师挖好了陷阱，</dd>
                    <dd>“宰”你没商量！</dd>
                </dl>
                <dl>
                    <dt>解决方案</dt>
                    <dd>我们承诺,</dd>
                    <dd>主材统一采购，</dd>
                    <dd>材料统一定价，</dd>
                    <dd>杜绝回扣，</dd>
                    <dd>我们承诺，</dd>
                    <dd>拿一赔三。</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="promise-h">
        <div class="auto-box">
            <h2>预约申请&lt;五零靠谱工程&gt;特权</h2>
            <p>全城仅限99户</p>
            <form class="msg-form row">
                <input name="s_channel" value="申请五零靠谱工程特权" type="hidden" />
                <div class="col-xs-2 col-xs-offset-1 required">
                    <input type="text"name="s_names"  class="form-control" placeholder="您的称呼">
                </div>
                <div class="col-xs-2 required">
                    <input type="text" name="s_phone" class="form-control" placeholder="您的电话">
                </div>
                <div class="col-xs-2">
                    <input type="text" name="s_xiao"  class="form-control" placeholder="小区">
                </div>
                <div class="col-xs-2">
                    <input type="text"name="s_square"  class="form-control" placeholder="面积">
                </div>
                <div class="col-xs-2 submit">
                    <button class="btn btn-block btn-gold" id="shengqing">我要申请</button>
                </div>
            </form>
        </div>
    </div>


    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>

    <script>
        $(function () {
            $('.promise-list-box a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $.attr(this, 'href') ).offset().top
                }, 500);
                return false;
            });
        })
    </script>
</div>



{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}


<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script>
    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //面积
    function  isHouseArea (mian) {
        var reg =new RegExp('^[1-9]{1}[0-9]{0,2}$');
        return reg.test(mian);
    }
    //预约提交
    $("#shengqing").click(function(){
        var channel = $("input[name='s_channel']").val();
        var names = $("input[name='s_names']").val();
        var phone = $("input[name='s_phone']").val();
        var xiaoq = $("input[name='s_xiao']").val();
        var square = $("input[name='s_square']").val();
        if (names == '' || names == undefined) {
            alert('用户名不能为空！');
            return false;
        }else if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
            return false;
        }else if (xiaoq == '' || xiaoq == undefined){
            alert('请填写小区名称！');
            return false;
        }else if(isHouseArea(square)==false || square==''){
            alert('小区面积不能为空！');
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/yu')}",
                type:'post',
                data:{'channel':channel,'xiao':xiaoq,'names':names,'phone':phone,'square':square},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })

</script>

</body>
</html>
