{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-saveworry.css" />
    <div class="save-a">
       <img src="__STATIC__/home/image/save-banner.jpg" alt="">
        <div class="save-a-bot">
            <div class="auto-box">
                <div class="save-a-hd">
                    <h4>服务模式</h4>
                    <p>Service mode</p>
                </div>
                <div class="save-a-bd">
                    <ul class="save-list">
                        <li>
                            <a href="JavaScript:;">
                                <b>01</b>
                                <i class="iconfont icon-ico-design"></i>
                                <span>省心设计</span>
                                <dl>
                                    <dt>省心设计</dt>
                                    <dd>省心搭配 空间优化</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>02</b>
                                <i class="iconfont icon-ico-brand"></i>
                                <span>主材样式任选</span>
                                <dl>
                                    <dt>大牌任选</dt>
                                    <dd>套餐内名品主材任选</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>03</b>
                                <i class="iconfont icon-ico-work"></i>
                                <span>标准工程</span>
                                <dl>
                                    <dt>工程无忧</dt>
                                    <dd>环保施工 包工包料</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>04</b>
                                <i class="iconfont icon-ico-service"></i>
                                <span>售后无忧</span>
                                <dl>
                                    <dt>服务验收</dt>
                                    <dd>按期交付 星级售后</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="save-b">
        <div class="save-b-header">
            <h2>省心搭配 全案设计</h2>
            <p>5+1风格定制 + 空间优化设计</p>
        </div>
        <div class="save-b-body">
            <div class="save-b-main">
                <ul class="save-b-slide">
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/新古典风格.jpg); display: block"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/地中海风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/北欧风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/美式田园.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/中式风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/个性定制.jpg);"></li>
                </ul>
                <div class="save-b-tab">
                    <dl class="active">
                        <dt>新古典主义</dt>
                        <dd>Neoclassical Style</dd>
                    </dl>
                    <dl>
                        <dt>浪漫地中海</dt>
                        <dd>Mediterranean Style</dd>
                    </dl>
                    <dl>
                        <dt>简约北欧</dt>
                        <dd>Nordic Style</dd>
                    </dl>
                    <dl>
                        <dt>美式田园</dt>
                        <dd>Pastoral Style Furniture</dd>
                    </dl>
                    <dl>
                        <dt>中式典雅</dt>
                        <dd>Chinese Style Elegance</dd>
                    </dl>
                    <dl>
                        <dt>个性定制</dt>
                        <dd>Personality Customization</dd>
                    </dl>
                </div>
            </div>
            <div class="save-b-right" style="background-image: url(__STATIC__/home/image/save-b-right.jpg);"></div>
        </div>
    </div>
    <div class="save-c">
        <div class="auto-box">
            <div class="save-c-header">
                <h2>整体施工 省心全包</h2>
                <p>好工配好料，精选知名辅材，保障家装工程质量无懈可击</p>
            </div>
            <div class="save-c-body">
                <ul class="save-c-list">
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img.jpg" alt="">
                            <span>水</span>
                            <div class="save-disc">
                                刚柔性防水工艺 <br>
                                现场勘查放线标识工艺 <br>
                                管道热熔连接工艺 <br>
                                包立管降噪防潮工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img2.jpg" alt="">
                            <span>电</span>
                            <div class="save-disc">
                                电路屏蔽抗扰工艺 <br>
                                插座面板、开关控制面板 <br>
                                沐浴器、热水器定位工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img3.jpg" alt="">
                            <span>木</span>
                            <div class="save-disc">
                                轻钢龙骨施工工艺 <br>
                                欧松澳松木工工艺 <br>
                                厨卫艺术吊顶工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img4.jpg" alt="">
                            <span>瓦</span>
                            <div class="save-disc">
                                墙砖薄贴工艺 <br>
                                地面固化防尘工艺 <br>
                                找平找方工艺 <br>
                                墙体基层改性腻子处理工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img5.jpg" alt="">
                            <span>油</span>
                            <div class="save-disc">
                                墙面固化防潮抗霉工艺 <br>
                                水性木器漆油环保施工工艺
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="save-c-banner">
                   <img src="__STATIC__/home/image/save-c-banner.jpg" alt="">
                    <a class="more" href="/SpecialTopics2/BlueDiamond" title="了解更多"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="save-d">
        <div class="auto-box">
            <div class="save-d-header">
                <h2>品牌主材全系标配</h2>
                <p>一站式选齐，自由选择，价格不变</p>
            </div>
            <div class="save-d-body">
                <ul class="save-d-tab">
                    <li class="active">
                        <i class="iconfont icon-ico-restaurant"></i>
                        <span>客餐厅</span>
                        <span>Living room</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-bedroom"></i>
                        <span>卧室/儿童房</span>
                        <span>Bedroom</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-kitchen"></i>
                        <span>厨房</span>
                        <span>Kitchen</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-bathroom"></i>
                        <span>卫生间</span>
                        <span>bathroom</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-balcony"></i>
                        <span>阳台</span>
                        <span>balcony</span>
                    </li>
                </ul>
                <div class="save-d-content">
                    <a style="display: block" class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/客餐厅.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/卧室.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/厨房.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/卫生间.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/阳台.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="save-e">
        <h2>环保三防 · 安心入住</h2>
        <div class="auto-box">
           <img  class="pull-left" src="__STATIC__/home/image/save-e-1.jpg" alt="">
            <img class="pull-right" src="__STATIC__/home/image/save-e-2.jpg" alt="">
        </div>
    </div>
    <div class="save-f">
        <h2>一秒极速报价</h2>
        <div class="auto-box">
            <div class="save-f-jsq">
                <form class="form-horizontal calculator-form">
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="save-form-tit">
                                        <strong>装修计算器</strong> <span>今天已有2269位业主获取了装修预算</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12 area">
                                    <input name="SquareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input name="PhoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button  type="button" class="btn submit-label-btn submit"></button>
                </form>
            </div>
        </div>
    </div>

    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>

    <script>
        $(function () {
            $(".save-b-tab dl").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.save-b-slide li').eq($(this).index()).stop(true, true).fadeIn().siblings().hide();
            });
            $(".save-d-tab li").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.save-d-content .save-d-item').eq($(this).index()).stop(true, true).fadeIn().siblings().hide();
            });
        })
    </script>

</div>
{include file="public/footer"/}

{include file="public/menu_right" /}


{include file="public/price" /}

{include file="public/yuyue" /}


<!-- 主页 / 装修工具箱 / 装修计算器 -->
<div class="modal fade" id="calculateModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修计算器<small>今天已有2269位业主获取了装修预算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected>3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected>1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected>1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected>1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected>1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积"><span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12"><input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <div class="fixed-disc">您的装修预算  <strong>132569</strong> 元</div>
                        <div class="calculate-img"><img src="__STATIC__/home/image/calculate-icon.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 装修费用比例 -->
<div class="modal fade" id="percentModal" style="display: none;">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">装修费用比例<small>今天已有1061位业主获取费用计算</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="装修费用比例" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>超精准计算，一步解决预算难题</h3>
                        <ul class="fixed-result">
                            <li>主材费：<strong>87858</strong>元</li>
                            <li>辅材费：<strong>58962</strong>元</li>
                            <li>人工费：<strong>7853</strong>元</li>
                            <li>设计费：<strong>1223</strong>元</li>
                            <li>管理费：<strong>2223</strong>元</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 工期计算器 -->
<div class="modal fade" id="timeModal">
    <div class="modal-dialog yzf-modal lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">工期计算器<small>今天已有2269位业主获取工程进度</small></h4>
            </div>
            <div class="modal-body">
                <div class="fixed-white-box modal-white-box">
                    <div class="fixed-white-l">
                        <div class="fixed-panel-body">
                            <form class="form-horizontal calculator-form">
                                <input name="channel" value="工期计算器" type="hidden" />
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">开工日期：</label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="2018年">2018</option>
                                                    <option value="2019年">2019</option>
                                                    <option value="2020年">2020</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1月">1月</option>
                                                    <option value="2月">2月</option>
                                                    <option value="3月">3月</option>
                                                    <option value="4月">4月</option>
                                                    <option value="5月">5月</option>
                                                    <option value="6月">6月</option>
                                                    <option value="7月">7月</option>
                                                    <option value="8月">8月</option>
                                                    <option value="9月">9月</option>
                                                    <option value="10月">10月</option>
                                                    <option value="11月">11月</option>
                                                    <option value="12月">12月</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1日">1日</option>
                                                    <option value="2日">2日</option>
                                                    <option value="3日">3日</option>
                                                    <option value="4日">4日</option>
                                                    <option value="5日">5日</option>
                                                    <option value="6日">6日</option>
                                                    <option value="7日">7日</option>
                                                    <option value="8日">8日</option>
                                                    <option value="9日">9日</option>
                                                    <option value="10日">10日</option>
                                                    <option value="11日">11日</option>
                                                    <option value="12日">12日</option>
                                                    <option value="13日">13日</option>
                                                    <option value="14日">14日</option>
                                                    <option value="15日">15日</option>
                                                    <option value="16日">16日</option>
                                                    <option value="17日">17日</option>
                                                    <option value="18日">18日</option>
                                                    <option value="19日">19日</option>
                                                    <option value="20日">20日</option>
                                                    <option value="21日">21日</option>
                                                    <option value="22日">22日</option>
                                                    <option value="23日">23日</option>
                                                    <option value="24日">24日</option>
                                                    <option value="25日">25日</option>
                                                    <option value="26日">26日</option>
                                                    <option value="27日">27日</option>
                                                    <option value="28日">28日</option>
                                                    <option value="29日">29日</option>
                                                    <option value="30日">30日</option>
                                                    <option value="31日">31日</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <select class="form-control  remark">
                                                    <option value="1室">1室</option>
                                                    <option value="2室">2室</option>
                                                    <option value="3室" selected="">3室</option>
                                                    <option value="4室">4室</option>
                                                    <option value="5室">5室</option>
                                                    <option value="6室">6室</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厅" selected="">1厅</option>
                                                    <option value="2厅">2厅</option>
                                                    <option value="3厅">3厅</option>
                                                    <option value="4厅">4厅</option>
                                                    <option value="5厅">5厅</option>
                                                    <option value="6厅">6厅</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <select class="form-control remark">
                                                    <option value="1厨" selected="">1厨</option>
                                                    <option value="2厨">2厨</option>
                                                    <option value="3厨">3厨</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1卫" selected="">1卫</option>
                                                    <option value="2卫">2卫</option>
                                                    <option value="3卫">3卫</option>
                                                </select>
                                            </div>
                                            <div class="col-xs-6">
                                                <select class="form-control remark">
                                                    <option value="1阳台" selected="">1阳台</option>
                                                    <option value="2阳台">2阳台</option>
                                                    <option value="3阳台">3阳台</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12 area">
                                                <input name="squareMeters" type="text" class="form-control" placeholder="输入您的房屋面积">
                                                <span class="m2">㎡</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                                    <div class="col-xs-9">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <input name="phoneNumber" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group group-disc">
                                    *业之峰装饰向您承诺，您的个人隐私我们会严格保密！
                                </div>
                                <button type="button" class="btn submit-label-btn submit">开始计算</button>
                                <span class="circle-animate"></span>
                            </form>
                        </div>
                    </div>
                    <div class="fixed-white-r">
                        <h3>10秒填写，获知装修工期进度</h3>
                        <ul class="fixed-result fixed-result-three">
                            <li>水电验收：<strong>2018-05-02</strong></li>
                            <li>中期验收：<strong>2018-05-25</strong></li>
                            <li>竣工验收：<strong>2018-06-15</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 装修工具箱 / 2018装修吉日 -->
<div class="modal fade" id="luckyModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">查询2019装修吉日<small>今天已有2269位业主获取装修吉日</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="查询装修吉日" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">吉日</label>

                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1月">1月</option>
                                <option value="2月">2月</option>
                                <option value="3月">3月</option>
                                <option value="4月">4月</option>
                                <option value="5月">5月</option>
                                <option value="6月">6月</option>
                                <option value="7月">7月</option>
                                <option value="8月">8月</option>
                                <option value="9月">9月</option>
                                <option value="10月">10月</option>
                                <option value="11月">11月</option>
                                <option value="12月">12月</option>
                            </select>
                        </div>
                        <div class="col-xs-5">
                            <select class="form-control remark">
                                <option value="1日">1日</option>
                                <option value="2日">2日</option>
                                <option value="3日">3日</option>
                                <option value="4日">4日</option>
                                <option value="5日">5日</option>
                                <option value="6日">6日</option>
                                <option value="7日">7日</option>
                                <option value="8日">8日</option>
                                <option value="9日">9日</option>
                                <option value="10日">10日</option>
                                <option value="11日">11日</option>
                                <option value="12日">12日</option>
                                <option value="13日">13日</option>
                                <option value="14日">14日</option>
                                <option value="15日">15日</option>
                                <option value="16日">16日</option>
                                <option value="17日">17日</option>
                                <option value="18日">18日</option>
                                <option value="19日">19日</option>
                                <option value="20日">20日</option>
                                <option value="21日">21日</option>
                                <option value="22日">22日</option>
                                <option value="23日">23日</option>
                                <option value="24日">24日</option>
                                <option value="25日">25日</option>
                                <option value="26日">26日</option>
                                <option value="27日">27日</option>
                                <option value="28日">28日</option>
                                <option value="29日">29日</option>
                                <option value="30日">30日</option>
                                <option value="31日">31日</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">查询结果发送至手机</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 主页 / 环保三防体系 / 官网专属礼包 -->
<div class="modal fade" id="exclusiveModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    官网专属礼包
                    <small>The exclusive gift bag</small>
                </h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="channel" value="官网专属礼包" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="name" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input type="text" class="form-control" name="phoneNumber" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即领取</button>
                        </div>
                    </div>
                    <div class="form-disc">*可与线下活动同时享用</div>
                </form>
            </div>
        </div>
    </div>
</div>

{include file="public/libao" /}



<div class="modal fade" id="shangmenliangfang" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">上门量房<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <input name="Channel" value="上门量房" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label>
                        <div class="col-xs-10">
                            <input name="name" type="text" class="form-control" placeholder="输入姓名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label>
                        <div class="col-xs-10">
                            <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label>
                        <div class="col-xs-4">
                            <input name="residentialName" type="text" class="form-control" placeholder="输入小区名">
                        </div>
                        <label class="col-xs-2 control-label">面积</label>
                        <div class="col-xs-4">
                            <input name="squareMeters" type="text" class="form-control" placeholder="输入面积">
                        </div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap">
                            <button type="button" class="btn btn-gold btn-block">立即报名</button>
                        </div>
                    </div>
                    <div class="form-disc">*业之峰装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>



<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>


<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

</body>
</html>

