{include file="public/header-two" /}
{include file="public/location-two" /}
<div class="header">
     {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-saveworry.css" />
    <div class="save-a">
       <img src="__STATIC__/home/image/save-banner.jpg" alt="">
        <div class="save-a-bot">
            <div class="auto-box">
                <div class="save-a-hd">
                    <h4>服务模式</h4>
                    <p>Service mode</p>
                </div>
                <div class="save-a-bd">
                    <ul class="save-list">
                        <li>
                            <a href="JavaScript:;">
                                <b>01</b>
                                <i class="iconfont icon-ico-design"></i>
                                <span>省心设计</span>
                                <dl>
                                    <dt>省心设计</dt>
                                    <dd>省心搭配 空间优化</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>02</b>
                                <i class="iconfont icon-ico-brand"></i>
                                <span>主材样式任选</span>
                                <dl>
                                    <dt>大牌任选</dt>
                                    <dd>套餐内名品主材任选</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>03</b>
                                <i class="iconfont icon-ico-work"></i>
                                <span>标准工程</span>
                                <dl>
                                    <dt>工程无忧</dt>
                                    <dd>环保施工 包工包料</dd>
                                </dl>
                            </a>
                        </li>
                        <li>
                            <a href="JavaScript:;">
                                <b>04</b>
                                <i class="iconfont icon-ico-service"></i>
                                <span>售后无忧</span>
                                <dl>
                                    <dt>服务验收</dt>
                                    <dd>按期交付 星级售后</dd>
                                </dl>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="save-b">
        <div class="save-b-header">
            <h2>省心搭配 全案设计</h2>
            <p>5+1风格定制 + 空间优化设计</p>
        </div>
        <div class="save-b-body">
            <div class="save-b-main">
                <ul class="save-b-slide">
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/新古典风格.jpg); display: block"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/地中海风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/北欧风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/美式田园.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/中式风格.jpg);"></li>
                    <li style="background-image: url(__STATIC__/home/image/省心套装/风格配图/个性定制.jpg);"></li>
                </ul>
                <div class="save-b-tab">
                    <dl class="active">
                        <dt>新古典主义</dt>
                        <dd>Neoclassical Style</dd>
                    </dl>
                    <dl>
                        <dt>浪漫地中海</dt>
                        <dd>Mediterranean Style</dd>
                    </dl>
                    <dl>
                        <dt>简约北欧</dt>
                        <dd>Nordic Style</dd>
                    </dl>
                    <dl>
                        <dt>美式田园</dt>
                        <dd>Pastoral Style Furniture</dd>
                    </dl>
                    <dl>
                        <dt>中式典雅</dt>
                        <dd>Chinese Style Elegance</dd>
                    </dl>
                    <dl>
                        <dt>个性定制</dt>
                        <dd>Personality Customization</dd>
                    </dl>
                </div>
            </div>
            <div class="save-b-right" style="background-image: url(__STATIC__/home/image/save-b-right.jpg);"></div>
        </div>
    </div>
    <div class="save-c">
        <div class="auto-box">
            <div class="save-c-header">
                <h2>整体施工 省心全包</h2>
                <p>好工配好料，精选知名辅材，保障家装工程质量无懈可击</p>
            </div>
            <div class="save-c-body">
                <ul class="save-c-list">
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img.jpg" alt="">
                            <span>水</span>
                            <div class="save-disc">
                                刚柔性防水工艺 <br>
                                现场勘查放线标识工艺 <br>
                                管道热熔连接工艺 <br>
                                包立管降噪防潮工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img2.jpg" alt="">
                            <span>电</span>
                            <div class="save-disc">
                                电路屏蔽抗扰工艺 <br>
                                插座面板、开关控制面板 <br>
                                沐浴器、热水器定位工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img3.jpg" alt="">
                            <span>木</span>
                            <div class="save-disc">
                                轻钢龙骨施工工艺 <br>
                                欧松澳松木工工艺 <br>
                                厨卫艺术吊顶工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img4.jpg" alt="">
                            <span>瓦</span>
                            <div class="save-disc">
                                墙砖薄贴工艺 <br>
                                地面固化防尘工艺 <br>
                                找平找方工艺 <br>
                                墙体基层改性腻子处理工艺
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="c-link">
                           <img src="__STATIC__/home/image/save-c-img5.jpg" alt="">
                            <span>油</span>
                            <div class="save-disc">
                                墙面固化防潮抗霉工艺 <br>
                                水性木器漆油环保施工工艺
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="save-c-banner">
                   <img src="__STATIC__/home/image/save-c-banner.jpg" alt="">
                    <a class="more" href="{:url('special/blue')}" title="了解更多"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="save-d">
        <div class="auto-box">
            <div class="save-d-header">
                <h2>品牌主材全系标配</h2>
                <p>一站式选齐，自由选择，价格不变</p>
            </div>
            <div class="save-d-body">
                <ul class="save-d-tab">
                    <li class="active">
                        <i class="iconfont icon-ico-restaurant"></i>
                        <span>客餐厅</span>
                        <span>Living room</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-bedroom"></i>
                        <span>卧室/儿童房</span>
                        <span>Bedroom</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-kitchen"></i>
                        <span>厨房</span>
                        <span>Kitchen</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-bathroom"></i>
                        <span>卫生间</span>
                        <span>bathroom</span>
                    </li>
                    <li>
                        <i class="iconfont icon-ico-balcony"></i>
                        <span>阳台</span>
                        <span>balcony</span>
                    </li>
                </ul>
                <div class="save-d-content">
                    <a style="display: block" class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/客餐厅.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/卧室.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/厨房.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/卫生间.jpg" alt=""></a>
                    <a class="save-d-item" href="JavaScript:;"><img src="__STATIC__/home/image/省心套装/空间配置配图/阳台.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <div class="save-e">
        <h2>环保三防 · 安心入住</h2>
        <div class="auto-box">
           <img  class="pull-left" src="__STATIC__/home/image/save-e-1.jpg" alt="">
            <img class="pull-right" src="__STATIC__/home/image/save-e-2.jpg" alt="">
        </div>
    </div>
    <div class="save-f">
        <h2>一秒极速报价</h2>
        <div class="auto-box">
            <div class="save-f-jsq">
                <form class="form-horizontal calculator-form">
                    <input name="zx_channel" value="装修计算器" type="hidden" />
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="save-form-tit">
                                        <strong>装修计算器</strong> <span>今天已有2269位业主获取了装修预算</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control  remark" name="zx_shi">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="zx_ting">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="zx_chu">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="zx_wei">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="zx_tai">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12 area">
                                    <input name="zx_square" type="text" class="form-control" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input name="zx_phone" type="text" class="form-control" placeholder="报价结果将发送到您的手机">
                                </div>
                            </div>
                        </div>
                    </div>
                    <button  type="button" class="btn submit-label-btn submit"  id="zx_order"></button>
                </form>
            </div>
        </div>
    </div>

    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>

    <script>
        $(function () {
            $(".save-b-tab dl").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.save-b-slide li').eq($(this).index()).stop(true, true).fadeIn().siblings().hide();
            });
            $(".save-d-tab li").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.save-d-content .save-d-item').eq($(this).index()).stop(true, true).fadeIn().siblings().hide();
            });
        })
    </script>

</div>
{include file="public/footer"/}
{include file="public/menu_right" /}
{include file="public/price" /}
{include file="public/yuyue" /}
{include file="public/libao" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>
<script>
    //手机号正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //装修计算器
    $("#zx_order").click(function(){
        var channel = $("input[name='zx_channel']").val();
        var shi = $("select[name='zx_shi']").val();
        var ting = $("select[name='zx_ting']").val();
        var chu = $("select[name='zx_chu']").val();
        var wei = $("select[name='zx_wei']").val();
        var tai = $("select[name='zx_tai']").val();
        var square = $("input[name='zx_square']").val();
        var phone = $("input[name='zx_phone']").val();

        if(square=='' || square==undefined){
            alert('请填写户型面积大小！');
        }else if(isPhoneNo(phone)==false || phone==''){
            alert('手机号码填写不合法！');
        }else{
            $.ajax({
                url:"{:url('api/send/zhuang')}",
                type:'post',
                data:{'channel':channel,'square':square,'phone':phone,'shi':shi,'ting':ting,'chu':chu,'wei':wei,'tai':tai},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })

</script>


</body>
</html>

