{include file="public/header-two" /}

{include file="public/location-two" /}

<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">
    <link rel="stylesheet" href="__STATIC__/home/css_/topic-villa.css" />
    <div class="villa-a"></div>
    <div class="villa-b"></div>
    <div class="villa-c">
        <div class="villa-auto-box">
            <ul class="villa-c-tab">
                <li class="active">动 <span>人、空间、时间三维合一</span></li>
                <li>静 <span>身心、精神、冥想三维合一</span></li>
                <li>享 <span>舒适、安全、健康三维合一</span></li>
            </ul>
            <div class="villa-c-cont">
                <img style="display: block" src="__STATIC__/home/image/villa-c-cont.jpg" alt="">
                <img src="__STATIC__/home/image/villa-c-cont2.jpg" alt="">
                <img src="__STATIC__/home/image/villa-c-cont3.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="villa-d">
        <div class="villa-auto-box">
            <ul class="villa-d-tab">
                <li class="active">音频吸收屏蔽墙</li>
                <li>泳池系统</li>
                <li>隔音降噪系统</li>
                <li>节能保温系统</li>
                <li>定制高门</li>
                <li>木作定制系统</li>
            </ul>
            <div class="villa-d-cont">
                <img style="display: block" src="__STATIC__/home/image/villa-d-cont1.jpg" alt="">
                <img src="__STATIC__/home/image/villa-d-cont2.jpg" alt="">
                <img src="__STATIC__/home/image/villa-d-cont3.jpg" alt="">
                <img src="__STATIC__/home/image/villa-d-cont4.jpg" alt="">
                <img src="__STATIC__/home/image/villa-d-cont5.jpg" alt="">
                <img src="__STATIC__/home/image/villa-d-cont6.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="villa-e"></div>
    <div class="villa-f">
        <div class="villa-auto-box">
            <ul class="villa-f-tab">
                <li class="active">声</li>
                <li>光</li>
                <li>水</li>
                <li>气</li>
                <li>材</li>
                <li>色</li>
                <li>电</li>
                <li>形</li>
                <li>风</li>
            </ul>
            <div class="villa-f-cont">
                <img style="display: block" src="__STATIC__/home/image/villa-f-cont1.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont2.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont3.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont4.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont5.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont6.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont7.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont8.jpg" alt="">
                <img src="__STATIC__/home/image/villa-f-cont9.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="villa-g">
        <div class="villa-auto-box">
            <div id="villa-g-slide" class="slideTxtBox">
                <div class="bd">
                    <div class="slide-item">
                        <a href="JavaScript:;">
                            <img src="__STATIC__/home/image/villa-g-slide.jpg" alt="">
                            <div class="disc">星海湾壹号 <span>1200平独栋</span></div>
                        </a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;">
                            <img src="__STATIC__/home/image/别墅大宅/绿城玫瑰园-480平.jpg" alt="">
                            <div class="disc">绿城玫瑰园 <span>480平独栋</span></div>
                        </a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;">
                            <img src="__STATIC__/home/image/别墅大宅/唐城1010别墅-360平.jpg" alt="">
                            <div class="disc">唐城1010别墅 <span>360平独栋</span></div>
                        </a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;">
                            <img src="__STATIC__/home/image/别墅大宅/钟山国际高尔夫别墅-800平.jpg" alt="">
                            <div class="disc">钟山国际高尔夫别墅 <span>800平独栋</span></div>
                        </a>
                    </div>
                </div>
                <div class="ft">
                    <a href="javascript:;" class="prev iconfont icon-jiantou-left"></a>
                    <a href="javascript:;" class="next iconfont icon-jiantou-right"></a>
                </div>
            </div>
            <div class="msg-form row">
                <form>
                    <input name="y_channel" value="预约设计" type="hidden" />
                    <div class="col-xs-3 required">
                        <input type="text" name="y_names" class="form-control" placeholder="您的称呼">
                    </div>
                    <div class="col-xs-3 required">
                        <input type="text"name="y_phone" class="form-control" placeholder="您的手机号码">
                    </div>
                    <div class="col-xs-3">
                        <input type="text" name="y_xiao" class="form-control" placeholder="楼盘名称">
                    </div>
                    <div class="col-xs-3 submit">
                        <button class="btn btn-block btn-gold" id="b_yuyue">预约设计</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>

    <script>
        $(function () {
            $(".villa-c-tab li").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.villa-c-cont img').eq($(this).index()).stop(true, true).fadeIn(1000).siblings().hide();
            });
            $(".villa-d-tab li").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.villa-d-cont img').eq($(this).index()).stop(true, true).fadeIn(1000).siblings().hide();
            });
            $(".villa-f-tab li").hover(function () {
                $(this).addClass('active').siblings().removeClass('active');
                $('.villa-f-cont img').eq($(this).index()).stop(true, true).fadeIn(1000).siblings().hide();
            });

            $("#villa-g-slide").slide({
                effect: "left",
                trigger: "click"
            });
        })
    </script>
</div>

{include file="public/footer" /}
{include file="public/menu_right"  /}
{include file="public/price" /}
{include file="public/yuyue" /}
{include file="public/libao" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

<script>
    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //面积
    function  isHouseArea (mian) {
        var reg =new RegExp('^[1-9]{1}[0-9]{0,2}$');
        return reg.test(mian);
    }
    //预约提交
    $("#b_yuyue").click(function(){
        var channel = $("input[name='y_channel']").val();
        var names = $("input[name='y_names']").val();
        var phone = $("input[name='y_phone']").val();
        var xiaoq = $("input[name='y_xiao']").val();
        if (names == '' || names == undefined) {
            alert('用户名不能为空！');
            return false;
        }else if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
            return false;
        }else if (xiaoq == '' || xiaoq == undefined){
            alert('请填写小区名称！');
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/yu')}",
                type:'post',
                data:{'channel':channel,'xiao':xiaoq,'names':names,'phone':phone},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })

</script>


</body>
</html>

