{include file="public/header-two" /}

{include file="public/location-two" /}
<!--
<input type="hidden" id="branch_name" value="苏州" />
<input type="hidden" id="visitType" value="1" />
<script>
    console.log('branch_name:' + $('#branch_name').val());
    console.log('visitType:' + $('#visitType').val());
</script>
<style>
    body {
        padding-top: 54px;
    }
</style>
-->

<div class="header">
    {include file="public/menu" /}
</div>
<!--
<div id="Mask" style="width: 100%; height: 100%; position: absolute; z-index: 99; background-color: black; opacity: 0.5; filter: alpha(opacity=50); display: none;"></div>
<div id="popup" class="popup_block" style="display: none;">
    <div class="tc_box_01">
        <div class="tc_h3" id="Title">在线申请</div>
        <form class="bd_black">

            <p class="zin">姓名：<input type="text" name="Name" class="in_text" value="" /><span> *</span></p>
            <p class="zin_1">手机号：<input type="text" name="PhoneNumber" class="in_text" value="" /><span> *</span></p>
            <p id="eMail" style="text-indent: 4px; display: none;">QQ邮箱：<input name="Email" type="text" class="in_text" value="" /></p>
            <p style="text-indent:18px;"><c>小区：</c><input name="ResidentialName" type="text" class="in_text2" value="" /><c>面积：</c><input name="SquareMeters" type="text" class="in_text2" value="" /><c>㎡</c></p>
            <p class="zin"><ld style="display:inline-block;height:100%;float:left;line-height:80px;">留言：</ld><textarea name="Remark" id="tearBox" class="teear_box"></textarea><i style="clear:both;display:block;"></i></p>
            <p class="ann_style">
                <input type="button" id="btnSub" value="确认提交" style="cursor: pointer;" class="qrtj_bo" />
            </p>
        </form>
        <p style="text-align:center;color:#999999;text-align:center;font-size:12px;padding-bottom:30px;">* 业之峰装饰向您承诺,您的个人隐私我们会严格保密!</p>
    </div>
</div>
<div class="Common_HeadTopics">
    <div class="eff">
        <div class="companyLogo"></div>
        <div class="nav">
            <a href="/?p=183">首页</a>
            <a href="/ResidentialCase?p=183">装修案例</a>
            <a href="/designer?p=183">大牌设计</a>
            <a href="/SpecialTopics2/EP?p=183">环保承诺</a>
            <a href="/Fabricatingyard?p=183">热门工地</a>
            <a href="/SpecialTopics2/about?p=183">联系我们</a>
        </div>
        <div class="phone">
            <img style="top:6px;position:relative;" src="/Images2/Global/phone.png" />
            <span>4009996687</span>
        </div>
    </div>
</div>
<div class="Slide" id="slider11">
    <a href="http://wpa.qq.com/msgrd?v=3&uin=792548002&site=在线客服&menu=yes" target="_blank">
        <i class="iconfont icon-erjikefu"></i>
        <span>在线咨询</span>
    </a>
    <a class="h" href="javascript:void(0)" onclick="showRegistion('获取装修报价')" style="height: 93px;">
        <i style="margin-top:20px;">
            <img src="/Images2/Global/Slider2.jpg" />
        </i>
        <span style="margin-top:10px;">获取报价</span>
    </a>
    <a class="h" href="javascript:void(0)" id="divgotop" style="overflow: hidden;" onclick="goTop();">
        <i style="margin-top:20px;">
            <img src="/Images2/Global/Slider3.jpg" />
        </i>
        <span style="margin-top:10px;">返回顶部</span>
    </a>

</div>
-->
<link href="__STATIC__/home/css_/qgkjby0901pc.css" rel="stylesheet" />


<div class="wrap">
    <div class="content">
        <section class="s1">
            <div class="b1">
                <div class="l">
                    <p class="p1">免费平面方案</p>
                    <p class="p2"><span>10000</span>元家装基金</p>
                </div>
                <div class="r">
                    <div class="t">
                        <h3>苏州站·征集</h3>
                        <p class="p3"><span>99</span><small>户</small></p>
                        <p class="p1 datestr"></p>
                        <p class="p2">预选节目样板间</p>
                    </div>
                    <form class="b">
                        <input name="Channel" value="qgkjby0901" type="hidden" />

                        <div class="req">
                            <input name="Name" type="text" placeholder="您的称呼" />
                        </div>
                        <div class="req">
                            <input name="PhoneNumber" type="text" placeholder="预约电话" />
                        </div>
                        <input name="ResidentialName" type="text" placeholder="楼盘小区" />
                        <div class="m2">
                            <input name="SquareMeters" type="text" placeholder="建筑面积" />
                        </div>
                        <div class="submit">

                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="s2">
            <p class="p1">大咖免费<br />平面方案</p>
            <form class="b">
                <input name="Channel" value="qgkjby0901" type="hidden" />


                <div class="req">
                    <input name="Name" type="text" placeholder="您的称呼" />
                </div>
                <div class="req">
                    <input name="PhoneNumber" type="text" placeholder="预约电话" />
                </div>
                <div class="submit">
                    <p>申请免费平面方案 ></p>
                </div>
                <small>* 在线报名业主均可获得<br />【平面设计方案一套及10000元家装基金】</small>
            </form>
        </section>
    </div>

</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>
<!--
<script>
    var Mask = false;
    $(".submit").on("click", function () {
        var $form = $(this).parent("form");
        if (!Mask) {
            Mask = true;
            var Phone = $form.find("[name='PhoneNumber']").val();
            if (RegPhone(Phone)) {
                //alert("恭喜您，报名成功");
                $.ajax({
                    type: "post",
                    url: "/api/RegistrationAPI/Insert",
                    data: $form.serialize(),
                    success: function (json) {
                        //var json = eval("(" + json + ")");
                        if (json.Sucess) {
                            alert("恭喜您，报名成功");
                        }
                        else {
                            alert("同一手机号码只能领取一次！");
                        }
                        Mask = false;
                    }
                });
            }
            else {
                alert("请输入正确的电话号码");
                Mask = false;
            }
        }
    });

    function RegPhone(Phone) {

        /*验证电话号码
            验证规则：区号+号码，区号以0开头，3位或4位号码由7位或8位数字组成
            区号与号码之间可以无连接符，也可以“-”连接
            如01088888888,010-88888888,0955-7777777 */
        var isPhone = /^0\d{2,3}-?\d{7,8}$/;
        /*验证手机号码
        移动：134(1349除外）135 136 137 138 139 147 150 151 152 157 158 159 182 183 184 187 188
        联通：130 131 132 155 156 185 186 145
        电信：133 153 177 180 181 189*/
        //var isMob = /^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;

        var isMob = /^1\d{10}$/;
        if (isMob.test(Phone) || isPhone.test(Phone)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
-->

</body>
</html>
