{include file="public/header-two" /}

 {include file="public/location-two" /}
<div class="header">
   {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-private-custom.css" />
    <div class="private-a"></div>
    <div class="private-b">
        <div class="auto-box">
            <div class="p-b-tit">
                <h2>服务模式</h2>
                <p>Service mode</p>
            </div>
            <div class="p-b-bd">
                <ul class="p-b-list">
                    <li>
                        <span class="no-id">1</span>
                        <i class="iconfont icon-tequan"></i>
                        <dl>
                            <dt>专属设计</dt>
                            <dd>从业十年以上设计师量身订制设计</dd>
                        </dl>
                    </li>
                    <li>
                        <span class="no-id">2</span>
                        <i class="iconfont icon-leicailiaojiagongx"></i>
                        <dl>
                            <dt>大牌主材</dt>
                            <dd>峰格汇家居千款国际大牌低价任选</dd>
                        </dl>
                    </li>
                    <li>
                        <span class="no-id">3</span>
                        <i class="iconfont icon-youmian"></i>
                        <dl>
                            <dt>匠心施工</dt>
                            <dd>德系精工匠心工艺</dd>
                        </dl>
                    </li>
                    <li>
                        <span class="no-id">4</span>
                        <i class="iconfont icon-iconfontjiajuruanzhuang-copy"></i>
                        <dl>
                            <dt>订制软装</dt>
                            <dd>软装设计中心高级定制</dd>
                        </dl>
                    </li>
                    <li>
                        <span class="no-id">5</span>
                        <i class="iconfont icon-fangzi1"></i>
                        <dl>
                            <dt>品质入住</dt>
                            <dd>悦享高品质新生活</dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="private-c"></div>
    <div class="private-d">
        <div id="private-slide" class="slideTxtBox">
            <div class="hd">
                <ul>
                    <li class="on">客厅/书房/阳台</li>
                    <li>餐厅/厨房</li>
                    <li>主卧/次卧/儿童房</li>
                    <li>卫生间</li>
                </ul>
            </div>
            <div class="bd">
                <div class="slide-item">
                    <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/装修灵魂-客厅.jpg);"></a>
                </div>
                <div class="slide-item">
                    <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/装修灵魂-厨房.jpg);"></a>
                </div>
                <div class="slide-item">
                    <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/装修灵魂-主卧.jpg);"></a>
                </div>
                <div class="slide-item">
                    <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/装修灵魂-卫生间.jpg);"></a>
                </div>
            </div>
            <div class="ft">
                <a href="javascript:;" class="prev iconfont icon-jiantou-left"></a>
                <a href="javascript:;" class="next iconfont icon-jiantou-right"></a>
            </div>
        </div>
    </div>
    <div class="private-e">
        <a href="JavaScript:;" class="link-area" title="预约设计"></a>
    </div>
    <div class="private-f">
        <div class="auto-box">
            <div class="private-header">
                <h2>环保设计</h2>
                <p>Environmental protection design</p>
                <div class="hd-line"></div>
            </div>
            <div class="private-body">
                <ul class="private-env pull-left">
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img1.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>光</h4>
                                <div class="cn-txt">柔光暖调<br>舒缓流淌出温馨</div>

                                <div class="en-txt">Light</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img2.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>声</h4>
                                <div class="cn-txt">隔离喧嚣<br>静谧中感受平静</div>

                                <div class="en-txt">Sound</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img3.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>水</h4>
                                <div class="cn-txt">纯净甘甜 <br>点滴处呵护健康</div>

                                <div class="en-txt">Water</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img4.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>气</h4>
                                <div class="cn-txt">清新自然 <br>自由中畅快呼吸</div>

                                <div class="en-txt">Air</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="private-env pull-right">
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img5.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>材</h4>
                                <div class="cn-txt">环保主材 <br>精选方造就精品</div>

                                <div class="en-txt">Material</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img6.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>色</h4>
                                <div class="cn-txt">绚烂多彩 <br>斑斓处表达情感</div>

                                <div class="en-txt">Color</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img7.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>形</h4>
                                <div class="cn-txt">形神兼备 <br>神意的不拘于外</div>

                                <div class="en-txt">Form</div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="JavaScript:;" class="env-link">
                            <img src="__STATIC__/home/image/env-img8.jpg" alt="">
                            <div class="drop-wrap">
                                <h4>风</h4>
                                <div class="cn-txt">个性凸显 <br>风格化引导品味</div>

                                <div class="en-txt">Style</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="private-g">
        <div class="private-header">
            <h2>十年匠人 蓝钻工程</h2>
            <p>源于欧洲，为品质提供坚实的基础</p>
            <div class="hd-line"></div>
        </div>
        <div class="private-body">
            <div id="private-g-slide" class="slideTxtBox">
                <div class="bd">
                    <div class="slide-item">
                        <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/蓝钻工艺-质量保障系统.jpg);"></a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/cailiao.jpg);"></a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/蓝钻工艺-环境保障系统.jpg);"></a>
                    </div>
                    <div class="slide-item">
                        <a href="JavaScript:;" class="slide-link" style="background-image: url(../../../../static/home/image/私人订制/蓝钻工艺-管理保障系统.jpg);"></a>
                    </div>


                </div>
                <div class="ft">
                    <a href="javascript:;" class="prev iconfont icon-jiantou-left"></a>
                    <a href="javascript:;" class="next iconfont icon-jiantou-right"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="private-h">
        <div class="private-header">
            <h2>业之峰 · 峰格汇家居</h2>
            <p>High standard home</p>
            <div class="hd-disc">
                万平实体展厅，八大品类，一站式购齐 <br>
                百余主材品牌入驻，数千款家装产品自由选择，实体样板间，所见即所得
            </div>
        </div>
        <div class="private-body text-center">
            <img src="__STATIC__/home/image/private-h-img.jpg" alt="">
        </div>
    </div>
    <div class="private-i">
        <div class="private-header">
            <h2>精英臻享 一秒极速报价</h2>
            <p>Speed quotation</p>
        </div>
        <form class="private-body text-center">
            <input name="price_channel" value="获取详情报价" type="hidden" />
            <div class="form-inline">
                <div class="form-group">
                    <input type="text" name="price_names" class="form-control" placeholder="您的称呼">
                </div>
                <div class="form-group">
                    <input type="text" name="price_square" class="form-control" placeholder="面积">
                </div>
                <div class="form-group">
                    <input type="text" name="price_phone" class="form-control" placeholder="您的电话">
                </div>
                <div class="form-group">
                    <input type="text" name="price_xiao" class="form-control" placeholder="小区">
                </div>
            </div>
            <div class="btn-wrap submit">
                <a onclick="price()" class="btn">获取详情报价</a>
            </div>
        </form>
    </div>

    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        $(function () {
            $("#private-slide").slide({
                effect: "left",
                trigger: "click"
            });
            $("#private-g-slide").slide({
                effect: "left",
                trigger: "click"
            });
        })
    </script>

</div>
{include file="public/footer"  /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}

<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>
<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>
<script>
    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //获取详情报价
    function price(){
        var channel = $("input[name='price_channel']").val();
        var names = $("input[name='price_names']").val();
        var square = $("input[name='price_square']").val();
        var phone = $("input[name='price_phone']").val();
        var xiaoq = $("input[name='price_xiao']").val();
        if (names == '' || names == undefined) {
            alert('用户名不能为空！');
            return false;
        }else if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
            return false;
        }else if (xiaoq == '' || xiaoq == undefined){
            alert('请填写小区名称！');
            return false;
        }else if(square==''||square==undefined){
            alert("请填写小区面积大小！");
            return false;
        }else{
            $.ajax({
                url:"{:url('api/send/yu')}",
                type:'post',
                data:{'channel':channel,'xiao':xiaoq,'names':names,'phone':phone,'square':square},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    }
</script>

</body>
</html>

