<!-- 底部 -->
<div class="footer">
    <div class="footer-a">
        <div class="auto-box">
            <div class="footer-a-top">
                <div class="footer-a-logo">
                    <a href="JavaScript:;"><img src="__STATIC__/home/image/footer-logo.png" alt=""></a>
                </div>
                <div class="footer-a-center">
                    <dl>
                        <dt>关于我们</dt>
                        <dd><a target="_blank" href="{:url('about/index')}">集团介绍</a></dd>
                        <dd><a target="_blank" href="{:url('news/index')}">企业动态</a></dd>
                        <!--<dd><a target="_blank" href="/job/HR">人才招聘</a></dd>-->
                        <!--<dd><a target="_blank" rel="nofollow" href="http://admin.yzf.com.cn/">员工登陆</a></dd>-->
                        <dd><a target="_blank" rel="nofollow" href="">企业邮箱</a></dd>
                    </dl>
                    <dl>
                        <dt>客户服务</dt>
                        <dd><a target="_blank" href="/CompanyNews/TestimonialHome">业主感言</a></dd>
                        <dd><a target="_blank" href="/Fabricatingyard">参观工地</a></dd>
                        <dd><a target="_blank" href="/AboutUs/tousujianyi">投诉建议</a></dd>
                    </dl>
                    <dl>
                        <dt>品牌力量</dt>
                        <dd><a target="_blank" href="{:url('special/ep')}">环保体系</a></dd>
                        <dd><a target="_blank" href="{:url('special/blue')}">蓝钻工程</a></dd>
                        <dd><a target="_blank" href="/SpecialTopics2/FiveAfterSale">五星售后</a></dd>
                        <dd><a target="_blank" href="{:url('special/fivezero')}">五零承诺</a></dd>
                    </dl>
                    <!--
                    <dl class="last-dl">
                        <dt><a target="_blank" href="JavaScript:;">电商平台</a></dt>
                        <dd><a target="_blank" rel="nofollow" href="https://yezhifeng.tmall.com/">天猫旗舰店</a></dd>
                        <dd><a target="_blank" rel="nofollow" href="http://anli.jiaju.sina.com.cn/">新浪案例库</a></dd>
                    </dl>
                    -->
                </div>
                <div class="footer-a-right">
                    <div class="detail-share">
                        <a class="share-btn" href="###"><i class="iconfont icon-weixin"></i><div class="drop-on">
                            <img src="__STATIC__/home/Images/chidu.jpg" /></div></a>
                        <a class="share-btn" target="_blank" href="http://weibo.com/yzfgroup"><i class="iconfont icon-weibo"></i></a>
                        <a class="share-btn" target="_blank" href="http://tieba.baidu.com/f?ie=utf-8&kw=%E4%B8%9A%E4%B9%8B%E5%B3%B0&fr=search&red_tag=q1754322760"><i class="iconfont icon-baidu1"></i></a>
                    </div>
                    <p>24h装修服务热线</p>
                    <h4>400-828-1613</h4>
                </div>
            </div>
            <div class="footer-a-bot">
                <span>友情链接：</span>
                <a target="_blank" href="http://qd.yzf.com.cn">青岛装修公司</a>
                <a target="_blank" href="http://zz.yzf.com.cn">郑州装修公司</a>
                <a target="_blank" href="http://nb.yzf.com.cn">宁波装修公司</a>
                <a target="_blank" href="http://xa.yzf.com.cn">西安装修公司</a>
                <a target="_blank" href="http://tj.yzf.com.cn">天津装修公司</a>
                <a target="_blank" href="http://gy.yzf.com.cn">贵阳装修公司</a>
                <a target="_blank" href="http://lz.yzf.com.cn">兰州装修公司</a>
                <a target="_blank" href="http://heb.yzf.com.cn">哈尔滨装修公司</a>
                <a target="_blank" href="http://jn.yzf.com.cn">济南装修公司</a>
                <a target="_blank" href="http://cqhd.yzf.com.cn">重庆装修公司</a>
                <a target="_blank" href="http://sjz.yzf.com.cn">石家庄装修公司</a>
                <a target="_blank" href="http://cd.yzf.com.cn">成都装修公司</a>
                <a target="_blank" href="http://nj.yzf.com.cn">南京装修公司</a>
                <a target="_blank" href="http://nc.yzf.com.cn">南昌装修公司</a>
                <a target="_blank" href="http://dl.yzf.com.cn">大连装修公司</a>
                <a target="_blank" href="http://wh.yzf.com.cn">武汉装修公司</a>
                <a target="_blank" href="http://sy.yzf.com.cn">沈阳装修公司</a>
                <a target="_blank" href="http://ty.yzf.com.cn">太原装修公司</a>
                <a target="_blank" href="http://wf.yzf.com.cn">潍坊装修公司</a>
                <a target="_blank" href="http://suzhou.yzf.com.cn">苏州装修公司</a>
                <a target="_blank" href="http://www.yzftx.cn">业之峰连锁官网</a>
            </div>
        </div>
    </div>
    <div class="footer-b">
        诺华家居装饰集团股份有限公司版权所有© 2000-2018  京ICP备16022901号 | 京公网安备11010502001310号
    </div>
</div>