<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <title>别墅大宅-更懂中国人的别墅装修-业之峰装饰</title>
    <meta name="keywords" content="别墅大宅" />
    <meta name="description" content="业之峰装饰别墅大宅，专注于别墅大宅装修，专属装修设计团队1对1定制服务，三维合一哲学装修设计，采用大宅装修定制工艺，全程管家式装修服务，全环保装修，为您提供高端别墅装修服务" />
    <meta name="location" content="province=;city=苏州;coord=120.68515,31.309508" />

    <link href="__STATIC__/home/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_495875_ccwvsf9yas.css">
    <link rel="stylesheet" href="__STATIC__/home/Css/main.css" />
    <script src="__STATIC__/home/js/jquery.min.js"></script>
    <script src="__STATIC__/home/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!--<script src="https://api.map.baidu.com/api?v=2.0&ak=OpqLAedMGONFbBGVarRqSGCS"></script>-->
</head>
<body>