
<script>
    function formdata(){
        var channel = $("input[name='channel']").val();
        var names  = $("input[name='names']").val();
        var phone  = $("input[name='phone']").val();
        var xiaoq  = $("input[name='residential']").val();
        var square = $("input[name='square']").val();
        if(names =='' || names==undefined){
            alert('用户名不能为空！');
            return false;
        }
        if(isPhoneNo(phone)==false || phone=='null'){
            alert('手机号不合法！');
            return false;
        }
        if(isHouseArea(square)==false || square==''){
            alert('户型面积不合法！');
            return false;
        }
        if(xiaoq == '' || xiaoq==undefined){
            alert('请填写小区名称！');
            return false;
        }
        /*
        $.ajax({
            type:'post',
            url:"{:url('api/send/sheji')}",
            data:{channel:channel,names:names,xiao:xiaoq,phone:phone,square:square},
            success:function(res){
                alert('111');
            }
        });
    }
   */

    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //面积
    function  isHouseArea (mian) {
        var reg = new RegExp('^[1-9]{1}[0-9]{0,2}$');
        return reg.test(mian);
    };



</script>