
<input type="hidden" id="body-branchId" value="54" />
<div class="index-top">
    <div class="auto-box-lg" style="">
        <a href="/" class="index-logo"><img src="__STATIC__/home/image/v.png" alt=""></a>
<!--<div class="top">-->
        <!--<div class="auto-box-lg">-->
            <!--<a href="/" class="index-logo"><img src="__STATIC__/home/image/v.png" alt=""></a>-->
        <div class="top-right">
            <ul class="top-nav">
                <li><a href="{:url('news/index')}">企业新闻</a></li>
                <li><a href="{:url('decoration/index')}">投诉建议</a></li>
            </ul>
            <div class="top-menu">
                <i class="iconfont icon-daohangtubiao"></i>
            </div>
        </div>
    </div>
</div>