
<input type="hidden" id="body-branchId" value="54" />
<div class="top">
    <div class="auto-box-lg">
        <!--
        <div class="top-left">
            <i class="iconfont icon-dibiao"></i>
            <span>苏州</span>
            <a href="http://www.yzf.com.cn/index">[切换]</a>
        </div>
        -->
        <div class="top-right">
            <ul class="top-nav">
                <li><a href="{:url('news/index')}">企业新闻</a></li>
                <li><a href="{:url('decoration/index')}">投诉建议</a></li>
            </ul>
            <div class="top-menu">
                <i class="iconfont icon-daohangtubiao"></i>
            </div>
        </div>
    </div>
</div>