<!-- 右侧悬浮  免费报价-->
<div class="fixed-menu-wrap">
    <ul class="fixed-menu">
        <!--
        <li>
            <a href="javascript:void(0)" onclick="doyoo.util.openChat('g=10064078');return false;">
                <i class="iconfont icon-erjikefu"></i>
                <span>在线咨询</span>
            </a>
            <script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001829/10063849.js"></script>
        </li>
         -->
        <li>
            <a href="#" data-toggle="modal" data-target="#priceModal">
                <i class="iconfont icon-ERP_hetonghao"></i>
                <span>免费报价</span>
            </a>
        </li>
        <li>
            <a href="#" data-toggle="modal" data-target="#yuyuesheji">
                <i class="iconfont icon-pan_icon"></i>
                <span>预约设计</span>
            </a>
        </li>
        <li class="last">
            <a href="javascript:;">
                <i class="iconfont icon-erweima1"></i>
                <span>案例解析</span>
                <div class="drop-on">
                    <img src="__STATIC__/home/Images/chidu.jpg" />
                </div>
            </a>
        </li>
    </ul>
    <a id="scrollUp" href="javascript:;" class="go-top iconfont icon-jiantou3"></a>
</div>
<!-- 注释
<div class="fixed-tip fixed-three">
    <div class="fixed-tip-hd">
        <i class="iconfont icon-huanbaoxingye"></i>
        <span>环保三防体系</span>
    </div>
    <div class="fixed-tip-bd">
        <ul>
            <li>
                <a href="/SpecialTopics2/ep?#1f">
                    <strong>01装修前</strong>
                    <span>污染指数-防累积</span>
                </a>
            </li>
            <li>
                <a href="/SpecialTopics2/ep?#2f">
                    <strong>02装修中</strong>
                    <span>环保材料-防源头</span>
                </a>
            </li>
            <li class="last">
                <a href="/SpecialTopics2/ep?#3f">
                    <strong>03装修后</strong>
                    <span>负氧离子-防残留</span>
                </a>
            </li>
        </ul>
    </div>
</div>
-->
<div id="fixed-bar-wrap" class="fixed-bar-wrap open" style="z-index: 20;">
    <div id="control-bar" class="control-bar"></div>
    <div class="fixed-white-box">
        <div class="fixed-white-l">
            <div class="fixed-panel-header">
                装修计算器
                <small>今天已有860位业主获取了装修预算</small>
            </div>
            <div class="fixed-panel-body">
                <form class="form-horizontal calculator-form">
                    <input name="channel" value="设计师报价计算器" type="hidden">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋户型：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-4">
                                    <select class="form-control  remark">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">房屋面积：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="squareMeters" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">手机号码：<em>*</em></label>
                        <div class="col-xs-9">
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="phoneNumber" placeholder="报价结果将发送到您的手机">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit">
                        <button class="btn submit-label-btn">开始计算</button>
                        <span class="circle-animate"></span>
                    </div>
                </form>
            </div>
        </div>
        <div class="fixed-white-r">
            <h3>超精准计算，一步解决预算难题</h3>
            <div class="fixed-disc">
                您的装修预算 <strong id="zong">121459</strong> 元
            </div>
            <ul class="fixed-result">
                <li>材料费：<strong id="cai">58365</strong>元</li>
                <li>人工费：<strong id="ren">50497</strong>元</li>
                <li>设计费：<strong id="she">8218</strong>元</li>
                <li>质检费：<strong id="zhi">4379</strong>元</li>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        var zong = $('#zong');
        var cai = $('#cai');
        var ren = $('#ren');
        var she = $('#she');
        var zhi = $('#zhi');
        var myArray = [[121459, 58365, 50497, 8218, 4379],
            [155424, 69322, 77284, 5373, 3445],
            [108289, 87732, 17309, 1583, 1665],
            [236859, 126580, 92027, 11769, 6483],
            [142826, 75720, 52404, 9717, 4985]];

        var i = 0;
        var timer = setInterval(function () {
            if (i > 4) {
                i = 0;
            }
            var arraySon = myArray[i];
            zong.text(arraySon[0]);
            cai.text(arraySon[1]);
            ren.text(arraySon[2]);
            she.text(arraySon[3]);
            zhi.text(arraySon[4]);
            i++
        }, 200);
    })
</script>