<!-- 导航条-->
    <div class="auto-box-lg">
        <ul class="head-nav">
            <li class="active"><a href="/">首页</a></li>
            <li class="has-arrow"><a href="JavaScript:;">服务模式</a></li>
            <li class="has-arrow"><a href="{:url('residential/index')}">装修案例</a></li>
            <li class="has-arrow"><a href="{:url('designer/index')}">设计师</a></li>
            <li class="has-arrow"><a href="{:url('raiders/index')}">装修头条</a></li>
            <li class="has-arrow"><a href="{:url('sale/index')}">施工保障</a></li>
            <li class=""><a href="{:url('about/index')}">了解尺渡</a></li>
        </ul>
        <a class="header-media">
            <img src="__STATIC__/home/image/tel.png" alt="user">
            <div class="media-body">
                <h3>在线客服：小业</h3>
                <p></p>
            </div>
        </a>
    </div>
    <div class="drop-wrap">
        <div class="drop-nav">
            <div class="auto-box">
                <div class="drop-al-l">
                    <ul class="service-model">
                        <li>
                            <a href="{:url('special/index')}" target="_blank">
                                <img src="__STATIC__/home/image/service-model-3.jpg" alt="">
                                <span>别墅大宅</span>
                            </a>
                        </li>
                        <li>

                            <a href="{:url('special/privates')} " target="_blank">
                                <img src="__STATIC__/home/image/service-model-2.jpg" alt="">
                                <span>私人定制</span>
                            </a>
                        </li>
                        <li>

                            <a href="/SpecialTopics3/HeartSaving " target="_blank">
                                <img src="__STATIC__/home/image/service-model-1.jpg" alt="">
                                <span>整装优势</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="drop-nav">
            <div class="auto-box">
                <div class="drop-al-l">
                    <ul class="al-tab">
                        <li class="active"><a href="JavaScript:;">案例地区</a></li>
                        <li><a href="JavaScript:;">案例风格</a></li>
                        <li><a href="JavaScript:;">案例户型</a></li>
                        <li><a href="JavaScript:;">案例面积</a></li>
                    </ul>
                    <div class="al-tab-content">
                        <div class="al-tab-body" style="display: block">
                            {volist name="region" id="vo" offset='0' length='8' }
                            <a href="{:url('residential/areaid')}?rid={$vo.id}">{$vo.title}</a>
                            {/volist}
                        </div>
                        <div class="al-tab-body">
                             {volist name="style" id="vo" offset='0' length='8' }
                            <a href="{:url('residential/areaid')}?sid={$vo.id}">{$vo.title}</a>
                             {/volist}
                            <a href="{:url('residential/areaid')}">更多</a>
                        </div>
                        <div class="al-tab-body">
                            {volist name="huxing" id="vo" offset='0' length='8' }
                            <a href="{:url('residential/areaid')}?hid={$vo.id}">{$vo.title}</a>
                            {/volist}
                            <a href="{:url('residential/areaid')}">更多</a>
                        </div>
                        <div class="al-tab-body">
                            {volist name="mianji" id="vo" offset='0' length='8' }
                            <a href="{:url('residential/areaid')}?mid={$vo.id}">{$vo.title}</a>
                            {/volist}
                        </div>
                    </div>
                </div>
                <div class="drop-last-item drop-last-case">
                    <a href="{:url('residential/popular')}">
                        <i class="iconfont icon-zhoubianloupan"></i>
                        <span>热门楼盘</span>
                    </a>
                    <a href="{:url('site/index')}">
                        <i class="iconfont icon-fujingongdi"></i>
                        <span>看工地</span>
                    </a>
                    <div class="drop-last-search">
                        <div class="search-group">
                            <form method="get" action="{:url('residential/index')}">
                                <input name="searchKey" type="text" class="form-control" placeholder="输入我家小区名称，查看工地">
                                <button class="btn" type="submit"><i class="iconfont icon-fangdajing"></i></button>
                            </form>
                        </div>
                        <div class="search-txt">
                            <span>热门搜索:</span>
                            <a href="/Residential?searchKey=太阳城 ">太阳城</a>
                            <a href="/Residential?searchKey=荷澜庭 ">荷澜庭</a>
                            <a href="/Residential?searchKey=龙湖时代天街 ">龙湖时代天街</a>
                            <a href="/Residential?searchKey=禧悦 ">禧悦</a>
                            <a href="/Residential?searchKey=狮山御园 ">狮山御园</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-nav">
            <div class="auto-box">
                <dl class="drop-dl">
                    <dt><a href="{:url('designer/index')}">擅长户型 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                        {volist name="huxing" id="hu" offset="0" length='8'}
                        <span> <a href="{:url('designer/index')}?hid={$hu.id}">{$hu.title}</a></span>
                        {/volist}
                        <span><a href="{:url('designer/index')}">更多>></a></span>
                    </dd>
                </dl>
                <dl class="drop-dl">
                    <dt><a href="{:url('designer/index')}">擅长风格 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                         {volist name="style" id="ss" offset="0" length='8'}
                        <span><a href="{:url('designer/index')}?sid={$ss.id}">{$ss.title}</a></span>
                          {/volist}
                        <span><a href="{:url('designer/index')}">更多>></a></span>
                    </dd>
                </dl>
                <dl class="drop-dl">
                    <dt><a href="{:url('designer/index')}">设计师级别 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                        {volist name="jibie" id="jj" offset="0" length='8' }
                        <span><a href="{:url('designer/index')}?jid={$jj.id}">{$jj.title}</a></span>
                         {/volist}
                        <span><a href="{:url('designer/index')}">更多>></a></span>
                    </dd>
                </dl>
                <div class="drop-last-design">
                    <div class="last-design-hd">
                        <i class="iconfont icon-xing"></i>本周 <br>
                        人气 <br>
                        设计师
                    </div>
                    <div class="last-design-bd">
                        <ul>
                            {volist name="huo" id="vo" offset='0' length='3'}
                            <li>
                                <a href="{:url('designer/detail')}?id={$vo.id}" class="design-link">
                                    <img src="{$vo.img}" alt="">
                                </a>
                                <span><a href="{:url('designer/detail')}?id={$vo.id}">{$vo.names}</a></span>
                            </li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="drop-nav">
            <div class="auto-box">
                <dl class="drop-dl">
                    <dt><a href="JavaScript:;">装修前 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/129">收房</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/49">设计</a></span> <br>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/130">预算</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/131">合同</a></span>
                    </dd>
                </dl>
                <dl class="drop-dl">
                    <dt><a href="JavaScript:;">装修中 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/138">拆改</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/137">水电</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/136">防水</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/135">泥瓦</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/134">木工</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/">更多>></a></span>
                    </dd>
                </dl>
                <dl class="drop-dl">
                    <dt><a href="JavaScript:;">装修后 <i class="iconfont icon-jiantou-right"></i></a></dt>
                    <dd>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/141">软装</a></span>
                        <span><a href="http://www.yzf.com.cn/DecorationRaiders/list/140">入住</a></span>
                    </dd>
                </dl>
                <div class="drop-last-item">
                    <a href="http://www.yzf.com.cn/DecorationRaiders/List/177">
                        <i class="iconfont icon-kongjianbangyang"></i>
                        <span>空间榜样视频</span>
                    </a>
                    <!--
                    <a href="/spm/topicfree">
                        <i class="iconfont icon-web-icon-"></i>
                        <span>免费前三步</span>
                    </a>
                    -->
                    <a href="/sp/pmbj0902">
                        <i class="iconfont icon-58"></i>
                        <span>装修报价</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="drop-nav">
            <div class="auto-box">
                <div class="fw-wrap">
                    <div class="fw-media">
                        <a target="_blank" href="{:url('special/blue')}">
                            <div class="fw-media-hd">
                                <i class="iconfont icon-zuanshi"></i>
                            </div>
                            <div class="fw-media-bd">
                                <h4>蓝钻工程</h4>
                                <p>欧标工艺，四大保障体系全新升级</p>
                            </div>
                        </a>
                    </div>
                    <div class="fw-media">
                        <a target="_blank" href="{:url('special/ep')}">
                            <div class="fw-media-hd">
                                <i class="iconfont icon-fangshui"></i>
                            </div>
                            <div class="fw-media-bd">
                                <h4>三重防护系统</h4>
                                <p>业之峰装修防护标准</p>
                            </div>
                        </a>
                    </div>
                    <div class="fw-media">
                        <a target="_blank" href="{:url('special/fivezero')}">
                            <div class="fw-media-hd">
                                <i class="iconfont icon-rexiaoloupan"></i>
                            </div>
                            <div class="fw-media-bd">
                                <h4>五零靠谱承诺</h4>
                                <p>重新定义靠谱家装</p>
                            </div>
                        </a>
                    </div>

                    <div class="fw-media">
                        <a target="_blank" href="{:url('index/sale/index')}">
                            <div class="fw-media-hd">
                                <i class="iconfont icon-xin"></i>
                            </div>
                            <div class="fw-media-bd">
                                <h4>五星售后服务</h4>
                                <p>国家标准五星级服务认证</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
