<!--右侧悬浮：免费报价 -->
<div class="modal fade" id="priceModal">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">获取装修报价<small>Decorate for quotation</small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" >
                    <input name="channel" value="获取装修报价" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="name" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10">
                        <input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号">
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="xiao" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="square" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">发送报价至手机</button></div>
                    </div>
                    <div class="form-disc">*尺渡装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>


