<!-- 右侧悬浮：预约设计 -->
<!-- 主页 / 环保三防体系 / 预约设计 -->
<div class="modal fade" id="yuyuesheji" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">预约设计<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" >
                    <input name="channel" value="预约设计" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="y_names" type="text" class="form-control" value='' placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10"><input name="y_phone" type="text" value=''  class="form-control" placeholder="输入手机号"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="y_xiaoqu" type="text" value='' class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="y_square" type="text" value='' class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button  type="button" id="yuyue"  class="btn btn-gold btn-block">预约设计</button></div>
                    </div>
                    <div class="form-disc">*尺渡装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    //正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }

    //面积
    function  isHouseArea (mian) {
        var reg =new RegExp('^[1-9]{1}[0-9]{0,2}$');
        return reg.test(mian);
    }
    //预约提交
        $("#yuyue").click(function(){
            var channel = $("input[name='channel']").val();
            var names = $("input[name='y_names']").val();
            var phone = $("input[name='y_phone']").val();
            var xiaoq = $("input[name='y_xiaoqu']").val();
            var square = $("input[name='y_square']").val();
            if (names == '' || names == undefined) {
                alert('用户名不能为空！');
            }else if (isPhoneNo(phone) == false || phone == 'null') {
                alert('手机号不合法！');
            }else if (square == '' ||square == undefined ){
                alert('户型面积不合法！');
            }else if (xiaoq == '' || xiaoq == undefined){
                alert('请填写小区名称！');
            }else{
                $.ajax({
                    url:"{:url('api/send/zhuang')}",
                    type:'post',
                    data:{'channel':channel,'square':square,'xiao':xiaoq,'names':names,'phone':phone},
                    success:function(res){
                        console.log(res);
                        if(res.code == 200){
                            alert(res.msg);
                            window.location.reload();
                        }else{
                            alert(res.msg);
                            window.location.reload();
                        }
                    }
                })
            }
        })

</script>