<!-- 右侧悬浮：预约设计 -->
<!-- 主页 / 环保三防体系 / 预约设计 -->
<div class="modal fade" id="yuyuesheji" style="display: none;">
    <div class="modal-dialog yzf-modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title">预约设计<small></small></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="yuyue">
                    <input name="channel" value="预约设计" type="hidden" />
                    <div class="form-group">
                        <label class="col-xs-2 control-label">姓名</label><div class="col-xs-10"><input name="names" type="text" class="form-control" placeholder="输入姓名"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">手机</label><div class="col-xs-10"><input name="phoneNumber" type="text" class="form-control" placeholder="输入手机号"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">小区</label><div class="col-xs-4"><input name="residentialName" type="text" class="form-control" placeholder="输入小区名"></div>
                        <label class="col-xs-2 control-label">面积</label><div class="col-xs-4"><input name="squareMeters" type="text" class="form-control" placeholder="输入面积"></div>
                    </div>
                    <div class="form-group submit">
                        <div class="btn-wrap"><button type="button" class="btn btn-gold btn-block">预约设计</button></div>
                    </div>
                    <div class="form-disc">*尺渡装饰向您承诺，您的个人隐私我们会严格保密！</div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $("#yuyue").click(function(){
         var channel  = $("input[name='channel']").val();
         var names  = $("input[name='names']").val();
         var phone  = $("input[name='phoneNumber']").val();
         var xiaoqu  = $("input[name='residentialName']").val();
         var square  = $("input[name='squareMeters']").val();

           if(names == '' || phone==''){
               alert(11);
               return false;
           }else{
               $.ajax({
                   url:"{:url('api/send/sheji')}",
                   type:'post',
                   data:{channel:channel,names:names,phone:phone,xiaoqu:xiaoqu,square:square},
                   success:function(res){
                       console.log(111)
                   }
               })
           }
    })
</script>