
{include file="public/header-two" /}

<link rel="stylesheet" href="__STATIC__/home/css_/main.css" />
{include file="public/location-two" /}
<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">


    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('raiders/index')}">装修攻略</a></li>
                <li class="active">爱家物语</li>
            </ol>
            <div class="content-body">
                <div class="side-left">


                    <div class="side-panel">
                        <div class="side-panel-header">
                            幸福家居课堂
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media-img">
                                <li class="active">
                                    <a class="side-media-hd" href="{:url('love/index')}">
                                        <img src="http://picfw.yzf.com.cn/2018/1/24/1914363234222.png_100x100.png" alt=""></a>
                                    <div class="side-media-bd">
                                        <h4><a href="{:url('love/index')}">爱家物语</a></h4>
                                        <p>尺度装饰集团爱家物语系列原创软文  </p>
                                    </div>
                                </li>
                                <li class="">
                                    <a class="side-media-hd" href="{:url('thing/index')}"><img src="http://picfw.yzf.com.cn/999999/2018/3/20/1961849086400.png_100x100.png" alt=""></a>
                                    <div class="side-media-bd">
                                        <h4><a href="{:url('thing/index')}">装修的那些事儿</a></h4>
                                        <p>听尺度老师傅讲装修攻略  </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-calculator">
                        <dl>
                            <dt>我家装修要花多少钱？</dt>
                            <dd>超精准计算，一步解决预算问题</dd>
                        </dl>
                        <div class="calculator-screen"></div>
                        <form class="form-horizontal calculator-form">
                            <input name="g_channel" value="攻略站报价计算器" type="hidden" />
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select class="form-control  remark" name="g_shi">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="g_ting">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="g_chu">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="g_wei">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="g_tai">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="g_square" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="g_phone" placeholder="报价结果将发送到您的手机上">
                                </div>
                            </div>
                            <div class="form-group btn-box submit">
                                <div class="col-xs-12">
                                    <a class="btn btn-block" id="gongnue">发送至手机</a>
                                </div>
                            </div>
                        </form>
                    </div>



                    <div class="side-adv">
                        <a target="_blank" href="/"><img src="__STATIC__/home/images/side-adv.jpg" alt=""></a>
                    </div>
                    <div class="side-adv">
                        <a><img src="__STATIC__/home/images/side-advlr.png" alt=""></a>
                    </div>





                    <div class="side-panel">
                        <div class="side-panel-header">

                            热门文章排行榜
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media">
                                <li>
                                    <a href="/DecorationRaiders/Detail/188" title="感受设计情怀，简美风格案例赏析 龙源国际城">
                                        <img src="http://picfw.yzf.com.cn/2017/12/6/1872013323427.jpg_360x255.jpg" alt="感受设计情怀，简美风格案例赏析 龙源国际城">
                                        <span>感受设计情怀，简美风格案例赏析 龙源国际城</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/258" title="暗香留心！业之峰，于岁月流转中不负芳华！">
                                        <img src="http://picfw.yzf.com.cn/2018/1/24/1914377488611.png_360x255.png" alt="暗香留心！业之峰，于岁月流转中不负芳华！">
                                        <span>暗香留心！业之峰，于岁月流转中不负芳华！</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/275" title="油漆后的家具为何会泛黄?怎样预防?">
                                        <img src="http://picfw.yzf.com.cn/100021/2018/2/3/1922774359130.jpg_360x255.jpg" alt="油漆后的家具为何会泛黄?怎样预防?">
                                        <span>油漆后的家具为何会泛黄?怎样预防?</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/288" title="买房风水禁忌 最宜居住的家居风水布局">
                                        <img src="http://picfw.yzf.com.cn/100021/2018/1/27/1916961741151.jpg_360x255.jpg" alt="买房风水禁忌 最宜居住的家居风水布局">
                                        <span>买房风水禁忌 最宜居住的家居风水布局</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/DecorationRaiders/Detail/1356" title="【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》">
                                        <img src="http://picfw3.yzf.com.cn/wx/9e8402efb8bb4b5c80260b531fb2f931.jpg" alt="【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》">
                                        <span>【谭旭辉作品】第八届筑巢奖获奖作品——《欧式中的东方风情》</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>



                </div>
                <div class="main">
                    <div class="vd-top">
                        <div class="gl-space-tag">
                            <span>分享<i class="iconfont icon-fenxiang"></i></span>
                            <div class="drop-share">
                                <!-- JiaThis Button BEGIN -->
                                <div class="jiathis_style_24x24">
                                    <a class="jiathis_button_weixin"><i class="iconfont icon-weixin"></i></a>
                                    <a class="jiathis_button_tsina"><i class="iconfont icon-weibo"></i></a>
                                    <a class="jiathis_button_cqq"><i class="iconfont icon-QQ"></i></a>
                                    <a class="jiathis_button_tieba"><i class="iconfont icon-baidu1"></i></a>
                                    <!--<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>-->
                                </div>
                                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                <!-- JiaThis Button END -->
                            </div>
                        </div>
                        <div class="vd-top-hd"><img src="http://picfw.yzf.com.cn/2018/1/24/1914363234222.png" alt=""></div>
                        <div class="vd-top-bd">
                            <h4>
                                <strong>爱家物语</strong>
                                <span><i class="iconfont icon-yinpin"></i>25作品</span>
                                <span><i class="iconfont icon-xin"></i>1000人气</span>
                            </h4>
                            <p>
                            <p>尺渡装饰集团爱家物语系列原创软文</p>
                            </p>
                        </div>
                        <div class="vd-top-ft">
                            <a  href="JavaScript:;" class="btn">+ 关注</a>
                        </div>
                    </div>

                    <div class="list-filter vd-filter">
                        <ul>
                            <!--
                            <li class=""><a href="/DecorationRaiders/List/120?orderby=sortid">按浏览热度 <i class="iconfont icon-shang"></i></a></li>
                            <li class="active"><a href="/DecorationRaiders/List/120?orderby=DateCreated">按时间顺序 <i class="iconfont icon-xia"></i></a></li>
                          -->
                        </ul>
                    </div>
                    <div class="news-panel">
                        <div class="news-panel-body">
                            <ul class="strategy-list audio">
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/599"><img src="http://picfw3.yzf.com.cn/100021/2018/4/28/1995537645817.png" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/599">放晴生活！业之峰，以东南亚风情拥抱大自然！</a></h3>
                                        <p>在棕色或咖啡色系的家具风格和实木、棉麻以及藤条饰品搭配中,享受着这份最接近自然的东南业风情,家中的一切放佛都化作了对新生活的憧憬,你我从此就这样拥在了大自然的怀抱里......</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-04-28</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/598"><img src="http://picfw3.yzf.com.cn/100021/2018/4/28/1995532902591.png" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/598">嫁给爱情！业之峰，以地中海风情，鉴证浪漫一生！</a></h3>
                                        <p>爱情是一个永恒的话题,亦如幻想中,梦中情人终会脚踏七彩祥云飞奔而来....然而,真正的爱情,却并非如此轰轰烈烈,更多的时候,是在这个最具爱情滋味的地中海的家中,在这个四月的清晨里,早餐第一口给你,鱼丸最后一颗给你,手给你,怀抱给你,钥匙、家和我的余生全部都给你...</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-04-28</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/597"><img src="http://picfw3.yzf.com.cn/100021/2018/4/28/1995531017245.png" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/597">书香国韵！业之峰，诗词作伴好踏青！</a></h3>
                                        <p>“ 樱桃花下送君时，一寸春心逐折枝。”此时窗外的樱花海，似乎与这书房中的书海，相得益彰！就这样一卷在手,与春同读,生活从此赏心悦目...</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-04-28</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/577"><img src="http://picfw4.yzf.com.cn/100021/2018/4/17/1986005963276.png" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/577">繁简本真！业之峰，以简欧之道，唤醒生活平衡之美！</a></h3>
                                        <p>在本次设计上，设计师在整体空间布局强调中轴线的对称关系，在细节处理上运用了法式的廊柱、线条、雕花等元素，空间中随处可见花卉、绿色植物与雕刻精美的家具。在布局上，设计师以浅色系设计，空间里，设计师精心把握材质搭配和虚实结构构造，创造出空间精致度与质感，展现主人独特的品味，赋予空间平衡之美。</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-04-17</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/576"><img src="http://picfw4.yzf.com.cn/100021/2018/4/17/1986000134323.png" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/576">沐浴阳光！业之峰，纯正美式大宅，缔造自由生活！</a></h3>
                                        <p>唯有这一份对家的自由和向往，才能让生活随时都可以沐浴着阳光，在夜里，听着孩子们唱喜欢的儿歌，在春天，一家人种的树生根发芽，碗里的饭掺着我给爱人讲的笑话，生活就这样再也不会被羁绊...这样一份如诗般的生活印记，完美的呈现在我们今天这个位于万科青岛小镇330平米的美式风格别墅里。</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-04-17</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/444"><img src="http://picfw.yzf.com.cn/100021/2018/3/21/1962674964341.jpg" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/444">“美屋”醉人心！业之峰，与你回味，这份无法割舍的港式情缘！</a></h3>
                                        <p>总有一瞬间，想为你煮面作汤羹，还有掺杂在古惑仔中的港式餐厅、港式甜点，以及警匪、医院剧情中港式的家居情怀，简约时尚、干练清爽的空间氛围，似乎让很多人，都曾有这个一种想法，能不能把这轻奢随性的“港式情怀”搬回家！</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-03-21</span>

                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="/DecorationRaiders/Detail/442"><img src="http://picfw.yzf.com.cn/100021/2018/3/21/1962672215302.jpg" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="/DecorationRaiders/Detail/442">简单即真实！业之峰，返璞归真，从家开始！</a></h3>
                                        <p>这本次设计过程中，设计师这样告诉我们，“当下流行时尚千变万化,纠结于潮流风格业主，都会觉得跟风真的很累，但也想要一个永不过时的家。作为设计师，我们是这样认为的，其实不管时代和审美如何变幻，那些最简约的实用主义的元素，都将是长盛不衰的经典。</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">2018-03-21</span>

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <nav class="text-center">
                        <ul class="pagination">
                            <li class="active"><a data-pjax="" href="/DecorationRaiders/list/120?PageIndex=1">1</a></li>
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}



<script type="text/javascript">
    var Mask = false;
    $(".submit").on("click", function () {
        var $form = $(this).parent("form");

        if (!Mask) {
            Mask = true;
            var Phone = $form.find("[name='PhoneNumber']").val();
            if (RegPhone(Phone)) {

                var $remark = $form.find(".remark");
                if ($remark.length > 0) {
                    var remarkval = '';
                    $remark.each(function () {
                        remarkval += $(this).val();
                    });
                    var $remark = $form.find("[name='remark']");
                    if ($remark.length > 0) {
                        $remark.val(remarkval);
                    }
                    else {
                        $form.append("<input type='hidden' value='" + remarkval + "' name='remark' />");
                    }
                }

                $.ajax({
                    type: "post",
                    url: "/Registration/Insert",
                    data: $form.serialize(),
                    success: function (json) {
                        //debugger;
                        //var json = eval("(" + json + ")");
                        if (json.MessageType == 1) {
                            $('form')[0].reset();
                            alert("恭喜您，报名成功");
                        }
                        else {
                            alert("同一手机号码只能领取一次！");
                        }
                        Mask = false;
                    }
                });
            }
            else {
                alert("请输入正确的电话号码");
                Mask = false;
            }
        }
        return false;
    });

    function RegPhone(Phone) {

        /*验证电话号码
         验证规则：区号+号码，区号以0开头，3位或4位号码由7位或8位数字组成
         区号与号码之间可以无连接符，也可以“-”连接
         如01088888888,010-88888888,0955-7777777 */
        var isPhone = /^0\d{2,3}-?\d{7,8}$/;
        /*验证手机号码
         移动：134(1349除外）135 136 137 138 139 147 150 151 152 157 158 159 182 183 184 187 188
         联通：130 131 132 155 156 185 186 145
         电信：133 153 177 180 181 189*/
        //var isMob = /^((\+?86)|(\(\+86\)))?(13[012356789][0-9]{8}|15[012356789][0-9]{8}|18[02356789][0-9]{8}|147[0-9]{8}|1349[0-9]{7})$/;

        var isMob = /^1\d{10}$/;
        if (isMob.test(Phone) || isPhone.test(Phone)) {
            return true;
        }
        else {
            return false;
        }
    }
</script>
<script src="__STATIC__/home/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<script>
    //手机正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    //攻略
    $("#gongnue").click(function(){
        var shi = $("select[name='g_shi']").val();
        var ting = $("select[name='g_ting']").val();
        var chu = $("select[name='g_chu']").val();
        var wei = $("select[name='g_wei']").val();
        var tai = $("select[name='g_tai']").val();
        var channel = $("input[name='g_channel']").val();
        var phone = $("input[name='g_phone']").val();
        var square = $("input[name='g_square']").val();
        if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
        }else if (square == '' ||square == undefined ){
            alert('请填写户型大小！');;
        }else{
            $.ajax({
                url:"{:url('api/send/libao')}",
                type:'post',
                data:{'channel':channel,'phone':phone,'square':square,'shi':shi,'ting':ting,'chu':chu,'wei':wei,'tai':tai},
                success:function(res){
                    console.log(res);
                    if(res.code == 2000){
                        alert(res.msg);
                        window.location.reload();
                    }else if(res.code==4001){
                        alert(res.code);
                    }else if(res.code== 4002){
                        alert(res.code);
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })



</script>

</body>
</html>