
{include file="public/header-two" /}

<link rel="stylesheet" href="__STATIC__/home/css_/main.css" />
{include file="public/location-two" /}
<div class="header">
    {include file="public/menu" /}
</div>
<div id="RenderBody">


    <div class="content">
        <div class="auto-box">
            <ol class="breadcrumb normal">
                <span>当前位置：</span>
                <li><a href="/">首页</a></li>
                <li><a href="{:url('raiders/index')}">装修攻略</a></li>
                <li class="active">爱家物语</li>
            </ol>
            <div class="content-body">
                <div class="side-left">


                    <div class="side-panel">
                        <div class="side-panel-header">
                            幸福家居课堂
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media-img">
                                <li class="active">
                                    <a class="side-media-hd" href="{:url('love/index')}">
                                        <img src="http://picfw.yzf.com.cn/2018/1/24/1914363234222.png_100x100.png" alt=""></a>
                                    <div class="side-media-bd">
                                        <h4><a href="{:url('love/index')}">爱家物语</a></h4>
                                        <p>尺度装饰集团爱家物语系列原创软文  </p>
                                    </div>
                                </li>
                                <li class="">
                                    <a class="side-media-hd" href="{:url('thing/index')}"><img src="http://picfw.yzf.com.cn/999999/2018/3/20/1961849086400.png_100x100.png" alt=""></a>
                                    <div class="side-media-bd">
                                        <h4><a href="{:url('thing/index')}">装修的那些事儿</a></h4>
                                        <p>听尺度老师傅讲装修攻略  </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="side-calculator">
                        <dl>
                            <dt>我家装修要花多少钱？</dt>
                            <dd>超精准计算，一步解决预算问题</dd>
                        </dl>
                        <div class="calculator-screen"></div>
                        <form class="form-horizontal calculator-form">
                            <input name="g_channel" value="攻略站报价计算器" type="hidden" />
                            <div class="form-group">
                                <div class="col-xs-4">
                                    <select class="form-control  remark" name="g_shi">
                                        <option value="1室">1室</option>
                                        <option value="2室">2室</option>
                                        <option value="3室" selected="">3室</option>
                                        <option value="4室">4室</option>
                                        <option value="5室">5室</option>
                                        <option value="6室">6室</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="g_ting">
                                        <option value="1厅" selected="">1厅</option>
                                        <option value="2厅">2厅</option>
                                        <option value="3厅">3厅</option>
                                        <option value="4厅">4厅</option>
                                        <option value="5厅">5厅</option>
                                        <option value="6厅">6厅</option>
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    <select class="form-control remark" name="g_chu">
                                        <option value="1厨" selected="">1厨</option>
                                        <option value="2厨">2厨</option>
                                        <option value="3厨">3厨</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="g_wei">
                                        <option value="1卫" selected="">1卫</option>
                                        <option value="2卫">2卫</option>
                                        <option value="3卫">3卫</option>
                                    </select>
                                </div>
                                <div class="col-xs-6">
                                    <select class="form-control remark" name="g_tai">
                                        <option value="1阳台" selected="">1阳台</option>
                                        <option value="2阳台">2阳台</option>
                                        <option value="3阳台">3阳台</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 area">
                                    <input type="text" class="form-control" name="g_square" placeholder="输入您的房屋面积">
                                    <span class="m2">㎡</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" name="g_phone" placeholder="报价结果将发送到您的手机上">
                                </div>
                            </div>
                            <div class="form-group btn-box submit">
                                <div class="col-xs-12">
                                    <a class="btn btn-block" id="gongnue">发送至手机</a>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="side-adv">
                        <a target="_blank" href="/"><img src="__STATIC__/home/images/side-adv.jpg" alt=""></a>
                    </div>
                    <div class="side-adv">
                        <a><img src="__STATIC__/home/images/side-advlr.png" alt=""></a>
                    </div>


                    <div class="side-panel">
                        <div class="side-panel-header">

                            热门文章排行榜
                        </div>
                        <div class="side-panel-body">
                            <ul class="side-media">
                                {volist name="re" id="vo"}
                                <li>
                                    <a href="{:url('raiders/z_detail')}?id={$vo.id}" title="{$vo.title}">
                                        <img src="{$vo.img}" alt="{$vo.title}">
                                        <span>{$vo.title}</span>
                                    </a>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>



                </div>
                <div class="main">
                    <div class="vd-top">
                        <div class="gl-space-tag">
                            <span>分享<i class="iconfont icon-fenxiang"></i></span>
                            <div class="drop-share">
                                <!-- JiaThis Button BEGIN -->
                                <div class="jiathis_style_24x24">
                                    <a class="jiathis_button_weixin"><i class="iconfont icon-weixin"></i></a>
                                    <a class="jiathis_button_tsina"><i class="iconfont icon-weibo"></i></a>
                                    <a class="jiathis_button_cqq"><i class="iconfont icon-QQ"></i></a>
                                    <a class="jiathis_button_tieba"><i class="iconfont icon-baidu1"></i></a>
                                    <!--<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>-->
                                </div>
                                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                                <!-- JiaThis Button END -->
                            </div>
                        </div>
                        <div class="vd-top-hd"><img src="http://picfw.yzf.com.cn/2018/1/24/1914363234222.png" alt=""></div>
                        <div class="vd-top-bd">
                            <h4>
                                <strong>爱家物语</strong>
                                <span><i class="iconfont icon-yinpin"></i>{$count}作品</span>
                                <span><i class="iconfont icon-xin"></i>1000人气</span>
                            </h4>
                            <p>
                            <p>尺渡装饰集团爱家物语系列原创软文</p>
                            </p>
                        </div>
                        <div class="vd-top-ft">
                            <a  href="JavaScript:;" class="btn">+ 关注</a>
                        </div>
                    </div>

                    <div class="list-filter vd-filter">
                        <ul>
                            <!--
                            <li class=""><a href="/DecorationRaiders/List/120?orderby=sortid">按浏览热度 <i class="iconfont icon-shang"></i></a></li>
                            <li class="active"><a href="/DecorationRaiders/List/120?orderby=DateCreated">按时间顺序 <i class="iconfont icon-xia"></i></a></li>
                          -->
                        </ul>
                    </div>
                    <div class="news-panel">
                        <div class="news-panel-body">
                            <ul class="strategy-list audio">
                                {volist name="list" id="vo"}
                                <li>
                                    <div class="strategy-video-hd">
                                        <a href="{:url('love/detail')}?id={$vo.id}"><img src="{$vo.img}" alt=""></a>
                                    </div>
                                    <div class="strategy-bd">
                                        <h3><a href="{:url('love/detail')}?id={$vo.id}">{$vo.title}</a></h3>
                                        <p>{$vo.desc|default=''}</p>
                                        <div class="strategy-control">
                                            <span class="pull-right">{$vo.time|date='Y-m-d'}</span>
                                        </div>
                                    </div>
                                </li>
                                {/volist}
                            </ul>
                        </div>
                    </div>

                    <nav class="text-center">
                        <ul class="pagination">
                            {$list|raw}
                        </ul>
                    </nav>


                </div>
            </div>
        </div>
    </div>

</div>

{include file="public/footer" /}

{include file="public/menu_right" /}

{include file="public/price" /}

{include file="public/yuyue" /}



<script src="__STATIC__/home/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>

<script>
    //手机正则
    function isPhoneNo(phones) {
        var isPhone = /^1[3|4|5|7|8][0-9]{9}$/;
        return  isPhone.test(phones);
    }
    //攻略
    $("#gongnue").click(function(){
        var shi = $("select[name='g_shi']").val();
        var ting = $("select[name='g_ting']").val();
        var chu = $("select[name='g_chu']").val();
        var wei = $("select[name='g_wei']").val();
        var tai = $("select[name='g_tai']").val();
        var channel = $("input[name='g_channel']").val();
        var phone = $("input[name='g_phone']").val();
        var square = $("input[name='g_square']").val();
        if (isPhoneNo(phone) == false || phone == 'null') {
            alert('手机号不合法！');
        }else if (square == '' ||square == undefined ){
            alert('请填写户型大小！');;
        }else{
            $.ajax({
                url:"{:url('api/send/baojia')}",
                type:'post',
                data:{'channel':channel,'phone':phone,'square':square,'shi':shi,'ting':ting,'chu':chu,'wei':wei,'tai':tai},
                success:function(res){
                    console.log(res);
                    if(res.code == 200){
                        alert(res.msg);
                        window.location.reload();
                    }else{
                        alert(res.msg);
                        window.location.reload();
                    }
                }
            })
        }
    })



</script>

</body>
</html>