{include file="public/header-two" /}

{include file="public/location-two" /}
<div class="header">
  {include file="public/menu" /}
</div>
<div id="RenderBody">

    <link rel="stylesheet" href="__STATIC__/home/css_/topic-service.css" />
    <div class="service-a"></div>
    <div class="service-b">
        <div class="auto-box">
            <div class="service-box pull-right">
                <h2>五星级服务认证</h2>
                <p>
                    国家标准五星级服务认证 <br>
                    国家标准等级服务水平 <br>
                    家装行业国家标准五星级售后服务商品
                </p>
                <p><img src="__STATIC__/home/image/five-start.png" alt=""></p>
            </div>
        </div>
    </div>
    <div class="service-c">
        <div class="auto-box">
            <div class="service-box">
                <h2>五零靠谱承诺</h2>
                <p>颠覆传统，见证家装新革命，说到就要做到 ！</p>
                <ul class="service-five-list">
                    <li>零污染</li>
                    <li>零首付</li>
                    <li>零假货</li>
                    <li>零增项</li>
                    <li>零回扣</li>
                </ul>
            </div>
            <a href="{:url('special/fivezero')}" class="link-bar">
                <i class="iconfont icon-jiantou-right"></i>
                <p>查看详情</p>
            </a>
        </div>
    </div>
    <div class="service-d">
        <div class="auto-box">
            <div class="service-box pull-right">
                <h2>阳光<strong>8</strong>小时</h2>
                <p>8小时内就工单内容，建立详细档案并形成解决方案，公司保证在24小时内完善处理，并取得客户签字认可，维修不再等。</p>
                <p>
                    <a class="btn" href="javascript:void(0)" onclick="doyoo.util.openChat(&#39;g=10064078&#39;);return false;">申请售后</a>
                </p>
            </div>
        </div>
    </div>
    <div class="service-e">
        <div class="auto-box">
            <div class="service-box">
                <h2>延期快速赔付</h2>
                <p>
                    合同工期与实际工期不不一致？<br>
                    延迟工期维权难？<br>
                    业之峰全方位施工监管！<br>
                    我们承诺延迟一天，就赔三百！<br>
                    快速赔付，维权不再难于上青天！
                </p>
            </div>
            <a class="link-bar" href="javascript:void(0)" onclick="doyoo.util.openChat(&#39;g=10064078&#39;);return false;">
                <i class="iconfont icon-jiantou-right"></i>
                <p>申请快速赔付</p>
            </a>
        </div>
    </div>
    <div class="service-f">
        <div class="auto-box">
            <div class="service-box pull-right">
                <h2>防水工程保修5年</h2>
                <p>
                    品质好，就敢保！<br>
                    业之峰承诺防水工程保修5年，5年内免费维修！
                </p>
            </div>
        </div>
    </div>
    <div class="service-g">
        <div class="auto-box">
            <div class="service-box">

            </div>
        </div>
    </div>
    <script src="__STATIC__/home/assets/plugins/jquery.SuperSlide.2.1.1.js"></script>
    <script>
        $(function () {
            $('.promise-list-box a').click(function () {
                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
                return false;
            });
        })
    </script>

</div>

{include file="public/footer" /}


{include file="public/menu_right"  /}


{include file="public/price" /}

{include file="public/yuyue" /}

{include file="public/libao" /}
<script src="__STATIC__/home/assets/plugins/ResponsiveSlides.js-master/responsiveslides.js"></script>
<script src="__STATIC__/home/js/main.js"></script>
<script>
    // Slideshow 2
    $(".gl-kn-ul li").hover(function () {
        $(this).addClass('active').siblings().removeClass('active');
        $('.gl-kn-cont a').eq($(this).index()).stop(true, true).fadeIn(100).siblings().hide();
    });
    $(".gl-kn-tab").mouseleave(function () {
        $('.gl-kn-cont a').hide();
        $(".gl-kn-ul li").removeClass('active');
    })
</script>


<script>
    $('#a_qq').click(function () {
        $('#consultation').trigger('click');
    });
</script>

</body>
</html>
